{% extends 'root_email_template.html' %}


{% block heading %}
Hello {{user_email}}
{% endblock heading %}


{% block content_body %}
Your account has been successfully created in BISP LMS by {{created_by}}
{% endblock content_body %}

{% block button_link %}
<div style="margin-bottom:20px"><a href="{{url}}"
        style="display:inline-block;width:170px;background:#38abdd;padding:10px;text-align:center;color:#fff;font-size:1rem;font-weight:600;margin:0px auto;margin-bottom:20px;border-radius:5px;text-decoration:none;display:block">Login</a>
</div>
{% endblock button_link %}