{% extends 'root.html' %}

{% block main_menu %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item"><a class="nav-link" id="dashboard" href="{% url 'common:home' %}">Dashboard</a></li>

</ul>
{% endblock %}