body {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    color: #000;
    font-family: 'Raleway', sans-serif;
}
a, a:focus, a:hover, button {
    text-decoration: none;
    color: inherit;
    outline: none;
}
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('../font/raleway/Raleway-Regular.eot');
    src: url('../font/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/raleway/Raleway-Regular.woff2') format('woff2'),
        url('../font/raleway/Raleway-Regular.woff') format('woff'),
        url('../font/raleway/Raleway-Regular.ttf') format('truetype'),
        url('../font/raleway/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'Raleway';
    src: url('../font/raleway/Raleway-Light.eot');
    src: url('../font/raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/raleway/Raleway-Light.woff') format('woff'),
        url('../font/raleway/Raleway-Light.ttf') format('truetype'),
        url('../font/raleway/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}*/
@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans/opensans-regular-webfont.eot');
    src: url('../font/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/opensans/opensans-regular-webfont.woff2') format('woff2'),
        url('../font/opensans/opensans-regular-webfont.woff') format('woff'),
        url('../font/opensans/opensans-regular-webfont.ttf') format('truetype'),
        url('../font/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'open_sanslight';
    src: url('../font/opensans/opensans-light-webfont.eot');
    src: url('../font/opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/opensans/opensans-light-webfont.woff2') format('woff2'),
        url('../font/opensans/opensans-light-webfont.woff') format('woff'),
        url('../font/opensans/opensans-light-webfont.ttf') format('truetype'),
        url('../font/opensans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
.open-sans {
    font-family: 'open_sansregular';
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../font/source-sans-pro/SourceSansPro-Regular.eot');
    src: url('../font/source-sans-pro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-Regular.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.source-sans {
    font-family: 'Source Sans Pro';
}
.menu-fix {
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 0px 0px #dfdfdf;
    background: rgba(255, 255, 255, 1);
    padding: 0px 0;
    box-shadow: 0 0 4px 0 #bfbfbf;
}
.fixed-menu { 
    display: block;
    background: #f2f2f2;
}
.menu-fix-offer {
    left: 0;
    position: fixed;
    bottom: 0;
    transition: all 3s ease-in-out 0s;
    width: 100%;
    z-index: 99;
    //box-shadow: 0px 0px 0px #dfdfdf;
    //background: rgba(255, 255, 255, 1);
    padding: 0px 0;
    //box-shadow: 0 0 4px 0 #bfbfbf;
}
.fixed-menu-offer { 
    display: block;
    background: #f2f2f2;
}
.top-courses-side {
    background: #fa6c3e;
    position: fixed;
    z-index: 9999;
    top: 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    left: -48px;
    white-space: nowrap;
    display: block;
    transform: rotate(90deg);
}
.top-courses-side a {
    display: block;
    padding: 3px 15px;
    color: #fff !important;
    font-size: 17px;
}
header {
    position: relative;
    z-index: 999;
}
.top-bar {
    background: #fff;
    color: #fff;
    padding: 8px 0px;
}
.logo {
    padding: 0px 0px;
}
.top-bar-list {
    margin: 10px 0 0;
    padding: 0px;
    text-align: left;
    float: left;
}
.top-bar-list li {
    list-style: none;
    display: inline-block;
    margin: 0px 3px 0 0px;
    background: #ebeaea;
    width: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out 0s;
}
.top-bar-list li:hover{
    background: #d5e9fc;
    border-radius: 2px;
}
.fb-color {
    color: #3a559f;
}
.tw-color {
    color: #11c1ff;
}
.gp-color {
    color: #db4545;
}
.in-color {
    color: #007bb5;
}
.login-list {
    margin: 10px 5px 0 0px;
    padding: 0px;
    float: right;
}
.login-list li {
    list-style: none;
    display: inline-block;
    background: #fa6c3e;
    border-radius: 15px;
    font-size: 13px;
    text-transform: uppercase;
}
.login-list li a {
    display: block;
    padding: 4px 10px;
    font-weight: 500;
}
.cart {
    font-size: 30px;
    color: #0761b7;
    float: right;
}
.cart div {
    background: #fa6c3e;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    margin-top: 5px;
}
.search-bar {
    margin: 13px 0 0;
}
.search-bar input {
    font-size: 13px;
    border-color: #000;
    border-right: 0px;
    border-radius: 20px;
    padding: 18px 15px;
}
.search-btn .input-group-text {
    border-color: #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fa6c3e;
    color: #fff;
    padding: 0 15px;
}
.contact-number {
    margin: 10px 0 1px;
    padding: 0px;
    font-family: 'open_sansregular';
}
.contact-number li {
    list-style: none;
    display: inline-block;
    margin: 0 20px 0 0;
}
.contact-number li:last-child {
    margin-right: 0px;
}
.contact-number li h6 {
    color: #0761b7;
    font-size: 11px;
    margin: 0px;
}
.contact-number li p {
    font-size: 14px;
    margin: -4px 0 0;
}
.nav-bar {
    margin: 10px 0 0;
}
.btco-hover-menu .active a, .btco-hover-menu .active a:focus, .btco-hover-menu .active a:hover, .btco-hover-menu li a:hover, .btco-hover-menu li a:focus, .navbar > .show > a, .navbar > .show > a:focus, .navbar > .show > a:hover {
    color: #fa6c3e !important;
    background: transparent;
    border-bottom: solid 2px #fa6c3e;
}
/*.btco-hover-menu .active a::after {
    content: "\f0d8";
    font-family: FontAwesome;
    position: absolute;
    bottom: -4px;
    left: 45%;
}*/
.navbar-toggler {
    background-color: #FFF;
    border: 1px solid #3f3f3f;
}
.dropdown-toggle::after {
    color: #000;
    margin-left: 0px;
}
.carousel-indicators {
    cursor: pointer;
}
.carousel-indicators li {
    background-color: rgba(33, 33, 33, .9);
}
.carousel-indicators .active {
    background-color: #fc381a;
}
.carousel-control-next, .carousel-control-prev {
    width: 5%;
    opacity: 1;
}
.carousel-caption {
    right: 5%;
    left: 5%;
}
.next-icon {
    color: #000;
    font-size: 48px;
    transition: all 0.3s ease-in-out 0s;
}
.next-icon:hover {
    color: #ED4113;
}
.top-courses {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.top-courses li {
    list-style: none;
    background: rgb(250, 108, 62, .8);
    display: inline-block;
    border-radius: 15px;
}
.top-courses li a {
    color: #fff;
    display: block;
    padding: 2px 12px;
}
.top-courses li.title {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    background: transparent !important;
    font-weight: 600;
    border-bottom: solid 2px #ED4113;
    border-radius: 0;
    padding: 0 2px;
}
.trending-course {
    padding: 50px 0 60px;
    position: relative;
}
.title-bottom-border {
    border-bottom: solid 1px #e2e1e1;
    max-width: 250px;
    margin: 0 auto 30px;
}
.title-bottom-border div {
    background: #fa6c3e;
    width: 100px;
    margin: 0 auto;
    height: 3px;
}
.offer-bg {
    background: #0761b7;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0;
}
.offer-close {
    background: #fa6c3e;
    color: #fff;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 500;
    position: absolute;
    right: 0;
    z-index: 999;
    margin-top: -16px;
    cursor: pointer;
}
.course-box {
    background: #fff;
    border: solid 1px #fff;
    box-shadow: 0 0 5px 0 #c5c5c5;
    margin: 0 0 26px;
}
.course-img-box {
    background-color: #f78f1e;    
    background: -webkit-linear-gradient(left, #f78f1e, #fbc32c);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #f78f1e, #fbc32c);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #f78f1e, #fbc32c);/* IE 10 */    
    background: -o-linear-gradient(left, #f78f1e, #fbc32c);/* Opera 11.10+ */
    height: 112px;
    position: relative;
    transition: all 0.5s ease-in-out 0s;
}
.course-img-box:hover {
    background: -webkit-linear-gradient(left, #fbc32c, #f78f1e);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #fbc32c, #f78f1e);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #fbc32c, #f78f1e);/* IE 10 */    
    background: -o-linear-gradient(left, #fbc32c, #f78f1e);/* Opera 11.10+ */
}
.course-img-box img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.msbi {
    background-color: #7d8a8d;    
    background: -webkit-linear-gradient(left, #7d8a8d, #a9d3ec);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #7d8a8d, #a9d3ec);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #7d8a8d, #a9d3ec);/* IE 10 */    
    background: -o-linear-gradient(left, #7d8a8d, #a9d3ec);/* Opera 11.10+ */
}
.msbi:hover {
    background: -webkit-linear-gradient(left, #a9d3ec, #7d8a8d);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #a9d3ec, #7d8a8d);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #a9d3ec, #7d8a8d);/* IE 10 */    
    background: -o-linear-gradient(left, #a9d3ec, #7d8a8d);/* Opera 11.10+ */
}
.power-bi {
    background-color: #00a84a;    
    background: -webkit-linear-gradient(left, #00a84a, #00743f);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #00a84a, #00743f);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #00a84a, #00743f);/* IE 10 */    
    background: -o-linear-gradient(left, #00a84a, #00743f);/* Opera 11.10+ */
}
.power-bi:hover {
    background: -webkit-linear-gradient(left, #00743f, #00a84a);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #00743f, #00a84a);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #00743f, #00a84a);/* IE 10 */    
    background: -o-linear-gradient(left, #00743f, #00a84a);/* Opera 11.10+ */
}
.qlik-sense {
    background-color: #96a660;    
    background: -webkit-linear-gradient(left, #96a660, #a9d773);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #96a660, #a9d773);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #96a660, #a9d773);/* IE 10 */    
    background: -o-linear-gradient(left, #96a660, #a9d773);/* Opera 11.10+ */
}
.qlik-sense:hover {
    background: -webkit-linear-gradient(left, #a9d773, #96a660);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #a9d773, #96a660);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #a9d773, #96a660);/* IE 10 */    
    background: -o-linear-gradient(left, #a9d773, #96a660);/* Opera 11.10+ */
}
.teradata {
    background-color: #65c7c6;    
    background: -webkit-linear-gradient(left, #65c7c6, #019fc4);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #65c7c6, #019fc4);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #65c7c6, #019fc4);/* IE 10 */    
    background: -o-linear-gradient(left, #65c7c6, #019fc4);/* Opera 11.10+ */
}
.teradata:hover {
    background: -webkit-linear-gradient(left, #019fc4, #65c7c6);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #019fc4, #65c7c6);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #019fc4, #65c7c6);/* IE 10 */    
    background: -o-linear-gradient(left, #019fc4, #65c7c6);/* Opera 11.10+ */
}
.essbase {
    background-color: #275ba7;    
    background: -webkit-linear-gradient(left, #275ba7, #1a3170);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #275ba7, #1a3170);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #275ba7, #1a3170);/* IE 10 */    
    background: -o-linear-gradient(left, #275ba7, #1a3170);/* Opera 11.10+ */
}
.essbase:hover {
    background: -webkit-linear-gradient(left, #1a3170, #275ba7);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #1a3170, #275ba7);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #1a3170, #275ba7);/* IE 10 */    
    background: -o-linear-gradient(left, #1a3170, #275ba7);/* Opera 11.10+ */
}
.peoplesoft {
    background-color: #a04398;    
    background: -webkit-linear-gradient(left, #a04398, #775ba6);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #a04398, #775ba6);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #a04398, #775ba6);/* IE 10 */    
    background: -o-linear-gradient(left, #a04398, #775ba6);/* Opera 11.10+ */
}
.peoplesoft:hover {
    background: -webkit-linear-gradient(left, #775ba6, #a04398);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #775ba6, #a04398);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #775ba6, #a04398);/* IE 10 */    
    background: -o-linear-gradient(left, #775ba6, #a04398);/* Opera 11.10+ */
}
.oracle-gold {
    background-color: #ef756a;    
    background: -webkit-linear-gradient(left, #ef756a, #d8212f);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #ef756a, #d8212f);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #ef756a, #d8212f);/* IE 10 */    
    background: -o-linear-gradient(left, #ef756a, #d8212f);/* Opera 11.10+ */
}
.oracle-gold:hover {
    background: -webkit-linear-gradient(left, #d8212f, #ef756a);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(left, #d8212f, #ef756a);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(left, #d8212f, #ef756a);/* IE 10 */    
    background: -o-linear-gradient(left, #d8212f, #ef756a);/* Opera 11.10+ */
}
.view-course {
    float: right;
    background: #fa6c3e;
    color: #fff;
    padding: 1px 10px;
    border-radius: 18px;
    font-weight: 500;
}
.view-all-btn {
    background: #fa6c3e;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-radius: 25px;
    transition: all 0.5s ease-in-out 0s;
}
.view-all-btn:hover {
    background: #0761b7;
}
.view-all-btn a {
    color: #fff !important;
    padding: 10px 0;
    display: block;
    cursor: pointer;
}
.video-back {
    padding: 50px 0 60px;
    position: relative;
    background: #dfe6e8;
    background-image: url(../images/video-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.video-border-btm {    
    border-bottom: solid 1px #c0c0c0;
}
.video-modal-bg {
    background: #000;
}
.modal-header .modal-close-btn {
    padding: 0;
    margin: -2rem -2rem -1rem auto;
    width: 25px;
    line-height: 25px;
    background: #ED4113;
    opacity: .9;
    border-radius: 50%;
}
.stat-back {
    padding: 50px 0 50px;
    background: #f6f6f6;
    position: relative;
    text-align: center;
    background-image: url(../images/stat-map.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.stat-icon-top {
    background: url(../images/stat-icon-top.png) no-repeat center top;
    width: 100%;
    height: 44px;
    margin-top: -50px;
}
.stat-icon-btm {
    background: url(../images/stat-icon-btm.png) no-repeat center bottom;
    width: 100%;
    height: 44px;
    margin-bottom: -50px;
}
.use-case-back {
    padding: 50px 0 60px;
    position: relative;
    background: url(../images/use-case-bg.png) no-repeat center top;
}
.use-case-img {
    box-shadow: 1px 1px 3px #bbb;
}
.case-view-all {
    background: #fa6c3e;
    width: 120px;
    margin: 10px auto 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-radius: 25px;
    transition: all 0.5s ease-in-out 0s;
}
.case-view-all:hover {
    background: #0761b7;
}
.case-view-all a {
    color: #fff !important;
    padding: 7px 0;
    display: block;
}
.how-we-work {
    padding: 50px 0 60px;
    position: relative;
    background: url(../images/our-work/bg.jpg) no-repeat center top / cover;
}
.work-img {
    margin: 0 0 25px;
    transition: all 0.4s ease-in-out 0s;
}
.work-img:hover {
    opacity: .9;
    border-radius: 10px;
}
.calender-back {
    padding: 50px 0 60px;
    position: relative;
    background: #fff;
}
.calender-border {
    border-bottom: solid 3px #e3e3e3;
    margin: 0 0 20px;
    padding: 0 0 5px;
}
.client-list-tab {
    display: block;
    padding: inherit;
    text-align: center;
    border-bottom: 0px;
    margin: 0 0 15px;
}
.client-list-tab li {
    margin-bottom: 0;
    display: inline-block;
}
.client-list-tab .nav-link {
    border: 0px solid transparent;
}
.client-list-tab li a.nav-link {
    border-bottom: solid 3px #e3e3e3;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0 10px;
}
.client-list-tab .nav-item.show .nav-link, .client-list-tab .nav-link.active {
    color: #0761b7;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #0761b7;
}
.our-client {
    margin: 25px 0 0;
}
.client-img {
    height: 100px;
    position: relative;
    border: solid 1px #ededed;
    z-index: 9;
}
.client-img img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
}
.client-next .owl-nav {
    top: 5%;
}
.client-next .owl-nav .owl-prev {
    left: -20px;
}
.client-next .owl-nav .owl-next {
    right: -20px;
}

/* ============================================================
  GLOBAL
============================================================ */
.effects {
    padding-left: 15px;
}
.effects .img {
    position: relative;
    float: left;
    margin-bottom: 12px;
    width: 24%;
    overflow: hidden;
}
.effects .img:nth-child(n) {
    margin-right: 12px;
}
.effects .img:first-child {
    margin-left: -15px;
}
.effects .img:last-child {
    margin-right: 0;
}
.effects .img img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}
.overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

a.close-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
}
a.close-overlay.hidden {
    display: none;
}

a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 40px;
    height: 40px;
    border: solid 5px #fff;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-weight: 500;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

/* ============================================================
  EFFECT 5 - ICON BORDER ANIMATE
============================================================ */
#effect-5 .overlay {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0;
}
#effect-5 .overlay a.expand {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#effect-5 .img.hover .overlay {
    opacity: 1;
}
#effect-5 .img.hover .overlay a.expand {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}


/*======Footer-CSS=====*/
footer {
    background: #f2f2f2;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    background-image: url(../images/footer-bg-left.jpg);
    //background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}
footer .right-bg {
    padding: 60px 0px 30px;
    background-image: url(../images/footer-bg-right.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    clear: both;
}
.footer-list {
    margin: 0 0 20px;
    padding: 0px;
}
.footer-list li {
    list-style: none;
    padding: 0px 0px 12px;
    display: flex;
}
.footer-list li::before {
    content: "\f105";
    font-family: FontAwesome;
    color: #fa6c3e;
    padding: 0px 5px 0 0;
}
.footer-list li a {
    color: #000 !important;
}
.footer-list li a:hover {
    color: #fa6c3e !important;
}
.footer-border {
    border-bottom: solid 1px #e4e4e4;
    padding: 0 0 5px;
    font-size: 18px;
    color: #0761b7;
    margin: 0 0 10px;
}
.footer-envelope {
    font-size: 36px;
}
.footer-social {
    margin: 0px 0;
    padding: 0px;
}
.footer-social li {
    list-style: none;
    background: #fff;
    width: 35px;
    line-height: 34px;
    font-size: 24px;
}
#copyright {
    background: #dedede;
    padding: 15px 0;
    color: #000;
    font-size: 13px;
    margin: 0 0 38px;
}
#scroll {
    position:fixed;
    right:18px;
    bottom:48px;
    cursor:pointer;
    width:40px;
    height:40px;
    background-color:#fa6c3e;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:10px;
    transition: all 0.3s ease-in-out 0s;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}
#scroll:hover {
    background-color:#0761b7;
    opacity:1;
    border-radius:0px;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
    background: #B20000;
    color: #fff !important;
    padding: 0 8px 2px;
    text-align: center;
    border-radius: 20px;
}
/*======Footer-CSS-End=====*/

/*======Inner-Pages-Css=====*/
.copyright {
    margin-bottom: 0px !important;
}
.course-breadcrumb {
    background-color: #0761b7;    
    background: -webkit-linear-gradient(top, #3397f6, #0761b7);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(top, #3397f6, #0761b7);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(top, #3397f6, #0761b7);/* IE 10 */    
    background: -o-linear-gradient(top, #3397f6, #0761b7);/* Opera 11.10+ */
    padding: 10px 0;
    position: relative;
    margin-bottom: 25px;
}
.breadcrumb {
    display: block;
    padding: 0 0;
    background-color: transparent;
    padding: 10px 0;
    margin: 0px;
}
.breadcrumb-item {
    display: inline-block;
}
.breadcrumb-item.active {
    color: #0761b7;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #fa6c3e;
}
.course-filter-border {
    border: solid 1px #399CF8;
    padding: 10px;
    border-radius: 5px;
}
.course-filter-select {
    margin: 0;
}
.course-filter-select .form-control {
    height: calc(1.5em + .75rem + 6px);
    padding: .375rem .50rem;
    font-size: inherit;
    color: #596067;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
}
.reset {
    background: #fa6c3e;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
}
.reset a {
    display: block;
    padding: 9px 0;
}
.course-content {
    padding: 0px 0 0px;
    position: relative;
}
.course-right {
    overflow-y: scroll;
    max-height: 550px;
    position: relative;
    margin: 0 0 30px;
}
.course-right .row {
    margin-left: -10px;
    margin-right: 0px;
}
.course-list {
    overflow-y: auto;
    max-height: 370px;
}
.course-list .list-group-item a::before {
    content: "\f0a9";
    font-family: FontAwesome;
    color: #fa6c3e;
    padding: 0 5px 0 0;
}
.course-list .list-group-item {
    background: #fff;
    border-radius: 2px;
    padding: 6px 10px;
    transition: all 0.4s ease-in-out 0s;
}
.course-list .list-group-item:hover {
    background: #f2f2f2;
    border-right-color: #0761B7;
}
.course-list .list-group-item.active {
    background: #f2f2f2;
    border: 1px solid rgba(0,0,0,.125);
    border-right-color: #0761B7;
    color: #000;
}
.course-list .list-group-item a {
    display: inline-flex;
    font-size: 14px;
}
.course-title {
    background: #0761b7;
    color: #fff;
    margin: 0px;
    padding: 8px 10px;
}
#loading { 
    display:none;
}
.qlikview-title {
    padding: 8px 0;
}
.qlikview-bar {}
.qlikview-bar img:hover {
    opacity: 0.9;
    transition: all 0.3s ease-in-out 0s;
}
.qlikview-tab {
    background: #f8f8f8;
    margin: 30px 0 0px;
    box-shadow: 0 0 2px #C0C0C0;
    border: solid 1px #fff;
}
.qlikview-tab ul {
    margin: 0px;
    padding: 0px;
}
.qlikview-tab ul li {
    list-style: none;
    color: #0761b7;
    display: inline-block;
    transition: all 0.3s ease-in-out 0s;
}
.qlikview-tab ul li a {
    display: block;
    padding: 15px 30px 15px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.qlikview-tab ul li:hover {
    color: #fa6c3e;
}
.qlikview-tab ul li a.active {
    color: #fa6c3e;
}
.add-to-cart-box {
    border-radius: 10px;
    padding: 0px 0 10px;
}
.curriculum-card {
    border: 0px;
    border-top: 1px;
    margin: 0 0 5px;
    border-radius: 30px;
}
.curriculum-card .card-header {
    border-bottom: 2px solid rgba(7,97,183,.7);
    background: #fff;
    border-radius: 30px;
    padding: 15px 20px;
}
.curriculum-card .card-body {
    background: #fff;
}
.cursor-pointer {
    cursor: pointer;
}
.qlikview-list {
    margin: 10px 0 0;
    padding: 0px;
}
.qlikview-list li::before {
    content: "\f105";
    font-family: FontAwesome;
    color: #fa6c3e;
    font-weight: bold;
    padding: 0 5px 0 0;
}
.qlikview-list li {
    list-style: none;
    display: flex;
    font-size: 14px;
    padding: 4px 5px;
}
.certificate-bg {
    background: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 4px #CACACA;
    border: solid 1px #fff;
}
.certificate-border {
    border: solid #0761b7 10px;
    margin: 15px 0;
}
.review-bg {
    padding: 30px 0;
    transition: all 0.3s ease-in-out 0s;
}
.review-circle {
    background: #0761b7;
    width: 45px;
    line-height: 45px;
    color: #fff;
    margin: 0 auto -20px;
    border-radius: 50%;
    text-align: center;
    font-size: 19px;
    position: relative;
}
.reviews-img {
    width: 130px;
    margin: 0 10px 0 0;
}
.any-question {
    background: #fa6c3e;
    padding: 20px 0 10px;
    text-align: center;
    color: #fff;
    font-family: 'open_sansregular';
}
.qlikview-contact::before {
    content: "\f0ec";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 20%;
    font-size: 19px;
}
.qlikview-contact::after {
    content: "\f0ec";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    top: 20%;
    font-size: 19px;
}
.qlikview-bar-fix {
    left: 0;
    position: fixed;
    top: 0;
    transition: all .3s ease-in-out 0s;
    width: 100%;
    z-index: 1000;
    padding: 0px 0;
    margin: 0px;
    color: #fff;
}
.qlikview-bar-tab { 
    display: block;
}
.qlik-right-video {
    background-color: #FFF;
    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    border-radius: 4px;
    color: #505763;
    padding: 4px;
    margin: 20px 0 0;
}
.buy-now-btn {
    background: #fa6c3e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.request-info {
    border: #0761b7 solid 1px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    float: right;
    padding: 8px 0;
    margin: 6px 0;
    border-radius: 2px;
    display: block;
    cursor: pointer;
    color: #000;
    transition: all .3s ease-in-out 0s;
}
.request-info:hover {
    background: #0761b7;
    color: #fff;
}
.combo-offer-bg {
    background: #f9f9f9;
    padding: 15px 15px 0 15px;
    border: solid 1px #e7e7e7;
    margin: 0 0 30px;
}
.combo-icon {
    position: absolute;
    font-size: 62px;
    opacity: 0.3;
    z-index: 9;
    left: -27px;
    top: 33%;
}
.best-seller {
    z-index: 9;
}
.buy-now {
    -webkit-transform: rotate(-46deg);
    -moz-transform: rotate(-46deg);
    -ms-transform: rotate(-46deg);
    -o-transform: rotate(-46deg);
    left: -2px;
    top: 22px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    z-index: 99;
}
.include-bg {
    background: #f3f6f8;
    border-left: solid 3px #0761b7;
    padding: 20px;
    margin: 40px 0 20px;
}
.include-bg ul {
    margin: 0px;
    padding: 0px;
}
.include-bg ul li {
    list-style: none;
    color: #505050;
    font-size: 14px;
    padding: 5px 0;
    border-top: dotted 1px #dfdfdf;
}
.include-bg ul li:last-child {
    border-bottom: dotted 1px #dfdfdf;
}
.include-bg ul li i { 
    width: 20px;
}
.course-contact {
    background: #f3f6f8;
    padding: 20px;
    border: solid 1px #e3e6e8;
    border-radius: 3px;
    margin: 40px 0 0;
}
.qlikview-breadcrumb {
    background-color: #0761b7;    
    background: -webkit-linear-gradient(right, #639CD3, #4D86BD);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(right, #639CD3, #4D86BD);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(right, #639CD3, #4D86BD);/* IE 10 */    
    background: -o-linear-gradient(right, #639CD3, #4D86BD);/* Opera 11.10+ */
    padding: 30px 0;
    position: relative;
}
.right-video-panel {
    position: absolute;
    top: 10px;
    width: calc(100% - 30px);
    margin-top: -20px;
    z-index: 20;
}
.light-bg {
    background: #f3f6f8;
}
.training-bg {
    background: #fff;
    font-weight: normal;
    background-image: url(../images/pattern-1.png);
    background-repeat: no-repeat;
    background-position: left top;
}
.training-bg .right-bg {
    padding: 40px 0px 40px;
    background-image: url(../images/pattern-2.png);
    background-repeat: no-repeat;
    background-position: right top;
    clear: both;
}
.curriculum-bg {
    background: #f3f6f8;
    padding: 40px 0;
    position: relative;
}
.traning-cld-box {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 5px #A0A0A0;
    border-radius: 3px;
    margin: 0 0 30px;
}
.traning-cld-box dl {
    margin-bottom: 0px;
}
.training-date {
    background: #fa6c3e;
    background: -webkit-linear-gradient(top, #fa6c3e, #ff9c6e);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(top, #fa6c3e, #ff9c6e);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(top, #fa6c3e, #ff9c6e);/* IE 10 */    
    background: -o-linear-gradient(top, #fa6c3e, #ff9c6e);/* Opera 11.10+ */
    text-align: center;
    color: #fff;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 8px 0 0;
}
.crtificate-bg {
    position: relative;
    padding: 40px 0;
    background: #FFF;
}
.use-case-bg {
    position: relative;
    padding: 40px 0;
    background: url(../images/sc-step-bg-2.png) repeat-x top center;
    background-color: #f7fafc;
}
.review-bg-1 {
    /*    background: rgba(0, 0, 0, 0) url(../images/reviews-bg.jpg) no-repeat scroll center top / cover ;*/
    background: rgba(0, 0, 0, 0) url(../images/t-1.png) no-repeat scroll center top / cover ;
    color: #000;
    //float: left;
    padding: 40px 0 40px;
    //position: relative;
    width: 100%;
    z-index: 1;
}
/*.review-bg-1::before {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.05;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    min-height: 365px;
}*/
.use-case-video {
    background: #000;
    padding: 5px 5px 0 5px;
}
.related-course {
    position: relative;
    padding: 30px 0 40px;
}
.related-course-box {
    margin: 4px 4px;
}
.related-img {
    height: 140px;
}
.sign-up-bg {
    background: url(../images/signup-bg.jpg) no-repeat top center /cover;
    background-attachment: fixed;
    padding: 90px 0 0;
    position: relative;
    color: #fff;
    //margin: 50px 0 0;
}
.sign-up-mail {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 90px;
}
.sign-up-mail .form-control {
    min-height: 50px;
    border-radius: 30px;
}
.sign-up-img {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 30px);
    margin-top: 0px;
    z-index: 20;
    text-align: right;
}
.use-case-iframe iframe {
    height: 200px;
}
.contact-back {
    position: relative;
    padding: 40px 0;
    background: #fbfbfb;
}
.contact-box-shadow {
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 26px 16px rgba(0,0,0,0.02);
    box-shadow: 0px 0px 26px 16px rgba(0,0,0,0.03);
    padding: 30px 25px;
}
.contact-info .icon-box {
    display: table;
    padding-top: 20px;
}
.contact-info i {
    display: table-cell;
    font-size: 30px;
    padding-right: 15px;
    width: 40px;
}
.contact-info p {
    transform: translateY(-10px);
    margin: 0px;
}
.login-page-bg {
    background-color: #f0f2f5;
    background-image: url(../images/login-bg.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}
.login-box-shadow {
    //background: #ffffff;
    -webkit-box-shadow: 0px 0px 26px 16px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.5);
    border-radius: 15px;
    overflow: hidden;
    margin: 80px 0;
}
.social-login-box {
    background: rgb(7, 97, 183, 0.2);
    padding: 80px 50px;
    min-height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}
.facebook {
    background: #3b5998;
    border-radius: 7px;
    color: #fff;
    padding: 7px 0px;
    margin: 20px 0 0;
    text-align: center;
}
.facebook i {
    padding: 0 10px 0 0;
}
.google {
    background: #c32f10;
}
.linkdin {
    background: #007bb5;
}
.login-user-box {
    background: #fff;
    padding: 60px 50px;
}
.login-input {
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    border: 0;
    margin: 5px 0;
}
.corporate-bg {
    padding: 30px 0;
    position: relative;
    background: url(../images/corporate-img.jpg) no-repeat right top;
    min-height: 350px;
}
.corporate-bg p, .corporate-bg h6 {    
    color: #000;
}
.corporate-img {
    background-color: #0761b7;    
    background: -webkit-linear-gradient(right, #93CCFF, #6DA6DD);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(right, #93CCFF, #6DA6DD);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(right, #93CCFF, #6DA6DD);/* IE 10 */    
    background: -o-linear-gradient(right, #93CCFF, #6DA6DD);/* Opera 11.10+ */
    padding: 0px 0;
    width: 70%;
    min-height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    transform-origin: 100% -100%;
    transform: skewX(-15deg);
}
.corporate-training {
    position: relative;
    padding: 40px 0;
}
.corporate-advantage-box {
    text-align: center;
    padding: 20px;
    background: rgb(237, 242, 245, 0.6);
    //box-shadow: 0 0 10px #C0C0C0;
    margin: 30px 0px 10px;
}
.corporate-advantage-box .icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #FA6C3E;
    margin: 20px auto 30px;
    position: relative;
}
.corporate-advantage-box .icon img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.batches-box {
    text-align: center;
    background: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 0 0 10px #E0E0E0;
}
.batches-box:hover {
    box-shadow: 0 0 0px #E0E0E0;
}
.batches-box p {
    margin: 0 0 5px;
}
.batches-box .icon {
    background: #fff;
    width: 70px;
    line-height: 68px;
    text-align: center;
    margin: 5px auto 20px;
    border: solid 1px #ccc;
    border-radius: 50%;
    color: #FA6C3E;
    font-size: 36px;
    height: 70px;
}
.client-box {
    height: 90px;
    background: #fff;
    box-shadow: 0 0 10px #C0C0C0;
    margin: 10px;
}
.client-box img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 5px;
    transform: translate(-50%, -50%);
}
.partner-next .owl-nav {
    top: 10% !important;
}
.partner-border {
    text-decoration: underline;
}
.contact-bg {
    background: url(../images/contact-bg.jpg) repeat left top;
    padding: 40px 0;
    position: relative;
}
.faculity-bg {
    background: url(../images/faculity-register.jpg) no-repeat right top;
}
.browse-file {
    padding: 7px 10px;
}
.about-back {
    padding: 30px 0;
    position: relative;
    min-height: 300px;
    background-color: #0761b7;    
    background: -webkit-linear-gradient(right, #93CCFF, #6DA6DD);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(right, #93CCFF, #6DA6DD);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(right, #93CCFF, #6DA6DD);/* IE 10 */    
    background: -o-linear-gradient(right, #93CCFF, #6DA6DD);/* Opera 11.10+ */
}
.about-back p {
    color: #000;
}
.vision-list {
    margin: 0px;
    padding: 0px;
}
.vision-list li {
    list-style: none;
    display: flex;
    padding: 0 0 10px 0;
}
.vision-list li::before {
    content: "\f178";
    font-family: FontAwesome;
    color: #fa6c3e;
    padding: 0 8px 0 0;
}
.refund-policy {
    position: relative;
    padding: 0 0 40px;
}
.why-bisp {
    background: #fff;
    box-shadow: 0 0 10px #C0C0C0;
    padding: 20px;
    margin: 35px 0px 15px;
}
.why-img {
    overflow: hidden;
    border: solid 1px #ffffff;
}
.why-img::after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #0761B7;
    font-size: 40px;
    top: 215px;
    position: absolute;
    left: 50px;
}
.why-back {
    background: #bcdef6;
    background: -webkit-linear-gradient(top, #bcdef6, #fcf1e0);/* Safari 5.1, Chrome 10+ */    
    background: -moz-linear-gradient(top, #bcdef6, #fcf1e0);/* Firefox 3.6+ */    
    background: -ms-linear-gradient(top, #bcdef6, #fcf1e0);/* IE 10 */    
    background: -o-linear-gradient(top, #bcdef6, #fcf1e0);/* Opera 11.10+ */
    position: relative;
    padding: 40px 0;
}
.why-back-white {
    background: #ffffff;
    position: relative;
    padding: 40px 0;
}
.curriculum-card .faq-card {
    border-top: 1px solid #E1F1F4;
    //background: #E1F1F4;
}
.curriculum-card .faq-body {
    background: #f7f7f7;
    border-radius: 0 0 30px 30px;
}
.faq-body-1 {
    background: #f7f7f7;
}
.trainer-bg {
    background: #bcdef6;
    background: -webkit-linear-gradient(left, #d9fbfc, #fafaeb);
    background: -moz-linear-gradient(left, #d9fbfc, #fafaeb);
    background: -ms-linear-gradient(left, #d9fbfc, #fafaeb);
    background: -o-linear-gradient(left, #d9fbfc, #fafaeb);
    position: relative;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0 3px 4px 0px #f0f0f0;
    border: solid 1px #fff;
    margin: 50px 0 10px;
}
.trainer-img {
    width: 200px;
    margin: 10px auto 0;
}
.hide-native-select > .btn-group {
    width: 100% !important;
}
.multiselect {
    background:#ffffff;
    /*johnyjohny*/
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    border: 0;
    margin: 5px 0;
    padding: 7px 12px;
}
.multiselect-container {
    width: 100%;
    border: solid 1px #efefef;
    border-top: 0;
    background: #fdfdfd;
}
.form-inline label {
    display: block;
}
.multiselect-container > li > a > label {
    display: block;
}
.multiselect-clear-filter {
    border: 1px solid #DDDDDD;
}
.hide-native-select {
    width: 100%;
}
.input-group-addon {
    background: #ececec;
    width: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 4px 0 0 4px;
}
.multiselect-container .input-group {
    margin: 0;
}
.multiselect-container > li > a > label {
    padding: 3px 10px;
}
.multiselect-selected-text {
    float: left;
    color: #505050;
}
.multiselect:after {
    float: right;
    margin: 10px 0 0;
}

/*======Inner-Pages-Css-End=====*/

.grey-color { color: #acacac !important;}
.orange-color { color: #fa6c3e !important;}
.orange-bg { background-color: #fa6c3e !important;}
.blue-color { color: #0761b7 !important;}
.blue-bg { background-color: #0761b7 !important;}

.font-14 { font-size: 14px;}
.font-16 { font-size: 16px;}
.font-18 { font-size: 18px;}
.font-22 { font-size: 22px;}

.freesearchdiv
{


    background-color:#fff;
    z-index:999;
    position:absolute;
    margin-left:15px;
    display:none;
}
