/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}
.owl-theme .owl-nav {
    margin-top: 0;
    top: 20%;
    position: absolute;
    width: 100%;
}
.owl-theme .owl-nav [class*="owl-"] {
    //background: rgb(252, 56, 26, .7);
    border-radius: 0;
    color: #ed4113;
    cursor: pointer;
    display: inline-block;
    font-size: 54px;
    font-weight: bold;
    margin: 0px 0px 0 0;
    content: "\f105";
    font-family: FontAwesome;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    //background: #fc381a none repeat scroll 0 0;
    color: #EB473A;
    text-decoration: none
}
.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791
}
.owl-dots {
    margin-top: 20px;
    display: none;
}
.owl-next {
    position: absolute;
    right: -40px;
}
.owl-prev {
    position: absolute;
    left: -40px;
}