/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 767px) {
    .txt-center { text-align: center !important;}
    .txt-left { text-align: left !important;}
    .flot-none { float: none !important;}
    .menu-fix { position: relative; }
    .logo { position: relative; text-align: center;}
    .nav-bar { background: #0761B7; margin: 0px 0;}
    .navbar-light .navbar-brand { color: #fff;}
    .navbar-nav {background: #f3f3f3;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
    .btco-hover-menu .collapse ul ul, .btco-hover-menu .collapse ul ul.dropdown-menu li a {color: #efefef !important;font-size: 13px; padding: 4px 20px !important;text-transform: capitalize;}
    .navbar-light .navbar-nav .nav-link {padding: 8px 2px !important;}
    .top-bar-list {text-align: center;}
    .top-bar {padding: 0px 0px 10px; text-align: center;}
    .top-bar-list li {margin: 0 0 0 0px;}
    .phone-email {margin: 10px 0;}
    .navbar-light .navbar-toggler {border: 0px;background: transparent;}
    .navbar-light .navbar-toggler-icon {background-image: none;}
    .navbar-toggler-icon::before {color: #fff;content: "\f0c9";	font-family: FontAwesome;font-size: 28px;}
    .navigation {text-align: center;}
    .navigation li {padding: 0 5px;}
    .cd-main-header {margin-bottom: 10px;}
    .effects .img { width: 48%;}
    .effects .img:nth-child(n) { margin-right: 10px;  }
    .effects .img:first-child { margin-left: 0;}
    .effects .img:nth-child(2n-1) { margin-left: 0;}
    .effects .img:nth-child(2n) { margin-right: 0;}
    .effects .img:last-child { margin-right: 0;}
    .effects .img img { margin: 0 auto;}
    .contact-number li { margin: 0 5px 0 0;}
    .stat-icon-top { display: none;}
    .stat-icon-btm { display: none;}
    .owl-prev {	left: 0;}
    .owl-next {	right: 0px;}
    .client-next .owl-nav .owl-prev {left: 0px;}
    .client-next .owl-nav .owl-next {right: 0px;}
    .our-client {margin: 20px 0 0;}
    .client-list-tab {margin: 20px 0 15px;}
    .request-info { display: none;}
    .qlikview-tab ul { text-align: center;}
    .qlikview-tab ul li a {padding: 5px 5px;}
    .combo-icon {left: 40%;top: -60px;}
    .sign-up-img { display: none;}
    .sign-up-mail {width: 100%;}
    .social-login-box { position: relative;}
    .corporate-img {width: 100%;transform: skewX(0deg);}    
    .why-img::after {display: none;}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    .training-date {height: 70px;width: 70px;}
    .use-case-iframe { margin-bottom: 15px;}
    .use-case-iframe iframe {height: 125px;}
    .combo-icon {left: -30px;top: 67px;}
    .sign-up-bg { margin: 0px;}
    .sign-up-img {display: block;}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand { display: none; }
    .btco-hover-menu a, .navbar > li > a {padding: 5px 4px !important; font-size: 9px;}
    .nav-bar {margin-top: 28px;}
    .logo {padding: 12px 0px 0;}
    .owl-prev {	left: -20px;}
    .owl-next {	right: -20px;}
    .request-info {display: none;}
    .use-case-iframe { margin-bottom: 15px;}
    .use-case-iframe iframe {height: 180px;}
    .why-img::after {top: 120px;}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-brand { display: none;}
    .nav-bar {margin-top: 32px;}
    .effects .img {width: 23.888%;}
    .use-case-iframe iframe {height: 158px;}
    .why-img::after {top: 170px;}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .container {max-width: 1170px;}
    .navbar-brand { display: none;}
}