{% extends 'marketing/base.html' %}
{% load staticfiles %}
{% load sorting_tags %}
{% load paginate %}
{% block content %}
{{ block.super }}

{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="{%static 'images/favicon.ico'%}"/>
{% endblock extralinks %}

<div class="main_container ml-5 mr-5">
  <div class="row marl">

    <div class="filter_row list_filter_row row marl col-md-12 mb-2">
      <div class="">
        <div class="card">
          <div class="card-body">
            <form id="leads_filter" action="" method="POST">
              <div class="card-body ">
                <div class="card-title">Filters</div>
                <div class="row marl">
                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Name</label>
                      <input type="text" class="form-control" placeholder="Contact Name" name="contact_name"
                        value="{{request.POST.contact_name}}">
                    </div>
                  </div>

                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Position</label>
                      <input type="text" class="form-control" placeholder="Position" name="contact_position"
                        value="{{request.POST.contact_position}}">
                    </div>
                  </div>


                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="text" class="form-control" placeholder="Contact Email" name="contact_email"
                        value="{{request.POST.contact_email}}">
                    </div>
                  </div>

                   <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Company Name</label>
                      <input type="text" class="form-control" placeholder="Company Name" name="contact_company"
                        value="{{request.POST.contact_company}}">
                    </div>
                  </div>

                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Country</label>
                      <input type="text" class="form-control" placeholder="Country" name="country"
                        value="{{request.POST.country}}">
                    </div>
                  </div>

                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Skills</label>
                      <input type="text" class="form-control" placeholder="Skills" name="skills"
                        value="{{request.POST.skills}}">
                    </div>
                  </div>

                  <input type="hidden" name="tab_status" id="tab_status">
                  <div class="filter_col col-2">
                    <div class="form-group buttons_row">
                      <button class="btn btn-primary save" type="submit">Search</button>
                      <a href="" class="btn btn-default clear" onclick="window.location.reload">Clear</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="table_container_row no_mar_top">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-right">
              <span class="float-left">Contacts - {{ contacts|length }}</span>
              <span class="filter_toggle">
                <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
              </span>
              <a href="{% url 'marketing:basic_upload' %}" class="primary_btn">Upload New Pdf</a>
              <a href="{% url 'marketing:export_users_xls' %}" class="primary_btn" >Export all Contacts</a>
            </div>
            <div class="table-responsive table-bordered">
               {% autosort contacts %}
              <table class="table">
                {% if contacts %}

                <thead>
                  <tr>
                    <th width="5%">S. No</th>
                    <th width="15%">{% anchor name _("Full Name") %}</th>
                    <th width="10%">Email</th>
                    <th width="15%">Position</th>
                    <th width="15%">{% anchor company_name _("Company Name") %}</th>
                    <th width="15%">Certification</th>
                      <th width="15%">Language</th>
                      <th width="15%">Skills</th>
                        <th width="15%">Country</th>

                  </tr>
                </thead>
                {% endif %}
                <tbody>
                  {% if per_page %}
                  {% paginate per_page contacts %}
                  {% else%}
                  {% paginate 10 contacts %}
                  {% endif %}

                  {% for contact in contacts %}
                  <tr style="text-align:center;">
                    <td scope="row">{{ forloop.counter }}</td>
                    <td><a href="{% url 'marketing:link_contact_detail' contact.id %}">{{ contact.name }}</td>
                    <td class="text-center">{{ contact.email }}</td>
                      <td class="text-center">{{ contact.position }}</td>
                      <td class="text-center">{{ contact.company_name  }}</td>
                      <td class="text-center">{{ contact.certification }}</td>
                      <td class="text-center">{{ contact.language }}</td>
                      <td class="text-center">{{ contact.skills}}</td>
                      <td class="text-center">{{ contact.country }}</td>


                    <td>
                      {% for contact_list in contact.all %}
                      <span> <a
                          href="{% url 'marketing:link_contact_detail' contact_list.id %}">{{contact_list.name}}</a>
                      </span>
                      {% endfor %}
                    </td>

                  </tr>
                  {% empty %}
                  <tr style="text-align:center;">
                    <td colspan="6">No records found!</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="marl row text-center mt-5">
        {% show_pages %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
<script>
  $(function () {
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();
    });
    $('#id_tag').select2();

    $("a[rel='page']").click(function (e) {
      e.preventDefault();
      $('#leads_filter').attr("action", $(this).attr("href"));
      $('#leads_filter').submit();
    });

    $(".remove_account").click(function (e) {
      e.preventDefault()
      url = $(this).attr('href')
      var contact_lists = parseInt($(this).attr('data-other-contacts-lists'));
      if (contact_lists > 1) {
        if (!confirm('Are you sure you want to delete? this contact exists in other contact lists, deleting this will delete this contact from other contact lists too!'))
          return;
        window.location = $(this).attr('href');
      } else {
        if (!confirm('Are you sure you want to delete?'))
          return;
        window.location = $(this).attr('href');
      }
    })

    $(".edit_contact").click(function (e) {
      e.preventDefault()
      url = $(this).attr('href')
      console.log(url)
      var contact_lists = parseInt($(this).attr('data-other-contacts-lists'));
      console.log(contact_lists);
      if (contact_lists > 1) {
        if (!confirm('Are you sure you want to edit? this contact exists in other contact lists, editing this will change this contact information in other contact lists too!'))
          return;
        window.location = $(this).attr('href');
      } else {
        window.location = $(this).attr('href');
      }
    })
  })
</script>
{% endblock js_block %}