{% extends 'marketing/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load compress %}
{% block content %}
{{ block.super }}


<!------ Include the above in your HEAD tag ---------->




<!------ Include the above in your HEAD tag ---------->


<html>
<head>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
{% load sass_tags %}
    <link href="{% sass_src 'E:/analytyics_leads_opportunity_pdf/bispenv/Django-CRM-master/static/css/chat.scss' %}" rel="stylesheet">
</head>
<body>
<form method="post">
<div class="container">
<h3 class="text-center">Stay connect with your colleagues</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Contacts</h4>
            </div>

          </div>
          <div class="inbox_chat">
            <div class="chat_list active_chat">
              <div class="chat_people">
             {% for user in user_role %}
                       {% if request.user.email != user.email %}
                           <div class="chat_img">
                                {% if user.profile_pic %}
                                    {% thumbnail user.profile_pic "125x125" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                               {% endif %}
                            </div>
                           <div class="chat_ib">
                              <h5><a href="{% url 'marketing:func_link_chat_detail' user.id %}">{{user.username}}</a><span class="chat_date"></span></h5>
                               <p></p>
                           </div>
                       {% else %}
                      {% endif %}
                  {% endfor %}






                <div class="chat_ib">

                </div>
              </div>
            </div>






          </div>
        </div>
        <div class="mesgs">


    <img src="{% static 'images//peoples.jpg' %}" alt="Peoples"/>
</div>

          <div class="type_msg">
            <div class="input_msg_write">

            </div>
          </div>
        </div>
      </div>




    </div>
  </form>
    </body>

    </html>
</html>
{% endblock %}