{% extends 'marketing/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load compress %}
{% block content %}
{{ block.super }}


<!------ Include the above in your HEAD tag ---------->




<!------ Include the above in your HEAD tag ---------->


<html>
<head>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
{% load sass_tags %}
    <link href="{% sass_src 'E:/analytyics_leads_opportunity_pdf/bispenv/Django-CRM-master/static/css/chat.scss' %}" rel="stylesheet">
</head>
<body>
<form method="post">
<div class="container">

<h3 class=" text-center">{{session_linkedin1.name}}-{{user_obj.username}}</h3>

<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Contacts</h4>
            </div>

          </div>
          <div class="inbox_chat">
            <div class="chat_list active_chat">
              <div class="chat_people">
                 {% for user in user_role %}
                       {% if request.user.email != user.email %}
                           <div class="chat_img">
                                {% if user.profile_pic %}
                                    {% thumbnail user.profile_pic "125x125" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                               {% endif %}
                            </div>
                           <div class="chat_ib">

                              <h5><a href="{% url 'marketing:func_link_chat_detail' user.id %}">{{user.username}}</a><span class="chat_date"></span></h5>
                               <p></p>


                           </div>
                       {% else %}

                      {% endif %}

                  {% endfor %}







                <div class="chat_ib">

                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <div class="incoming_msg">

              <div class="incoming_msg_img">

                     {% if user_obj.profile_pic %}

                        {% thumbnail user_obj.profile_pic "125x125" as im %}
                           <img src="{{ im.url }}" alt="bisp">
                        {% endthumbnail %}
                      {% endif %}

               </div>

                  <div class="col-md-4">
                              <div class="form-group">
                                  <a href="{% url 'marketing:calendar' %}"  target="_blank"><i class="fa fa-calendar"></i> <label>  Future Follow-up</label></a>
                                <span id="id_schedule_later"></span>
                              </div>
                            </div>

                            <div class="col-md-4 timezone-div" style="display: none;">
                              <div class="form-group">
                                <label>Schedule Date Time</label><span class="error_marker" style="color:red">
                                  *</span>
                                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input"
                                    data-target="#datetimepicker1" name="schedule_date_time" />
                                  <div class="input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                  </div>
                                </div>
                                <!-- <input type="text" class="form-control" name="schedule_date_time" value="" placeholder="Schedule Date Time"> -->
                                <span id="id_schedule_date_time"></span>
                              </div>
                            </div>

              <div class="received_msg">
                <div class="received_withd_msg">

                      {% for var_stored_ms in var_stored_msg %}

<!--               {{request.user.id}}-&#45;&#45;{{var_stored_ms.sender_id}}-->
                    {% if var_stored_ms.sender_id == user_obj.id  %}


                          <p>{{var_stored_ms.msg_content}}kkkkk

                          </p>
                     <span class="time_date">{{var_stored_ms.created_at}}</span>
                     {% endif %}
              {% endfor %}


                </div>

              </div>

            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                     {% for var_stored_msg in var_stored_msg %}
                       {% if var_stored_msg.reciever_id == user_obj.id %}
                            <p>{{var_stored_msg.msg_content}}</p>
                            <span class="time_date">{{var_stored_msg.created_at}}</span>
                       {% endif %}
                    {% endfor %}

            </div>
            </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" name="msg_content" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn btb btn-success" type="submit">Send</button>
            </div>
          </div>
        </div>
      </div>




      </div></div></div>
  </form>
    </body>

    </html>
</html>
{% endblock %}

{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://malsup.github.com/jquery.form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>


{% endblock js_block %}