{% extends 'marketing/base.html' %}
{% load staticfiles %}
{% load common_tags %}
{% load paginate %}
{% block content %}
{{ block.super }}
<script src="{% static 'LeadApplication\\js\\charts_min.js' %}"></script>
<div class="" style="">
  <div class="row marl">
    <div class="col-md-12">
      <!-- Dashboard page will come soon -->


      <div class="row marl justify-content-center">
        <div class="col-md-9">
          <!-- count_blocks_row starts here -->
          <div class="row count_blocks_row">

            <div class="col-md-3">
              <div class="item green">
                <a href="{% url 'marketing:contact_lists' %}">
                  <div class="title">Contacts List</div>
                  <div class="count">{{contacts_list|length}}</div>
                </a>
                <!-- <div class="more"><a href="#">Go Live</a></div> -->
              </div>
            </div>



            <div class="col-md-3">
              <div class="item red">
                <a href="{% url 'marketing:contacts_list' %}">
                  <div class="title">Contacts</div>
                  <div class="count">{{contacts|length}}</div>
                  <!-- <div class="more"><a href="#">Go Live</a></div> -->
                </a>
              </div>
            </div>

              <div class="col-md-3">
              <div class="item yellow">
                <a href="{% url 'marketing:calendar' %}">
                  <div class="title">Events</div>
                  <div class="count">{{event_list|length}}</div>
                  <!-- <div class="more"><a href="#">Go Live</a></div> -->
                </a>
              </div>

            </div>

              <div class="col-md-3">
              <div class="item orange card bg-info text-white">
                <a href="{% url 'marketing:linkcontacts_list' %}">
                  <div class="title">Linkedin Contact list</div>
                  <div class="count">{{link_contacts_list|length}}</div>
                  <!-- <div class="more"><a href="#">Go Live</a></div> -->
                </a>
              </div>
            </div>

          </div>
          <!-- count_blocks_row ends here -->
          <div class="open_sections row">
            <div class="col-md-6 table_container_row">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">
                    <span>Contacts List</span>
                  </div>
                  <div class="table-responsive">
                    {% if contacts_list %}
                    <table class="table">
                      <thead>
                        <tr>
                          <th width="40%">Name</th>
                          <!-- <th width="30%">Assigned To</th> -->
                          <th width="50%">Tags</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for contact in contacts_list|slice:"10" %}
                        <tr>
                          <td><a href="{% url 'marketing:contact_list_detail' contact.id %}">{{contact.name}}</a>
                          </td>

                          <td style="display: block;">
                            {% for tag in contact.tags.all|slice:'3' %}
                            <span class="text-left color{{forloop.counter}} tag_class_cl" id="list_tag"
                              data-link="{{tag.id}}" style="cursor: pointer;">{{tag.name}}</span>
                            {% empty %}
                            <span class="text-left">No Tags</span>
                            {% endfor %}
                            {% if contact.tags.all|length > 3 %}
                            <a href="{% url 'marketing:contact_list_detail' contact.id %}" style="color:white;"><span
                                class="text-left" id="list_tag2">{{contact.tags.all|length|subtract:'3'}}
                                  more
                                </span></a>
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% else %}
                    <p style="text-align:center">There are no records</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

             <div class="col-md-6 table_container_row">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">
                    <span>Upcoming Events List(next 5 days)</span>
                  </div>
                  <div class="table-responsive">
                    {% if contacts_list %}
                    <table class="table">
                      <thead>
                        <tr>
                          <th width="40%">Event Title</th>
                          <th width="40%">Event Description</th>
                          <th width="20%">Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for event in event_list|slice:"10" %}
                        <tr>
                          <td><a href="{% url 'marketing:event_list_detail' event.id %}">{{event.title}}</a>
                          </td>
                          <td>
                              <a href="#">{{event.description}}</a>
                          </td>
                          <td>
                            {{ event.start_time|date:"D,dM,Y" }}
                          </td>

                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% else %}
                    <p style="text-align:center">There are no records</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 table_container_row">
              <h5 >Overall lead growth this year till date</h5>
              <canvas id="multilineChart"></canvas>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
{% block js_block %}
<script type="text/javascript">

  $(document).ready(function () {
    $(".tag_class_cl").click(function () {
      // $(".tag_class_opp").css('cursor', 'pointer')
      url = "{% url 'marketing:contact_lists' %}"
      url = url + "?tag=" + $(this).attr('data-link')
      window.location.href = url;
    });

    $(".tag_class_camp").click(function (e) {
      e.preventDefault()
      // $(".tag_class_opp").css('cursor', 'pointer')

      url = url + "?tag=" + $(this).attr('data-link')
      window.location.href = url;
    });
  });



//here is the multiline
var canvas = document.getElementById("multilineChart");
var ctx = canvas.getContext('2d');

// Global Options:
Chart.defaults.global.defaultFontColor = 'black';
Chart.defaults.global.defaultFontSize = 16;

var data = {
  labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
  datasets: [{
      label: {{current_year}}+' data',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(167,105,0,0.4)",
      borderColor: "rgb(167, 105, 0)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "white",
      pointBackgroundColor: "black",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "brown",
      pointHoverBorderColor: "yellow",
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10,
      // notice the gap in the data and the spanGaps: false
      data: {{currenty}},
      spanGaps: false,
    }]
};

// Notice the scaleLabel at the same level as Ticks
var options = {
  scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    stepSize: 100,
                },
                scaleLabel: {
                     display: true,
                     labelString: 'Lead Counts',
                     fontSize: 20
                  }
            }],
            xAxes: [{

                scaleLabel: {
                     display: true,
                     labelString: 'Months('+{{current_year}}+')',
                     fontSize: 20
                  }
            }]
        }
};

// Chart declaration:
var myBarChart = new Chart(ctx, {
  type: 'line',
  data: data,
  options: options
});




</script>
{% endblock js_block %}