

{% load static %}

{% block title %} Upload{% endblock %}

<head>
    <link href="{% static 'F:/Bisp-linkedin-data/bisenv/Django-CRM-master/static/css/bootstrap.min.scss' %}" rel="stylesheet">
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
{% block javascript %}


  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>


  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'js/basic-upload.js' %}"></script>
{% endblock %}

{% block photos_content %}

 <form method="post" action="{% url 'marketing:clear_database' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="btn btn-danger pull-right">
      <span class="glyphicon glyphicon-trash"></span> Clear Database
    </button>
  </form>
  <div style="margin-bottom: 20px;">
    <button type="button" class="btn btn-primary js-upload-photos">
      <span class="glyphicon glyphicon-cloud-upload"></span> Upload files

    </button>


    <input id="fileupload" type="file"  accept=".pdf" name="file" multiple
           style="display: none;"
           data-url="{% url 'marketing:basic_upload' %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
  </div>
<a href="{% url 'marketing:fun_read_pdf' %}" class="btn btn-primary">Read Pdf</a>
  <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
        <th>Pdfs</th>
      </tr>
    </thead>
    <tbody>
      {% for pdfs in pdf %}
        <tr>
          <td><a href="{{ pdfs.file.url }}">{{ pdfs.file.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<script>

</script>
{% endblock %}
