body { font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.left { float: left; }

.right { float: right; }

.btn { outline: none; color: black; margin-right: 6px; }

.clearfix { margin: 10px; }

.form { margin: auto; }

.form input, .form select, .form textarea { border-radius: 5px; border: 1px solid #17a2b8; outline: none; background: none; padding: 5px; width: 100%; }

.title { text-align: center; margin: 10px; }

.calendar { width: 50%; margin: auto; font-size: 10px; }

.calendar th { padding: 5px; text-align: center; font-size: 10px; }

.calendar td { width: 100px; height: 90px; padding: 20px 0px 0px 5px; }

.calendar tr, .calendar td { border: 1px solid black; }

.month { font-size: 25px; }

.date { font-size: 16px; }

ul { height: 100%; padding: 0px 5px 0px 20px; }

a { color: #17a2b8; }

/*# sourceMappingURL=style.css.map */