{% load static %}
<!--<!doctype html>-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>BISP Dhanya Edutech</title>

        <!-- Bootstrap CSS -->
        {% include "LeadApplication/heads.html" %}
        
            {{ script | safe }}
            {{ script1 | safe }}
            {{ script2 | safe }}
            {{ script3 | safe }}
            {{ script4 | safe }}
            {{ script5 | safe }}
            {{ script6 | safe }}
            {{ script7 | safe }}
    </head>

    <body>
<!--        <div class="top-courses-side"><a>Top Courses</a></div>-->
        {% include "LeadApplication/header.html" %}

        


        {% block content %}
        {% endblock %}
        {% include "LeadApplication/footer.html" %}

        <!-- BackToTop Button -->
        <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>

        <!-- Optional JavaScript -->
        {% include "LeadApplication/footerjs.html" %}

    </body>
</html>