{% extends 'LeadApplication/base.html' %}
{% load static %}
{% block content %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<section class="course-content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <h6 class="course-title open-sans">All Courses</h6>
                        <ul class="list-group course-list">
                            <li class="list-group-item active"><a href="">Lead by Timeline</a></li>
                            <li class="list-group-item"><a href="">Lead by Course </a></li>

                        </ul>
                    </div>


                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-6 col-12">
                        <div class="course-right c_scroll">
                            <div id="results" class="row">
                                <div class="r_div col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <!--Charts js starts here-->
                                    <canvas id="myChart" width="250" height="200"></canvas>
                                    <br>
                                    <select class="form-control col-lg-5 col-md-5" onchange="getNDaysLeads(this.value)">
                                        <option value="7">Last 7 days</option>
                                        <option value="90">Last 90 days</option>
                                        <option value="365">Last 365 days</option>
                                    </select>
                                    <!--Charts js ends here-->
                                </div>

                                <div class="col-lg-6">
                                    <!--Charts js starts here-->
                                    <canvas id="myChart2" width="250" height="200"></canvas>
                                    <!--Charts js ends here-->
                                </div>



                                <div class="col-lg-6" >
                                    <!--Charts js starts here-->
                                   ok
                                    <!--Charts js ends here-->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        <div class="text-center">
                            <span id="loading" class="open-sans blue-color"><img src="js/upload-img/processing.gif"></span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<script>
$(document).ready(function(){

});

//this is the line chart


var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {

                showInLegend: true,
                labels: {{labels|safe}},
                datasets: [{
                            fill: false,
                            strokeColor: "#e755ba",
                            data: {{data|safe}},
                            backgroundColor: {{colors|safe}},
                            borderColor: "#3e95cd",
                            borderWidth:0.9,
                            }]
            },
            options: {
            elements: {
                    point:{
                        radius: 0
                    }
                },
                title: {
                    display: true,
                    text: "Leads by Dates",
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels: {
                                fontColor: '#000'
                            }
                },
                scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 50,
                                    max: 400
                                },
                                scaleLabel: {
                                                display: true,
                                                labelString: 'Lead Counts(in number)'
                                              }
                            }],
                            xAxes: [{
                                barPercentage: 0.2,
                                scaleLabel: {
                                                display: true,
                                                labelString: 'Last '+{{last_x_days}}+' days'
                                              },
                                ticks:{
                                            minRotation: 45,
                                            beginAtZero: true,
                                            stepSize:100,
                                            display:false
                                        }
                            }]
                        }
            }
        });

//new chart starts here
    var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'horizontalBar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                showInLegend: true,
                labels: {{labels1|safe}},
                datasets: [{
                            data: {{data1|safe}},
                            backgroundColor: {{colors1|safe}}
                            }]
            },
            options: {
                title: {
                    display: true,
                    text: "Top 5 trending technology",
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels1: {
                                fontColor: '#000'
                            }
                },
                scales: {
                            yAxes: [{
                            gridLines: {
                            //color: "rgba(20, 10, 20, 20)",
                            },
                            barPercentage: 0.2,
                                ticks: {
                                    //beginAtZero: true,
                                    stepSize: 1
                                },
                                scaleLabel: {
                                                display: true,
                                                labelString: 'Technologies'
                                              }
                            }],
                            xAxes: [{
                                    gridLines: {
                                        //color: "rgba(20, 0, 0, 4)",
                                    },
                                scaleLabel: {
                                                display: true,
                                                labelString: 'Lead Counts'
                                              },
                                ticks:{
                                        display:false,
                                        callback: function(data, index, data1) {
                                            var a = data/100+'%';
                                            return a;
                                        },
                                            minRotation: 90,
                                            beginAtZero: true,
                                            stepSize:10
                                        }
                            }]
                        }
            }
        });


function getNDaysLeads(n_days)
{
    $.ajax({
           type:'POST',
           url:'/Leadanalytics/past_reports/',
           data:{
                n_days:n_days,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
           success:function(msg){

              alert(msg.labels);

              linefunction();

            }
    });
}

</script>

{% endblock %}