{% extends 'LeadApplication/base.html' %}
{% load static %}
{% block content %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<section class="course-content">
            <div class="container">
                <div class="row">




                </div>
            </div>
        </section>
{% endblock %}