{% load static %}
<link rel="stylesheet" href="{% static 'LeadApplication\\css\\doublerangeslider.css' %}">
<script type="text/javascript" src="{% static 'LeadApplication\\js\\doublerangeslider.js' %}"></script>
<script type="text/javascript" src="{% static 'LeadApplication\\js\\doublerangeslider_ui.js' %}"></script>
  <script>
  $( function() {
//<!--     var tooltip = "Tooltip Text";-->
//<!--     $('ui.values[0]').attr('title', tooltip);-->


  var month_assoc_array = {"Jan": '1',"Feb":'2',"Mar":'3',"Apr":'4',"May":'5',"Jun":'6',"Jul":'7',"Aug":'8',"Sep":'9',"Oct":'10',"Nov":'11',"Dec":'12'};
    var f = $('#preferedfrommonth').val();
    var t = $('#preferedtomonth').val();

   var f1 = month_assoc_array[f];
   var t1 = month_assoc_array[t];


    $( "#slider-range" ).slider({

      range: true,
      min: 1,
      max: 12,
      values: [ f1,t1 ],
      slide: function( event, ui ) {



        switch (ui.values[0]) {
                    case 1:
                    from = "Jan";
                    break;
                    case 2:
                    from = "Feb";
                    break;
                    case 3:
                    from = "Mar";
                    break;
                    case 4:
                    from = "Apr";
                    break;
                    case 5:
                    from = "May";
                    break;
                    case 6:
                    from = "Jun";
                    break;
                    case 7:
                    from = "Jul";
                    break;
                    case 8:
                    from = "Aug";
                    break;
                    case 9:
                    from = "Sep";
                    break;
                    case 10:
                    from = "Oct";
                    break;
                    case 11:
                    from = "Nov";
                    break;
                    case 12:
                    from = "Dec";
                    break;
                    default:
                    text = "No value found";
                    }



                    switch (ui.values[1]) {
                    case 1:
                    to = "Jan";
                    break;
                    case 2:
                    to = "Feb";
                    break;
                    case 3:
                    to = "Mar";
                    break;
                    case 4:
                    to = "Apr";
                    break;
                    case 5:
                    to = "May";
                    break;
                    case 6:
                    to = "Jun";
                    break;
                    case 7:
                    to = "Jul";
                    break;
                    case 8:
                    to = "Aug";
                    break;
                    case 9:
                    to = "Sep";
                    break;
                    case 10:
                    to = "Oct";
                    break;
                    case 11:
                    to = "Nov";
                    break;
                    case 12:
                    to = "Dec";
                    break;
                    default:
                    text = "No value found";
                    }





        $( "#amount" ).val( from + " - " + to );
        $("#frommonth").val(from);
        $("#tomonth").val(to);
        //<!-- here code begins -->

        //<!--here code ends -->


      }
    });

    $( "#amount" ).val( f + " - " + t);
    $("#frommonth").val(f);
    $("#tomonth").val(t);
  } );
  </script>