{% extends 'LeadApplication/base.html' %}
{% load static %}
{% block content %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<section class="course-content">
            <div class="container">
                <div class="row">


                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
<!--                        <div class="course-right c_scroll">-->
                            <div id="results" class="row">
                                <div class="r_div col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" style="border-bottom:2px solid black;">
                                    <!--Charts js starts here-->
                                    <canvas id="myChart" width="250" height="200" ></canvas>

                                    <select style="margin-left:50px; margin-bottom:10px;" class="" onchange="getNDaysLeads(this.value)">
                                        <option value="20">Last 20 days</option>
                                        <option value="90">Last 90 days</option>
                                        <option value="365">Last 365 days</option>
                                    </select>
                                    <!--Charts js ends here-->
                                </div>


                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" style="border-bottom:2px solid black;">
                                    <!--Charts js starts here-->
                                    <canvas id="myChart2" width="250" height="200"></canvas>
                                    <!--Charts js ends here-->
                                </div>



                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" style="border-bottom:2px solid black;" >
                                    <!--Charts js starts here-->
                                         <canvas id="multilineChart" width="250" height="200" ></canvas>
                                    <!--Charts js ends here-->
                                </div>
                                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"  >
                                    <!--Charts js starts here-->
                                         <canvas id="topfivecountries" width="250" height="200" ></canvas>
                                    <!--Charts js ends here-->
                                </div>

                                <div class="col-lg-6" >
                                    <!--Charts js starts here-->
                                         <canvas id="sourcewiseleads" width="250" height="200" ></canvas>
                                    <!--Charts js ends here-->
                                </div>


                            </div>
                            <div class="clearfix"></div>
                        <div class="text-center">
                            <span id="loading" class="open-sans blue-color"><img src="js/upload-img/processing.gif"></span>
                        </div>
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </section>

{% block js_block %}
<script>
//this is the line chart

var ctx = document.getElementById('myChart').getContext('2d');
         var config ={
          type: 'line',
            data: {
                showInLegend: true,
                labels: {{labels|safe}},
                datasets: [{
                            fill: false,
                            strokeColor: "#e755ba",
                            data: {{data|safe}},
                            backgroundColor: {{colors|safe}},
                            borderColor: "#3e95cd",
                            borderWidth:0.9,
                            //steppedLine: true,
                            }]
                    },
            options: {
                    elements: {
                            point:{
                                radius: 0
                            }
                             },
                    title: {
                        display: true,
                        text: "Leads by Dates",
                         },
                        legend: {
                            display: false,
                            position: 'right',
                            labels: {
                                        fontColor: '#000'
                                    }
                            },
                        scales: {
                                    yAxes: [{

                                        ticks: {
                                            beginAtZero: true,
                                            stepSize: 50,
                                            max: 400
                                        },
                                        scaleLabel: {
                                                        display: true,
                                                        labelString: 'Lead Counts(in number)'
                                                      }
                                    }],
                                    xAxes: [{

                                        barPercentage: 0.2,
                                        scaleLabel: {
                                                        display: true,
                                                        labelString: 'Last '+{{last_x_days}}+' days'
                                                      },
                                        ticks:{
                                                    minRotation: 45,
                                                    beginAtZero: true,
                                                    stepSize:100,
                                                    display:false
                                                }
                                    }]
                                }
                     }

            };

var myChart = new Chart(ctx,config);
//new chart starts here
    var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'horizontalBar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                showInLegend: true,
                labels: {{labels1|safe}},
                datasets: [{
                            data: {{data1|safe}},
                            backgroundColor: {{colors1|safe}}
                            }]
            },
            options: {
                title: {
                    display: true,
                    text: "Top 5 trending technology",
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels1: {
                                fontColor: '#000'
                            }
                },
                scales: {
                            yAxes: [{
                            gridLines: {
                            //color: "rgba(20, 10, 20, 20)",
                            },
                            barPercentage: 0.2,
                                ticks: {
                                    //beginAtZero: true,
                                    stepSize: 1
                                },
                                scaleLabel: {
                                                display: true,
                                                labelString: 'Technologies'
                                              }
                            }],
                            xAxes: [{
                                    gridLines: {
                                        //color: "rgba(20, 0, 0, 4)",
                                    },
                                scaleLabel: {
                                                display: true,
                                                labelString: 'Lead Counts'
                                              },
                                ticks:{
                                        display:false,
                                        callback: function(data, index, data1) {
                                            var a = data/100+'%';
                                            return a;
                                        },
                                            minRotation: 90,
                                            beginAtZero: true,
                                            stepSize:10
                                        }
                            }]
                        }
            }
        });
//top five countries chart starts here
var ctx4 = document.getElementById('topfivecountries').getContext('2d');
        var topfivecountries = new Chart(ctx4, {
            type: 'horizontalBar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                showInLegend: true,
                labels: {{labels2|safe}},
                datasets: [{
                            data: {{data2|safe}},
                            backgroundColor: {{colors2|safe}}
                            }]
            },
            options: {
                title: {
                    display: true,
                    text: "Top 5 Countries Leadcount wise",
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels1: {
                                fontColor: '#000'
                            }
                },
                scales: {
                            yAxes: [{
                            gridLines: {
                            //color: "rgba(20, 10, 20, 20)",
                            },
                            barPercentage: 0.2,
                                ticks: {
                                    //beginAtZero: true,
                                    stepSize: 1
                                },
                                scaleLabel: {
                                                display: true,
                                                labelString: 'Countries'
                                              }
                            }],
                            xAxes: [{
                                    gridLines: {
                                        //color: "rgba(20, 0, 0, 4)",
                                    },
                                scaleLabel: {
                                                display: true,
                                                labelString: 'Lead Counts'
                                              },
                                ticks:{
                                        display:false,
                                        callback: function(data, index, data1) {
                                            var a = data/100+'%';
                                            return a;
                                        },
                                            minRotation: 90,
                                            beginAtZero: true,
                                            stepSize:10
                                        }
                            }]
                        }
            }
        });

//top five countries chart ends here


function getNDaysLeads(n_days)
{

    $.ajax({
           type:'POST',
           url:'/Leadanalytics/past_reports/',
           data:{
                n_days:n_days,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
           success:function(msg){
           var ajaxdata = msg.data2;
           var ajaxlabel = msg.labels2;
           var ajaxcolors = msg.colors2;
           var ajaxlastxdays = msg.last_x_days;
//////////////////////////////////////////////////
            var ctx = document.getElementById('myChart').getContext('2d');
         var config ={
          type: 'line',
            data: {

                showInLegend: true,
                labels: ajaxlabel,
                datasets: [{
                            fill: false,
                            strokeColor: "#e755ba",
                            data: ajaxdata,
                            backgroundColor: ajaxcolors,
                            borderColor: "#3e95cd",
                            borderWidth:1,
                            //steppedLine: true,

                            }]
                    },
            options: {
                    elements: {
                            point:{
                                radius: 0
                            }
                             },
                    title: {
                        display: true,
                        text: "Leads by Dates",
                         },
                        legend: {
                            display: false,
                            position: 'right',
                            labels: {
                                        fontColor: '#000'
                                    }
                            },
                        scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            stepSize: 50,
                                            max: 400
                                        },
                                        scaleLabel: {
                                                        display: true,
                                                        labelString: 'Lead Counts(in number)'
                                                      }
                                    }],
                                    xAxes: [{

                                        barPercentage: 0.2,
                                        scaleLabel: {
                                                        display: true,
                                                        labelString: 'Last '+ajaxlastxdays+' days'
                                                      },
                                        ticks:{
                                                    minRotation: 45,
                                                    beginAtZero: true,
                                                    stepSize:100,
                                                    display:false
                                                }
                                    }]
                                }
                     }

            };

var myChart = new Chart(ctx,config);
            ///////////////////////////////////

            }
    });
}
////////////this is multiline chart
var canvas = document.getElementById("multilineChart");
var ctx = canvas.getContext('2d');

// Global Options:
Chart.defaults.global.defaultFontColor = 'black';
Chart.defaults.global.defaultFontSize = 10;

var data = {
  labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
  datasets: [{
      label: {{last_year}}+' data',
      fill: false,
      lineTension: 0.1,
      backgroundColor: "rgba(225,0,0,0.4)",
      borderColor: "red", // The main line color
      borderCapStyle: 'square',
      borderDash: [], // try [5, 15] for instance
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "black",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "yellow",
      pointHoverBorderColor: "brown",
      pointHoverBorderWidth: 1,
      pointRadius: 4,
      pointHitRadius: 10,
      // notice the gap in the data and the spanGaps: true
      data: {{previousy}},
      spanGaps: true,
    }, {
      label: {{current_year}}+' data',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(167,105,0,0.4)",
      borderColor: "rgb(167, 105, 0)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "white",
      pointBackgroundColor: "black",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "brown",
      pointHoverBorderColor: "yellow",
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10,
      // notice the gap in the data and the spanGaps: false
      data: {{currenty}},
      spanGaps: false,
    }

  ]
};

// Notice the scaleLabel at the same level as Ticks
var options = {
legend: {
						position: 'top',
					},
  scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    //stepSize: 100,
                },
                scaleLabel: {
                     display: true,
                     labelString: 'Lead Counts',
                     fontSize: 10
                  }
            }],
            xAxes: [{

                scaleLabel: {
                     display: true,
                     labelString: 'Months(comparison)',
                     fontSize: 10
                  }
            }]
        }
};

// Chart declaration:
var myBarChart = new Chart(ctx, {
  type: 'line',
  data: data,
  options: options
});

//now source wise leads with line chart

</script>
{% endblock js_block %}
{% endblock %}