{% extends 'LeadApplication/base.html' %}
{% load static %}

{% block content %}
<style>
    nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
</style>

<div class="container">
              <div class="row">
                <div class="col-xs-12 ">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Total Leads</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Demographic</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                      <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>
                    </div>
                  </nav>
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="row">
                                    <div class="col-md-6 col-lg-12" id="chartdiv">
                                        {{div5 | safe}}
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <select class="form-control" onchange="getSelectedIntervalData(this.value)">
                                            <option value="this_week">This week</option>
                                            <option value="last_week">Last week</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                                             <div class="row" style="width:1200px;" >
                                                 <div class="col-lg-4">
                                                    <select class="form-control tab-pane" onchange="getCountrySpecificData(this.value)">
                                                        <option value="0">Show all Country Ratio</option>
                                                        {% for country in countries %}
                                                                  <option value="{{ country }}"  >{{ country }}</option>
                                                        {%  endfor %}
                                                    </select>
                                                     <br><br>
                                                     <select class="form-control" onchange="getTechnologySpecificData(this.value)">
                                                        <option value="0">Show all Technologies Ratio</option>
                                                        {% for technology in technologies %}
                                                                  <option value="{{ technology }}"  >{{ technology }}</option>
                                                        {%  endfor %}
                                                    </select>
                                                 </div>
                                                 <div class="col-lg-8">
                                                     <div id="imagediv">
                                                        <img src="http://127.0.0.1:8000/media/country_based_leads.png" heigth="500" width="600"/>
		                                             </div>
		                                                    <span id="titletext" style="margin-left:200px;">Country based Technology Ratio</span>
                                                 </div>
                                             </div>



                            </div>

                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                              Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                            </div>
                            <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                              Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                            </div>
                  </div>

                </div>
              </div>
        </div>
      </div>
</div>



<script>

    function getSelectedIntervalData(selectedValue)
        {

                    $.ajax({
                           type:'POST',
                           url:'/Leadanalytics/getSelectedIntervalChart/',
                           data:{
                                timeInterval:selectedValue,
                                },
                           success:function(msg)
                               {
                                $("#chartdiv").html(msg);
                               }
                      });
        }

    function getCountrySpecificData(selecteddata)
    {
            var countryname = selecteddata;
                    $.ajax({
                           type:'POST',
                           url:'/Leadanalytics/CountrySpecificLeads/',
                           data:{
                                countryname:countryname,
                                },
                           success:function(msg)
                               {
                                   $("#imagediv").empty();
                                   $("#imagediv").html("<img src='http://127.0.0.1:8000/media/"+msg+".png' alt='Not Available' height='300' width='auto' />");
                                   $('#titletext').text('Ratio of Technology Demand in ' + msg);
                               }
                      });
    }

    function getTechnologySpecificData(selectedtech)
    {
        var techname = selectedtech;

            $.ajax({
                           type:'POST',
                           url:'/Leadanalytics/TechnologySpecificLeads/',
                           data:{
                                techname:techname,
                                },
                           success:function(msg)
                               {
                                   $("#imagediv").empty();
                                   $("#imagediv").html("<img src='http://127.0.0.1:8000/media/"+msg+".png' alt='Not Available' height='300' width='auto' />");
                                   $('#titletext').text('Ratio of '+msg+' demand in these Countries');
                               }
                      });

    }
</script>


{% endblock %}
