{% load static %}
<footer>
    <div class="right-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <h5 class="text-uppercase footer-border">Learning</h5>
                    <ul class="footer-list">
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="why-bisp.html">Why BISP</a></li>
                        <li><a href="refund-policy.html">Refund Policy</a></li>
                        <li><a href="disclaimer.html">Disclaimer</a></li>
                        <li><a href="opportunity-analytics.html">Opportunity Analytics</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <h5 class="text-uppercase footer-border">Useful Links</h5>
                    <ul class="footer-list">
                        <li><a href="our-trainers.html">Our Trainers</a></li>
                        <li><a href="clients-and-partner.html">Clients and Partner</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                        <li><a href="our-team.html">Our Team</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <h5 class="text-uppercase footer-border">Our Blog</h5>
                    <ul class="footer-list">
                        <li><a href="">Bisptrainings</a></li>
                        <li><a href="">Hyperian guru</a></li>
                        <li><a href="">Learn ODI</a></li>
                        <li><a href="">Learn planning</a></li>
                        <li><a href="">Essbase guru</a></li>
                        <li><a href="">Learn sql query</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="mb-1">
                        <div class="d-table-cell align-top pr-2"><img class="img-fluid" src="images/ind.png" alt="India Flag"></div>
                        <div class="d-table-cell align-top">
                            <p class="font-weight-normal">+91 975-275-3753</p>
                        </div>
                    </div>
                    <div class="mb-0">
                            
                        <div class="d-table-cell align-top pr-2"><img class="img-fluid" src="{% static 'LeadApplication\\images\\usa.png' %}" alt="USA Flag"></div>
                        <div class="d-table-cell align-top">
                            <p class="font-weight-normal">+1 786-629-6893</p>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="d-table-cell align-top pr-2"><i class="fa fa-envelope footer-envelope"></i></div>
                        <div class="d-table-cell align-top">
                            <p class="mt-2 font-weight-normal">info@bisptrainings.com</p>
                        </div>
                    </div>
                    <ul class="top-bar-list footer-social">
                        <li class="fb-color"><a><i class="fa fa-facebook"></i></a></li>
                        <li class="tw-color"><a><i class="fa fa-twitter"></i></a></li>
                        <li class="gp-color"><a><i class="fa fa-youtube"></i></a></li>
                        <li class="in-color"><a><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="mt-3">
                            {% load staticfiles %}
                        <img class="img-fluid" src="{% static 'LeadApplication\\images\\oracle-logo.png' %}" alt="Oracle">
                        <img class="img-fluid" src="images/iso-img.png" alt="ISO">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <p class="mb-0 pt-2 txt-center">Copyright © 2019 <span class="blue-color">BISP Trainings</span>. All Rights Reserved.</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <p class="mb-0 pt-2 text-right txt-center">Developed by <span class="blue-color">BISP SOLUTIONS</span>. Digital Marketing Partner - <span class="blue-color">DIGIWOOS</span></p>
            </div>
        </div>
    </div>
</section>