
{% load staticfiles %}
<script type="text/javascript" src="{% static 'LeadApplication\\js\\popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'LeadApplication\\js\\multiselect\\bootstrap-multiselect.js' %}"></script>



        <script type="text/javascript" src="{% static 'LeadApplication\\js\\bootstrap.min.js' %}"></script>
        <script>
            $(document).ready(function () {
                $("#close").click(function () {
                    $(".offer-bg").hide();
                    $("#copyright").css("margin-bottom", "0");
                });
            });
        </script>

        <script src="{% static 'LeadApplication\\js\\eventcalendar\\js\\moment.min.js' %}"></script>
        <script src="{% static 'LeadApplication\\js\\eventcalendar\\js\\fullcalendar.min.js' %}"></script>
        <script>
            $(function () {

                $('#calendar').fullCalendar({
                    defaultView: 'month',
                    defaultDate: '2019-02-27',
                    eventRender: function (eventObj, $el) {
                        $el.popover({
                            title: eventObj.title,
                            content: eventObj.description,
                            trigger: 'hover',
                            placement: 'top',
                            container: 'body'
                        });
                    },
                    events: [
                        {
                            title: 'All Day Event',
                            description: 'description for All Day Event',
                            start: '2019-02-01'
                        },
                        {
                            title: 'Long Event',
                            description: 'description for Long Event',
                            start: '2019-02-07',
                            end: '2019-02-10'
                        },
                        {
                            id: 999,
                            title: 'Repeating Event',
                            description: 'description for Repeating Event',
                            start: '2019-02-09T16:00:00'
                        },
                        {
                            id: 999,
                            title: 'Repeating Event',
                            description: 'description for Repeating Event',
                            start: '2019-02-16T16:00:00'
                        },
                        {
                            title: 'Conference',
                            description: 'description for Conference',
                            start: '2019-02-11',
                            end: '2019-02-13'
                        },
                        {
                            title: 'Meeting',
                            description: 'description for Meeting',
                            start: '2019-02-12T10:30:00',
                            end: '2019-02-12T12:30:00'
                        },
                        {
                            title: 'Lunch',
                            description: 'description for Lunch',
                            start: '2019-02-12T12:00:00'
                        },
                        {
                            title: 'Meeting',
                            description: 'description for Meeting',
                            start: '2019-02-12T14:30:00'
                        },
                        {
                            title: 'Birthday Party',
                            description: 'description for Birthday Party',
                            start: '2019-02-13T07:00:00'
                        },
                        {
                            title: 'Click for Google',
                            description: 'description for Click for Google',
                            url: 'http://google.com/',
                            start: '2019-02-28'
                        }
                    ]
                });

            });
        </script>

        <script type="text/javascript" src="{% static 'LeadApplication\\js\\bootstrap-4-multi-dropdown\\js\\bootstrap-4-navbar.js' %}"></script>

        <script type="text/javascript" src="{% static 'LeadApplication\\js\\light-box\\html5lightbox.js' %}"></script>

        <script type="text/javascript" src="{% static 'LeadApplication\\js\\jquery.countdown.min.js' %}"></script>
        <script type="text/javascript">
            $('#example').countdown({
                date: '6/18/2019 23:59:59',
                offset: -8,
                day: 'Day',
                days: 'D',
                hours: 'H',
                minutes: 'M',
                seconds: 'S'
            }, function () {
                //alert('Done!');
            });
        </script>

        <script src="{% static 'LeadApplication\\js\\modernizr.js' %}"></script>
        <script>
            $(document).ready(function () {
                if (Modernizr.touch) {
                    // show the close overlay button
                    $(".close-overlay").removeClass("hidden");
                    // handle the adding of hover class when clicked
                    $(".img").click(function (e) {
                        if (!$(this).hasClass("hover")) {
                            $(this).addClass("hover");
                        }
                    });
                    // handle the closing of the overlay
                    $(".close-overlay").click(function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        if ($(this).closest(".img").hasClass("hover")) {
                            $(this).closest(".img").removeClass("hover");
                        }
                    });
                } else {
                    // handle the mouseenter functionality
                    $(".img").mouseenter(function () {
                        $(this).addClass("hover");
                    })
                            // handle the mouseleave functionality
                            .mouseleave(function () {
                                $(this).removeClass("hover");
                            });
                }
            });
        </script>

        <script type="text/javascript" src="{% static 'LeadApplication\\js\\owl.carousel.js' %}"></script>
        <script>
            $(document).ready(function () {
                $('.owl-carousel-1').owlCarousel({
                    margin: 30,
                    nav: true,
                    loop: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        400: {
                            items: 2
                        },
                        650: {
                            items: 3
                        },
                        900: {
                            items: 4
                        },
                        1200: {
                            items: 4
                        }
                    }
                })

                $('.owl-carousel-2').owlCarousel({
                    margin: 30,
                    autoplay: true,
                    nav: true,
                    loop: true,
                    responsive: {
                        0: {
                            items: 2
                        },
                        400: {
                            items: 3
                        },
                        700: {
                            items: 3
                        },
                        900: {
                            items: 3
                        },
                        1200: {
                            items: 3
                        }
                    }
                })
            })
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 100) {
                        $('#scroll').fadeIn();
                    } else {
                        $('#scroll').fadeOut();
                    }
                });
                $('#scroll').click(function () {
                    $("html, body").animate({scrollTop: 0}, 600);
                    return false;
                });
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('a[href^="#"]').on('', function (e) {
                    e.preventDefault();
                    var target = this.hash;
                    var $target = $(target);
                    $('html, body').stop().animate({
                        'scrollTop': $target.offset().top
                    }, 1000, 'swing');
                });

                var nav = $('.fixed-menu');
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 136) {
                        nav.addClass("menu-fix");
                    } else {
                        nav.removeClass("menu-fix");
                    }
                });

                var nav1 = $('.fixed-menu-offer');
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 136) {
                        nav1.addClass("menu-fix-offer");
                    } else {
                        nav1.removeClass("menu-fix-offer");
                    }
                });
            });
        </script>