<div class="row firstpage" id="firstpage">

             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="position: relative;background: url(../images/a.jpeg) no-repeat center top;">
                <canvas id="myChart11" width="250" height="200"  ></canvas>
             </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <canvas id="myChart22" width="250" height="200"   ></canvas>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
               <canvas id="topfivecities" width="250" height="200"   ></canvas>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                    <canvas id="topfivecountries" width="250" height="200"   ></canvas>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
               <canvas id="myChartStacked" width="250" height="200"  ></canvas>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                    <div  id="chartContainer" style="margin-top:50px;" ></div>
            </div>



</div>
 <div class="row secondpage" id="secondpage">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                <canvas id="multilineChart" width="500" height="400" ></canvas>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                <canvas id="sourcewisecomperison" width="500" height="400"></canvas>
                </div>




 </div>

<script>


 var ctx = document.getElementById('myChart11').getContext('2d');
         var config ={
          type: 'line',

            data: {

                showInLegend: true,
                labels: {{labels11|safe}},
                datasets: [{
                            fill: false,
                            strokeColor: "#e755ba",
                            data: {{data11|safe}},
                            backgroundColor: {{colors11|safe}},
                            borderColor: "#3e95cd",
                            borderWidth:1,
                            //steppedLine: true,
                            }]
                    },
            options: {
             plugins: {
            zoom: {
                pan: {
                    enabled: false,
                    mode: 'xy'
                },
                zoom: {
                    enabled: true,
                    mode: 'xy',
                }
            }
        },
             tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },

                    elements: {
                            point:{
                                radius: 0
                            }
                             },
                    title: {
                        display: true,
                        text: "Leads Trends {{ttext}}",
                        fontSize:20,
                        fontColor:"#007bff",
                         },
                        legend: {
                            display: false,
                            position: 'right',
                            labels: {
                                        fontColor: '#000'
                                    }
                            },
                        scales: {
                                    yAxes: [{
                                         gridLines: {
                                            display:true
                                        },
                                        ticks: {
                                            beginAtZero: true,
                                            //stepSize: 50,
                                            //max: 1000
                                        },
                                        scaleLabel: {
                                                        display: false,
                                                        labelString: 'Lead Counts(in number)'
                                                      }
                                    }],
                                    xAxes: [{
                                         gridLines: {
                                            display:true
                                        },
                                        barPercentage: 0.2,
                                        scaleLabel: {
                                                        display: true,
                                                        labelString: 'Last '+{{last_x_days}}+' days',
                                                      },
                                        ticks:{
                                                    minRotation: 70,
                                                    beginAtZero: true,
                                                    stepSize:1,
                                                    display:true,

                                                    callback: function(value, index, values) {
                                                                                                  return "{{labeltitle}}" + value;
                                                                                                }

                                                }
                                    }]
                                }
                     }

            };


var myChart11 = new Chart(ctx,config);




//////////here is the source chart
var config22 = {
  type: 'bar',
  data: {
    labels: {{labels22|safe}},
    datasets: [ {
      type: 'bar',
      label: 'Sources',
      backgroundColor: "#3e95cd",
      data:{{data22|safe}},
    },

    ]
  },
  options: {

  plugins: {
            zoom: {
                pan: {
                    enabled: false,
                    mode: 'xy'
                },
                zoom: {
                    enabled: true,
                    mode: 'xy',
                }
            }
        },
   tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },
  layout: {
      padding: {
        left: 0,
        right: 0,
        top: 15,
        bottom: 0
      }
    },
                 title: {
                        display: true,
                        text: "Leads by Sources {{ttext}}",
                        fontSize:20,
                        fontColor:"#007bff",

                         },
    scales: {
      xAxes: [{
      barPercentage: 0.8,
      maxBarThickness: 30,
        stacked: true,
        scaleLabel: {
                    display: false,
                    labelString: 'Last '+{{last_s_days}}+' days'
                  },
         ticks:{
                minRotation:40,
         }
      },
      ],
      yAxes: [{
        stacked: true
      }]
    }
  }
};

var ctx22 = document.getElementById("myChart22").getContext("2d");
myChart22 = new Chart(ctx22, config22);




///Now we want lead by cities only top 5 cities will be displayed
var ctx4 = document.getElementById('topfivecities').getContext('2d');
        var topfivecities = new Chart(ctx4, {
            type: 'horizontalBar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                showInLegend: true,
                labels: {{labels_city|safe}},
                datasets: [{
                            data: {{data_city|safe}},
                            backgroundColor: {{colors_city|safe}}
                            }]
            },
            options: {

             tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },
                title: {
                    display: true,
                    text: "Top 5 Cities {{ttext}}",
                    fontSize:20,
                    fontColor:"#007bff",
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels1: {
                                fontColor: '#000'
                            }
                },
                scales: {

                            yAxes: [{
                             barPercentage: 0.8,
                            maxBarThickness: 30,
                            stacked:true,
                            gridLines: {
                            color: "rgba(20, 10, 20, 20)",
                            },
                            gridLines: {
                                            display:false
                                        },

                                ticks: {
                                    //beginAtZero: true,
                                    stepSize: 1
                                },
                                scaleLabel: {
                                                display: true,
                                                labelString: 'Cities'
                                              }
                            }],
                            xAxes: [{
                            //barPercentage: 0.8,
                            //maxBarThickness: 30,
                            stacked:false,
                                    gridLines: {
                                        color: "rgba(20, 0, 0, 4)",
                                    },
                                     gridLines: {
                                            display:true
                                        },
                                scaleLabel: {

                                                display: false,
                                                labelString: 'Last '+{{last_s_days}}+' days'
                                              },
                                ticks:{
                                        display:true,

                                        callback: function(data, index, data1) {
                                                       return data;
                                        },
                                            //minRotation: 90,
                                            //beginAtZero: true,
                                            autoSkip: true,
                                            maxTicksLimit: 5,
                                            stepSize:200
                                        }
                            }]
                        }

            }
        });

/////////////////////top five countries
var ctx_country = document.getElementById('topfivecountries').getContext('2d');
        var topfivecountries = new Chart(ctx_country, {
            type: 'horizontalBar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                showInLegend: true,
                labels: {{labels_country|safe}},
                datasets: [{
                            data: {{data_country|safe}},
                            backgroundColor: {{colors_country|safe}}
                            }]
            },
            options: {

             tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },
                title: {
                    display: true,
                    text: "Top 5 Countries {{ttext}}",
                    fontSize:20,
                    fontColor:"#007bff",
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels1: {
                                fontColor: '#000'
                            }
                },
                scales: {

                            yAxes: [{
                            barPercentage: 0.8,
                            maxBarThickness: 30,
                            stacked:false,
                            gridLines: {
                            color: "rgba(20, 10, 20, 20)",
                            },
                            gridLines: {
                                            display:false
                                        },

                                ticks: {
                                    //beginAtZero: true,
                                    stepSize: 1
                                },
                                scaleLabel: {
                                                display: true,
                                                labelString: 'Countries'
                                              }
                            }],
                            xAxes: [{

                            stacked:false,
                                    gridLines: {
                                        color: "rgba(20, 0, 0, 4)",
                                    },
                                     gridLines: {
                                            display:true
                                        },
                                scaleLabel: {

                                                display: false,
                                                labelString: 'Last '+{{last_s_days}}+' days'
                                              },
                                ticks:{
                                        display:true,
                                        callback: function(data, index, data1) {
                                            return data;
                                            /*var total_dividation = data1.length-1;
                                            var max_value = Math.max.apply(this, data1);
                                            if(index < total_dividation)
                                                {
                                                    return (data*100)/max_value;
                                                }
                                            else
                                            {
                                                return max_value;
                                            }*/


                                        },
                                            //minRotation: 90,
                                            beginAtZero: true,
                                            autoSkip: true,
                                            maxTicksLimit: 5,
                                            stepSize:100

                                        }
                            }]
                        }

            }
        });


////////////country function over

////////////////from internet
var ctx = document.getElementById('myChartStacked').getContext('2d');
var myChartStacked = new Chart(ctx, {
   type: 'bar',
   data: {
        labels: {{mainlabel|safe}},
        datasets:[
        ]},

    options: {

     plugins: {
            zoom: {

                pan: {
                    enabled: false,
                    mode: 'xy'
                },

                zoom: {
                    enabled: true,
                    mode: 'xy',
                }
            }
        },

     tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },
      title: {
            display: true,
            text: "Leads by Countries by {{ttext}}",
            fontSize:20,
            fontColor:"#007bff",
             },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                   // max: 1000,
                },
                stacked:true,
                scaleLabel: {
                            display: true,
                            labelString: 'Lead Counts'
                          }
            }],
            xAxes: [{
             barPercentage: 0.8,
             maxBarThickness: 30,
                ticks: {
                    beginAtZero: true,
                    callback: function(value, index, values) {
                                                              if("{{labeltitle}}" == 'Year ') { return value;}
                                                              else{
                                                              return "{{labeltitle}}" + value;
                                                              }
                                                            }
                },
                 scaleLabel: {
                            display: false,
                            labelString: 'Last '+{{last_csx_days}}+' days'
                          },
                stacked:true,
            }]
        }
    }
});
myChartStacked.data.datasets.push(
{% for cc in contextsecond %}
{label: '{{cc.label}}', data: {{cc.data}}, backgroundColor: '{{cc.backgroundColor}}', borderwidth: 1},
{% endfor %}
);
myChartStacked.update()
/////////////this above was from internet now below is the dropdown list item change function
////funnel chart
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	//theme: "dark2", //"light1", "dark1", "dark2"
	backgroundColor:'#f7f7f9',
	title:{
		text: "Lead Analysis -  2019"
	},
	data: [{
		type: "funnel",

		indexLabelPlacement: "inside",
		indexLabelFontColor: "white",
		toolTipContent: "<b>{label}</b>: {y} <b>({percentage}%)</b>",
		indexLabel: "{label} ({percentage}%)",
		dataPoints: [
			{ y: {{totalleads}}, label: "Leads" },
			{ y: 903, label: "Pipeline" },
			{ y: 903,  label: "Negotiation" },
			{ y: 1249, label: "Converted" },

		]
	}]
});
calculatePercentage();
chart.render();

function calculatePercentage() {
	var dataPoint = chart.options.data[0].dataPoints;
	var total = dataPoint[0].y;
	for(var i = 0; i < dataPoint.length; i++) {
		if(i == 0) {
			chart.options.data[0].dataPoints[i].percentage = 100;
		} else {
			chart.options.data[0].dataPoints[i].percentage = ((dataPoint[i].y / total) * 100).toFixed(2);
		}
	}
}




////funnel chart



</script>
<script type="text/javascript">

///////////////////////varience charts begins here
var canvas = document.getElementById("multilineChart");
var ctx = canvas.getContext('2d');

// Global Options:
Chart.defaults.global.defaultFontColor = 'black';
Chart.defaults.global.defaultFontSize = 10;

var data = {

  labels: {{v_labels|safe}},

  datasets: [{
      label: {{last_year}}+' Leads',
      fill: false,
      //lineTension: 0.1,
      backgroundColor: "rgba(225,0,0,0.4)",
      borderColor: "red", // The main line color
      borderCapStyle: 'square',
      borderDash: [1,4],
      borderWidth:1,
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "black",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 3.5,
      //pointHoverBackgroundColor: "yellow",
      pointHoverBorderColor: "brown",
      pointHoverBorderWidth: 1,
      pointRadius: 3,
      pointHitRadius: 10,
      // notice the gap in the data and the spanGaps: true
      data: {{previousy}},
      spanGaps: true,
    }, {
      label: {{current_year}}+' Leads',
      fill: false,
      //lineTension: 0.1,
      steppedLine:false,
      backgroundColor: "rgba(167,105,0,0.4)",
      borderColor: "blue",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "blue",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 3.5,
      //pointHoverBackgroundColor: "brown",
      //pointHoverBorderColor: "yellow",
      pointHoverBorderWidth: 2,
      pointRadius: 3,
      pointHitRadius: 10,
      //notice the gap in the data and the spanGaps: false
      data: {{currenty}},
      spanGaps: false,
    }

  ]
};

// Notice the scaleLabel at the same level as Ticks
var options = {
 tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },
legend: {
						position: 'top',
					},
  scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    //stepSize: 100,
                },
                scaleLabel: {
                     display: true,
                     labelString: 'Lead Counts',
                     fontSize: 12,
                     fontColor:'blue',
                  }
            }],
            xAxes: [{

                scaleLabel: {
                     display: true,
                     labelString: 'Comparison by {{x_axis_label}}',
                     fontSize: 20,
                     fontColor:'blue',
                  },
                  ticks:{
                  minRotation: 20,
                  maxRotation:70,
                  }
            }]
        }
};

// Chart declaration:
var myBarChart = new Chart(ctx, {
  type: 'line',
  data: data,
  options: options
});


//now source wise leads with line chart and bar charrt with year comperison
var chartDefault = {
  type: 'bar',
  data: {
    labels: {{x_axis_source_labels|safe}},
    datasets: [{
      type: 'bar',
      label: '2020 Data',
      data: {{currentyearsourcelead|safe}},
      //backgroundColor: 'blue',
      borderColor: 'blue',

      borderWidth: 1
    }, {
      type: 'line',
      label: '2019 Data',
      data: {{lastyearsourcelead|safe}},
      yAxisID: 'invoice-amount',
      borderColor: 'red',
      borderDash: [4,2],
      borderJoinStyle: 'miter',
      borderWidth: 1,
      fill:false,
    }]
  },
  options: {
   tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },
    scales: {
      xAxes: [{
      barPercentage: 0.8,
        maxBarThickness: 30,
        display: true,
        stacked: true,
        scaleLabel: {
          display: true,
          labelString: 'Sources by {{x_axis_label}}',
          fontSize:20,
          fontColor:'blue',
        },
      }, {
        id: 'invoice-time',
        display: false,
        stacked: false,
        scaleLabel: {
          display: false,
          labelString: 'Sources '
        },
        ticks: {
          beginAtZero: true,
          stepSize: 1,
          suggestedMax: 125
        }
      }],
      yAxes: [{
        display: true,
        stacked: true,
        scaleLabel: {
          display: true,
          labelString: 'Lead Count',
          fontSize:12,
          fontColor:'blue',
        },
        ticks: {
          beginAtZero: true,
        }
      }, {
        id: 'invoice-amount',
        display: true,
        stacked: false,
        position: 'right',
        scaleLabel: {
          display: true,
          labelString: 'Previous Year ',
          fontSize:12,
          fontColor:'red',

        },
        ticks: {
          beginAtZero: true,
        }
      }]
    },
  }
};
var chart = new Chart($('#sourcewisecomperison'), chartDefault);

// now varience between two years in the top 5 cities
</script>

