{% load staticfiles %}
        <link rel="stylesheet" href="{% static 'LeadApplication\\css\\bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'LeadApplication\\css\\bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'LeadApplication\\js\\bootstrap-4-multi-dropdown\\css\\bootstrap-4-navbar.css' %}">
        <link rel="stylesheet" href="{% static 'LeadApplication\\font\\font-awesome-4.7.0\\css\\font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'LeadApplication\\css\\hover.css' %}">
<!--        <link rel="stylesheet" href="{% static 'LeadApplication\\js\\eventcalendar\\css\\fullcalendar.min.css' %}">-->
<!--        <link rel="stylesheet" href="{% static 'LeadApplication\\js\\eventcalendar\\css\\fullcalendar.print.css' %}">-->
        <link href="{% static 'LeadApplication\\css\\owl.carousel.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'LeadApplication\\css\\owl.theme.default.css' %}" rel="stylesheet" type="text/css">
<!--        <link href="{% static 'LeadApplication\\css\\jquery.countdown.css' %}" type="text/css" rel="stylesheet">-->
        <link rel="stylesheet" href="{% static 'LeadApplication\\css\\custom.css' %}">
        <link rel="stylesheet" href="{% static 'LeadApplication\\css\\responsive.css' %}">

        <link rel="stylesheet" href="{% static 'LeadApplication\\js\\multiselect\\bootstrap-multiselect.css' %}">

        <link rel="stylesheet" href="{% static 'LeadApplication\\js\\datepicker\\daterangepicker.min.css' %}">




        <script type="text/javascript" src="{% static 'LeadApplication\\js\\jquery-3.2.1.min.js' %}"></script>


        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css" type="text/css"/>
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.css" type="text/css"/>
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.4.min.css" type="text/css"/>



        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.4.min.js"></script>

        <link rel="stylesheet" href="{% static 'LeadApplication\\css\\cdnjs_cloudefare.css' %}">
        <link rel="stylesheet" href="{% static 'LeadApplication\\css\\cdnrawgit.css' %}">
        <script type="text/javascript" src="{% static 'LeadApplication\\js\\ajax_jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'LeadApplication\\js\\cdnjs_cloudfare_js.js' %}"></script>
        <script type="text/javascript" src="{% static 'LeadApplication\\js\\cdnrawgit.js' %}"></script>

        <script type="text/javascript" src="{% static 'LeadApplication\\js\\customjs.js' %}"></script>
        <script src="{% static 'LeadApplication\\js\\jspdf.min.js' %}"></script>
        <script src="{% static 'LeadApplication\\js\\html2canvas.js' %}"></script>
        <script src="{% static 'LeadApplication\\js\\charts_min.js' %}"></script>
        <script src="{% static 'LeadApplication\\js\\cenvasjs.min.js' %}"></script>
        <script src="{% static 'LeadApplication\\js\\chartzoom.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'LeadApplication\\js\\datepicker\\jquery.daterangepicker.min.js' %}"></script>

