{% load static %}
<header>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-2 col-sm-12 col-12">
                    <div class="logo">
                        <a href="http://127.0.0.1:8000"><img class="img-fluid" src="{% static 'LeadApplication\\images\\logo.png' %}" alt="BISP Dhanya Edutech"></a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-4 col-sm-12 col-12">
<!--                    <div class="input-group search-bar">-->
<!--                        <input type="text" class="form-control" placeholder="Search Course...">-->
<!--                        <div class="input-group-append search-btn">-->
<!--                            <span class="input-group-text">-->
<!--                                <i class="fa fa-search"></i>-->
<!--                            </span>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 col-12 pt-2">
                    <ul class="top-bar-list">
                        <li class="fb-color"><a><i class="fa fa-facebook"></i></a></li>
                        <li class="tw-color"><a><i class="fa fa-twitter"></i></a></li>
                        <li class="gp-color"><a><i class="fa fa-youtube"></i></a></li>
                        <li class="in-color"><a><i class="fa fa-linkedin"></i></a></li>
                    </ul>
<!--                    <div class="cart">-->
<!--                        <div>1</div>-->
<!--                        <i class="fa fa-shopping-cart"></i>-->
<!--                    </div>-->
<!--                    <ul class="login-list">-->
<!--                        <li><a class="hvr-shutter-out-vertical" href="javascript:;">Login</a></li>-->
<!--                        <li><a class="hvr-shutter-out-vertical" href="contact-us.html">Enquiry</a></li>-->
<!--                    </ul>-->
                </div>
            </div>                    
        </div>
    </div>

    <div class="fixed-menu">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-4 col-sm-12 col-12">
                    <ul class="contact-number">
                        <li>
                            <div class="d-table-cell align-top pr-2"><img class="img-fluid rounded" src="{% static 'LeadApplication\\images\\ind.png' %}" alt="India Flag"></div>
                            <div class="d-table-cell align-top">
                                <h6>Call Us:</h6>
                                <p>+91 975-275-3753</p>
                            </div>
                        </li>
                        <li>
                            <div class="d-table-cell align-top pr-2"><img class="img-fluid rounded" src="{% static 'LeadApplication\\images\\usa.png' %}" alt="USA Flag"></div>
                            <div class="d-table-cell align-top">
                                <h6>Call Us:</h6>
                                <p>+1 786-629-6893</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-8 col-lg-9 col-md-8 col-sm-12 col-12">
                    <div class="nav-bar">
                        <nav class="navbar navbar-expand-md navbar-light btco-hover-menu float-right flot-none">
                            <a class="navbar-brand" href="#">Navbar</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
<!--                                    <li class="nav-item active">-->
<!--                                        <a class="nav-link" href="{% url 'LeadApplication:fun_homePage' %}"><i class="fa fa-home"></i> Home</a>-->
<!--                                    </li>-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'LeadApplication:analytics_dashboard' %}">Dashboard</a>
                                    </li>
                                    <li class="nav-item">

                                        <a class="nav-link" href="{% url 'LeadApplication:lead_analytics' 'leads' %}">Advanced Analytics</a>
                                    </li>
                                    <li class="nav-item">

                                        <a class="nav-link" href="{% url 'LeadApplication:analytics' %}">Lead Analytics</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'LeadApplication:trial' %}">Trial</a>
                                    </li>

                                    <!--<li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Services
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Handy Man</a></li>
                                            <li><a class="dropdown-item dropdown-toggle" href="#">Classroom Program</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="">{Very Valuable}</a></li>
                                                    <li><a class="dropdown-item" href="">{Elder One}</a></li>
                                                    <li><a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="#">Subsubmenu action aa</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>-->
                                </ul>
                            </div>
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</header>