{% extends 'marketing/base.html' %}
{% load static %}
{% block content %}

{% load staticfiles %}

<!--<script src="{% static 'LeadApplication\\js\\homepage_script.js' %}"></script>-->

<script src="{% static 'LeadApplication\\js\\cenvasjs.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'LeadApplication\\css\\custom.css' %}">


<section class="use-case-back">
    <div class="container">

        <div class="row marl">

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
                <div class="" >
                      <div class="card-body" style=" background:#fdfbe5;" >
                        <h6 class="card-title">Total Leads</h6> <h6>{{totalleads}}</h6>
                      </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="" >
                      <div class="card-body" style="background:#feeae3;">
                        <h6 class="card-title">Number of Conversions</h6> <h6>{{totalconverted}}&nbsp;({{convertedpercent}} %)</h6>
                      </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="" >
                      <div class="card-body" style="background:#efdee4;">
                        <h6 class="card-title">Number of Leads {{currentmonthname}} Month</h6> <h6>{{thismonthleads}}</h6>
                      </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                 <div class="" >
                      <div class="card-body" style="background:#cee2eb;">
                        <h6 class="card-title">Top Course {{currentmonthname}} Month ({{topsubject}})</h6> <h6>{{topsubjectcount}}</h6>
                      </div>
                 </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 bottomline"  ></div>
            <div class="row" style="margin-top:4px;"  >



                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="display:inline-flex;" >
                         <form id="myform" method="POST" action="http://192.168.1.27:8000/" name="myform" autocomplete="off">
                     {%csrf_token%}
                        <select class=" form-control" name="criteria" id="selecttime" onchange="this.form.submit()" onmouseout="enableall(this.id)" onmouseover="disableother(this.id)" style="width:150px !important;" >
                            <option value="0" selected>--Select--</option>
                            {% for crtl in criterialist %}
                            <option value="{{crtl}}"  {% if crtl == criteria %}selected="selected"{% endif %}>
                                    {% if crtl == 'YTD' %}
                                             {{crtl}}
                                    {% elif crtl == 'MTD' %}
                                            {{ crtl}}
                                    {% elif crtl == 'QTD' %}
                                            {{ crtl}}
                                    {% elif crtl == 'HTD' %}
                                            {{ crtl}}
                                   {% else %}
                                   Last {{ crtl }} Days
                                        {% endif %}
                            </option>
                            {% endfor %}

                        </select>
                             <input type="hidden" name="varience_check2" id="varience_check3" value="off">
                         </form>&nbsp;&nbsp;&nbsp;&nbsp;
                         <form id="myform2" method="POST" action="http://192.168.1.27:8000/" name="myform" autocomplete="off">
                                {%csrf_token%}
                         <select name="criteria"  class="form-control" id="selectdays" onchange="this.form.submit()" onmouseout="enableall(this.id)" onmouseover="disableother(this.id)" >
                                <option value="0" selected>--Select--</option>
                            {% for crtl2 in criterialist2 %}
                            <option value="{{crtl2}}"  {% if crtl2 == criteria %}selected="selected"{% endif %}>
                                    {% if crtl2 == 'YTD' %}
                                             {{crtl2}}
                                    {% elif crtl2 == 'MTD' %}
                                            {{ crtl2}}
                                    {% elif crtl2 == 'QTD' %}
                                            {{ crtl2}}
                                    {% elif crtl2 == 'HTD' %}
                                            {{ crtl2}}
                                   {% else %}
                                   Last {{ crtl2 }} Days
                                        {% endif %}
                            </option>
                            {% endfor %}

                         </select>
                             <input type="hidden" name="varience_check2" id="varience_check2" value="off">
                         </form>
                         <section style="margin-top:5px; margin-left:20px;">

                             <input type="checkbox" name="varience_check" id="varience_check" onClick="showvarience(this.id);"><label >Varience</label>
                         </section>
                     </div>



                </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 bottomline"  ></div>






            <div class="row firstpage" id="firstpage">

             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="position: relative;background: url(../images/a.jpeg) no-repeat center top;">
                <canvas id="myChart11" width="250" height="200"  ></canvas>
             </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <canvas id="myChart22" width="250" height="200"   ></canvas>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
               <canvas id="topfivecities" width="250" height="200"   ></canvas>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                    <canvas id="topfivecountries" width="250" height="200"   ></canvas>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
               <canvas id="myChartStacked" width="250" height="200"  ></canvas>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                    <div  id="chartContainer" style="margin-top:50px;" ></div>
            </div>







            </div><!--firstpagediv ends-->
            <div class="row secondpage" id="secondpage">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                <canvas id="multilineChart" width="500" height="400" ></canvas>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                <canvas id="sourcewisecomperison" width="500" height="400"></canvas>
                </div>




            </div>

<!---->

<!---->

            <!--file upload-->
            <div class="col-xl-12 col-lg-12 col-md-8 col-sm-12 col-12" id="content" >
            </div>
<!--            <div class="col-xl-12 col-lg-12 col-md-8 col-sm-12 col-12">-->
<!--                      <form method="post" action="/Leadanalytics/upload_csv/" enctype="multipart/form-data">-->
<!--                        {% csrf_token %}-->
<!--                        <input type="file" name="myfile">-->
<!--                        <button type="submit">Upload</button>-->
<!--                      </form>-->
<!--            </div>-->
            <!--file upload ends-->



















        </div>
    </div>
</section>

<script>
    function showvarience(arg)
{

    var checkedstatus = document.getElementById(arg).checked;
    if(checkedstatus == true)
    {
        document.getElementById('varience_check2').value='on';
        document.getElementById('varience_check3').value='on';
        var x = document.getElementById("selecttime");
        x.options[1].disabled=true;
        x.options[1].style.backgroundColor='#e9e9e9';
        $('#selectdays').hide();
    }
    else
    {
        document.getElementById('varience_check2').value='off';
        document.getElementById('varience_check3').value='off';
        var y = document.getElementById("selecttime");
        y.options[1].disabled=false;
        y.options[1].style.backgroundColor='#fff';
        $('#selectdays').show();
    }
    //document.getElementById("content").innerHTML='<object type="text/html" data="LeadApplication/heads.html" ></object>';

}
</script>

<script>
    function disableother(arg)
    {
        if(arg == 'selecttime')
        {
            document.getElementById("selectdays").disabled = true;
            document.getElementById("selecttime").disabled = false;
        }
        if(arg == 'selectdays')
        {
            document.getElementById("selecttime").disabled = true;
            document.getElementById("selectdays").disabled = false;
        }

    }
    function enableall(arg)
    {
        document.getElementById("selectdays").disabled = false;
        document.getElementById("selecttime").disabled = false;
    }
</script>
<script>
$(document).ready(function(){



if ('{{varience_checked}}' == 'off')
{

    $('#firstpage').show();
    $("#secondpage").hide();
    $('#varience_check').prop('checked', false);
    document.getElementById('varience_check2').value='off';
    document.getElementById('varience_check3').value='off';
    $('#selectdays').show();
}
else
{
    $('#varience_check').prop('checked', true);
    document.getElementById('varience_check2').value='on';
    document.getElementById('varience_check3').value='on';
    $('#firstpage').hide();
    $("#secondpage").show();
    var x = document.getElementById("selecttime");
    x.options[1].disabled=true;
    x.options[1].style.backgroundColor='#e9e9e9';
    $("#selectdays").hide();
}
var ctx = document.getElementById('myChart11').getContext('2d');
         var config ={
          type: 'line',

            data: {

                showInLegend: true,
                labels: {{labels11|safe}},
                datasets: [{
                            fill: false,
                            strokeColor: "#e755ba",
                            data: {{data11|safe}},
                            backgroundColor: {{colors11|safe}},
                            borderColor: "#3e95cd",
                            borderWidth:1,
                            //steppedLine: true,
                            }]
                    },
            options: {
             plugins: {
            zoom: {
                pan: {
                    enabled: false,
                    mode: 'xy'
                },
                zoom: {
                    enabled: true,
                    mode: 'xy',
                }
            }
        },
             tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },

                    elements: {
                            point:{
                                radius: 0
                            }
                             },
                    title: {
                        display: true,
                        text: "Leads Trends {{ttext}}",
                        fontSize:20,
                        fontColor:"#007bff",
                         },
                        legend: {
                            display: false,
                            position: 'right',
                            labels: {
                                        fontColor: '#000'
                                    }
                            },
                        scales: {
                                    yAxes: [{
                                         gridLines: {
                                            display:true
                                        },
                                        ticks: {
                                            beginAtZero: true,
                                            //stepSize: 50,
                                            //max: 1000
                                        },
                                        scaleLabel: {
                                                        display: false,
                                                        labelString: 'Lead Counts(in number)'
                                                      }
                                    }],
                                    xAxes: [{
                                         gridLines: {
                                            display:true
                                        },
                                        barPercentage: 0.2,
                                        scaleLabel: {
                                                        display: true,
                                                        labelString: 'Last '+{{last_x_days}}+' days',
                                                      },
                                        ticks:{
                                                    minRotation: 70,
                                                    beginAtZero: true,
                                                    stepSize:1,
                                                    display:true,

                                                    callback: function(value, index, values) {
                                                                                                  return "{{labeltitle}}" + value;
                                                                                                }

                                                }
                                    }]
                                }
                     }

            };


var myChart11 = new Chart(ctx,config);


//////////here is the source chart
var config22 = {
  type: 'bar',
  data: {
    labels: {{labels22|safe}},
    datasets: [ {
      type: 'bar',
      label: 'Sources',
      backgroundColor: "#3e95cd",
      data:{{data22|safe}},
    },

    ]
  },
  options: {

  plugins: {
            zoom: {
                pan: {
                    enabled: false,
                    mode: 'xy'
                },
                zoom: {
                    enabled: true,
                    mode: 'xy',
                }
            }
        },
   tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },
  layout: {
      padding: {
        left: 0,
        right: 0,
        top: 15,
        bottom: 0
      }
    },
                 title: {
                        display: true,
                        text: "Leads by Sources {{ttext}}",
                        fontSize:20,
                        fontColor:"#007bff",

                         },
    scales: {
      xAxes: [{
      barPercentage: 0.8,
      maxBarThickness: 30,
        stacked: true,
        scaleLabel: {
                    display: false,
                    labelString: 'Last '+{{last_s_days}}+' days'
                  },
         ticks:{

                minRotation:40,

         }
      },

      ],
      yAxes: [{
        stacked: true
      }]
    }
  }
};

var ctx22 = document.getElementById("myChart22").getContext("2d");
myChart22 = new Chart(ctx22, config22);
//myChart22.destroy();
//myChart22 = new Chart(ctx22, config22);


///Now we want lead by cities only top 5 cities will be displayed
var ctx4 = document.getElementById('topfivecities').getContext('2d');
        var topfivecities = new Chart(ctx4, {
            type: 'horizontalBar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                showInLegend: true,
                labels: {{labels_city|safe}},
                datasets: [{
                            data: {{data_city|safe}},
                            backgroundColor: {{colors_city|safe}}
                            }]
            },
            options: {

             tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },
                title: {
                    display: true,
                    text: "Top 5 Cities {{ttext}}",
                    fontSize:20,
                    fontColor:"#007bff",
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels1: {
                                fontColor: '#000'
                            }
                },
                scales: {

                            yAxes: [{
                             barPercentage: 0.8,
                            maxBarThickness: 30,
                            stacked:true,
                            gridLines: {
                            color: "rgba(20, 10, 20, 20)",
                            },
                            gridLines: {
                                            display:false
                                        },

                                ticks: {
                                    //beginAtZero: true,
                                    stepSize: 1
                                },
                                scaleLabel: {
                                                display: true,
                                                labelString: 'Cities'
                                              }
                            }],
                            xAxes: [{
                            //barPercentage: 0.8,
                            //maxBarThickness: 30,
                            stacked:false,
                                    gridLines: {
                                        color: "rgba(20, 0, 0, 4)",
                                    },
                                     gridLines: {
                                            display:true
                                        },
                                scaleLabel: {

                                                display: false,
                                                labelString: 'Last '+{{last_s_days}}+' days'
                                              },
                                ticks:{
                                        display:true,

                                        callback: function(data, index, data1) {
                                                       return data;
                                        },
                                            //minRotation: 90,
                                            //beginAtZero: true,
                                            autoSkip: true,
                                            maxTicksLimit: 5,
                                            stepSize:200
                                        }
                            }]
                        }

            }
        });




/////////////////////top five countries
var ctx_country = document.getElementById('topfivecountries').getContext('2d');
        var topfivecountries = new Chart(ctx_country, {
            type: 'horizontalBar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                showInLegend: true,
                labels: {{labels_country|safe}},
                datasets: [{
                            data: {{data_country|safe}},
                            backgroundColor: {{colors_country|safe}}
                            }]
            },
            options: {

             tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },
                title: {
                    display: true,
                    text: "Top 5 Countries {{ttext}}",
                    fontSize:20,
                    fontColor:"#007bff",
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels1: {
                                fontColor: '#000'
                            }
                },
                scales: {

                            yAxes: [{
                            barPercentage: 0.8,
                            maxBarThickness: 30,
                            stacked:false,
                            gridLines: {
                            color: "rgba(20, 10, 20, 20)",
                            },
                            gridLines: {
                                            display:false
                                        },

                                ticks: {
                                    //beginAtZero: true,
                                    stepSize: 1
                                },
                                scaleLabel: {
                                                display: true,
                                                labelString: 'Countries'
                                              }
                            }],
                            xAxes: [{

                            stacked:false,
                                    gridLines: {
                                        color: "rgba(20, 0, 0, 4)",
                                    },
                                     gridLines: {
                                            display:true
                                        },
                                scaleLabel: {

                                                display: false,
                                                labelString: 'Last '+{{last_s_days}}+' days'
                                              },
                                ticks:{
                                        display:true,
                                        callback: function(data, index, data1) {
                                            return data;
                                            /*var total_dividation = data1.length-1;
                                            var max_value = Math.max.apply(this, data1);
                                            if(index < total_dividation)
                                                {
                                                    return (data*100)/max_value;
                                                }
                                            else
                                            {
                                                return max_value;
                                            }*/


                                        },
                                            //minRotation: 90,
                                            beginAtZero: true,
                                            autoSkip: true,
                                            maxTicksLimit: 5,
                                            stepSize:100

                                        }
                            }]
                        }

            }
        });


////////////country function over
////////////////from internet
var ctx = document.getElementById('myChartStacked').getContext('2d');
var myChartStacked = new Chart(ctx, {
   type: 'bar',
   data: {
        labels: {{mainlabel|safe}},
        datasets:[
        ]},

    options: {

     plugins: {
            zoom: {

                pan: {
                    enabled: false,
                    mode: 'xy'
                },

                zoom: {
                    enabled: true,
                    mode: 'xy',
                }
            }
        },

     tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },
      title: {
            display: true,
            text: "Leads by Countries by {{ttext}}",
            fontSize:20,
            fontColor:"#007bff",
             },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                   // max: 1000,
                },
                stacked:true,
                scaleLabel: {
                            display: true,
                            labelString: 'Lead Counts'
                          }
            }],
            xAxes: [{
             barPercentage: 0.8,
             maxBarThickness: 30,
                ticks: {
                    beginAtZero: true,
                    callback: function(value, index, values) {
                                                              if("{{labeltitle}}" == 'Year ') { return value;}
                                                              else{
                                                              return "{{labeltitle}}" + value;
                                                              }
                                                            }
                },
                 scaleLabel: {
                            display: false,
                            labelString: 'Last '+{{last_csx_days}}+' days'
                          },
                stacked:true,
            }]
        }
    }
});
myChartStacked.data.datasets.push(
{% for cc in contextsecond %}
{label: '{{cc.label}}', data: {{cc.data}}, backgroundColor: '{{cc.backgroundColor}}', borderwidth: 1},
{% endfor %}
);
myChartStacked.update()
/////////////this above was from internet now below is the dropdown list item change function

////funnel chart
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	//theme: "dark2", //"light1", "dark1", "dark2"
	backgroundColor:'#f7f7f9',
	title:{
		text: "Lead Analysis -  2019"
	},
	data: [{
		type: "funnel",

		indexLabelPlacement: "inside",
		indexLabelFontColor: "white",
		toolTipContent: "<b>{label}</b>: {y} <b>({percentage}%)</b>",
		indexLabel: "{label} ({percentage}%)",
		dataPoints: [
			{ y: {{totalleads}}, label: "Leads" },
			{ y: 903, label: "Pipeline" },
			{ y: 903,  label: "Negotiation" },
			{ y: 1249, label: "Converted" },

		]
	}]
});
calculatePercentage();
chart.render();

function calculatePercentage() {
	var dataPoint = chart.options.data[0].dataPoints;
	var total = dataPoint[0].y;
	for(var i = 0; i < dataPoint.length; i++) {
		if(i == 0) {
			chart.options.data[0].dataPoints[i].percentage = 100;
		} else {
			chart.options.data[0].dataPoints[i].percentage = ((dataPoint[i].y / total) * 100).toFixed(2);
		}
	}
}




////funnel chart


//document onload ends here
});
</script>
<script>

///////////////////////varience charts begins here
var canvas = document.getElementById("multilineChart");
var ctx = canvas.getContext('2d');

// Global Options:
Chart.defaults.global.defaultFontColor = 'black';
Chart.defaults.global.defaultFontSize = 10;

var data = {

  labels: {{v_labels|safe}},

  datasets: [{
      label: {{last_year}}+' Leads',
      fill: false,
      //lineTension: 0.1,
      backgroundColor: "rgba(225,0,0,0.4)",
      borderColor: "red", // The main line color
      borderCapStyle: 'square',
      borderDash: [1,4],
      borderWidth:1,
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "black",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 3.5,
      //pointHoverBackgroundColor: "yellow",
      pointHoverBorderColor: "brown",
      pointHoverBorderWidth: 1,
      pointRadius: 3,
      pointHitRadius: 10,
      // notice the gap in the data and the spanGaps: true
      data: {{previousy}},
      spanGaps: true,
    }, {
      label: {{current_year}}+' Leads',
      fill: false,
      //lineTension: 0.1,
      steppedLine:false,
      backgroundColor: "rgba(167,105,0,0.4)",
      borderColor: "blue",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "blue",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 3.5,
      //pointHoverBackgroundColor: "brown",
      //pointHoverBorderColor: "yellow",
      pointHoverBorderWidth: 2,
      pointRadius: 3,
      pointHitRadius: 10,
      //notice the gap in the data and the spanGaps: false
      data: {{currenty}},
      spanGaps: false,
    }

  ]
};

// Notice the scaleLabel at the same level as Ticks
var options = {
 tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },
legend: {
						position: 'top',
					},
  scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    //stepSize: 100,
                },
                scaleLabel: {
                     display: true,
                     labelString: 'Lead Counts',
                     fontSize: 12,
                     fontColor:'blue',
                  }
            }],
            xAxes: [{

                scaleLabel: {
                     display: true,
                     labelString: 'Comparison by {{x_axis_label}}',
                     fontSize: 20,
                     fontColor:'blue',
                  },
                  ticks:{
                  minRotation: 20,
                  maxRotation:70,
                  }
            }]
        }
};

// Chart declaration:
var myBarChart = new Chart(ctx, {
  type: 'line',
  data: data,
  options: options
});


//now source wise leads with line chart and bar charrt with year comperison
var chartDefault = {
  type: 'bar',
  data: {
    labels: {{x_axis_source_labels|safe}},
    datasets: [{
      type: 'bar',
      label: '2020 Data',
      data: {{currentyearsourcelead|safe}},
      //backgroundColor: 'blue',
      borderColor: 'blue',

      borderWidth: 1
    }, {
      type: 'line',
      label: '2019 Data',
      data: {{lastyearsourcelead|safe}},
      yAxisID: 'invoice-amount',
      borderColor: 'red',
      borderDash: [4,2],
      borderJoinStyle: 'miter',
      borderWidth: 1,
      fill:false,
    }]
  },
  options: {
   tooltips: {
         mode: 'index',
         intersect: false
      },
      hover: {
         mode: 'index',
         intersect: false
      },
    scales: {
      xAxes: [{
      barPercentage: 0.8,
        maxBarThickness: 30,
        display: true,
        stacked: true,
        scaleLabel: {
          display: true,
          labelString: 'Sources by {{x_axis_label}}',
          fontSize:20,
          fontColor:'blue',
        },
      }, {
        id: 'invoice-time',
        display: false,
        stacked: false,
        scaleLabel: {
          display: false,
          labelString: 'Sources '
        },
        ticks: {
          beginAtZero: true,
          stepSize: 1,
          suggestedMax: 125
        }
      }],
      yAxes: [{
        display: true,
        stacked: true,
        scaleLabel: {
          display: true,
          labelString: 'Lead Count',
          fontSize:12,
          fontColor:'blue',
        },
        ticks: {
          beginAtZero: true,
        }
      }, {
        id: 'invoice-amount',
        display: true,
        stacked: false,
        position: 'right',
        scaleLabel: {
          display: true,
          labelString: 'Previous Year ',
          fontSize:12,
          fontColor:'red',

        },
        ticks: {
          beginAtZero: true,
        }
      }]
    },
  }
};
var chart = new Chart($('#sourcewisecomperison'), chartDefault);

// now varience between two years in the top 5 cities


</script>
{% block js_block %}


{% endblock js_block %}


{% endblock %}


