{% extends 'marketing/base.html' %}
{% load static %}
{% block content %}

{% load staticfiles %}

<!--<script src="{% static 'LeadApplication\\js\\homepage_script.js' %}"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'LeadApplication\\js\\cenvasjs.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'LeadApplication\\css\\custom.css' %}">
<link rel="stylesheet" href="{% static 'LeadApplication\\css\\simpletabstyle.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<section class="use-case-back">
    <div class="container">

        <div class="row marl">

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="" >
                      <div class="card-body" style=" color:#fff; background:#05878a; text-align:center;" >
                        <h6 class="card-title">Total Leads</h6> <h6>{{totalleads}}</h6>
                      </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="" >
                      <div class="card-body" style="background:#000431; color:#fff; text-align:center;">
                        <h6 class="card-title">Number of Conversions</h6> <h6>{{totalconverted}}&nbsp;({{convertedpercent}} %)</h6>
                      </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="" >
                      <div class="card-body" style="background:#781f1f; color:#fff; text-align:center;">
                        <h6 class="card-title">Number of Leads {{currentmonthname}} Month</h6> <h6>{{thismonthleads}}</h6>
                      </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                 <div class="" >
                      <div class="card-body" style="background:#c08f7c; color:#fff; text-align:center;">
                        <h6 class="card-title">Top Course {{currentmonthname}} Month ({{topsubject}})</h6> <h6>{{topsubjectcount}}</h6>
                      </div>
                 </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 bottomline"  ></div>
<!--            <div class="row" style="margin-top:4px;"  >-->



<!--                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="display:inline-flex;" >-->


<!--                         <section style="margin-top:5px; margin-left:20px;">-->

<!--                             <input type="checkbox" name="varience_check" id="varience_check" onClick="showvarience(this.id);"><label >Varience</label>-->
<!--                         </section>-->
<!--                     </div>-->



<!--                </div>-->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 bottomline"  ></div>
        </div>
    </div>



<input type="hidden" id="thetabname" value="{{tabsname}}">
<input type="hidden" id="thecriteria" value="{{criteria}}">
<input type="hidden" id="varience_checked" value="{{varience_checked}}">

<div class="container">





<div class="tab">
  <button id="Gen" class="tablinks" onclick="openTab(event, 'Generic','g')">Generic</button>
  <button id="Cum" class="tablinks" onclick="openTab(event, 'Generic','c')">Cumulative</button>
  <button id="Var" class="tablinks" onclick="openTab(event, 'Generic','v')">Varience</button>
<!--  <button class="tablinks" onclick="openTab(event, 'YTD')">MTD</button>-->
<!--  <button class="tablinks" onclick="openTab(event, 'YTD')">90 Days Back</button>-->
<!--  <button class="tablinks" onclick="openTab(event, 'YTD')">60 Days Back</button>-->
<!--  <button class="tablinks" onclick="openTab(event, 'YTD')">30 Days Back</button>-->
<!--  <button class="tablinks" onclick="openTab(event,'YTD')">15 Days Back</button>-->
</div>

<div id="Generic" class="tabcontent">

    <form id="myform2" method="POST" action="http://192.168.1.27:8000/" name="myform" autocomplete="off">
                                {%csrf_token%}
                         <select name="criteria"  class="form-control col-lg-2" id="selectdays" onchange="this.form.submit()" onmouseout="enableall(this.id)" onmouseover="disableother(this.id)" >
                                <option value="0" selected>--Select--</option>
                            {% for crtl2 in criterialist2 %}
                            <option value="{{crtl2}}"  {% if crtl2 == criteria %}selected="selected"{% endif %}>
                                    {% if crtl2 == 'YTD' %}
                                             {{crtl2}}
                                    {% elif crtl2 == 'MTD' %}
                                            {{ crtl2}}
                                    {% elif crtl2 == 'QTD' %}
                                            {{ crtl2}}
                                    {% elif crtl2 == 'HTD' %}
                                            {{ crtl2}}
                                   {% else %}
                                   Last {{ crtl2 }} Days
                                        {% endif %}
                            </option>
                            {% endfor %}

                         </select>
                             <input type="hidden" name="varience_check2" id="varience_check2" value='{{varience_checked}}'>
                             <input type="hidden" name="tabname" id="gener" value="gener">
                         </form>
    <form id="myform" method="POST" action="http://192.168.1.27:8000/" name="myform" autocomplete="off">
                     {%csrf_token%}
                        <select class=" form-control col-lg-3" name="criteria" id="selecttime" onchange="this.form.submit()" onmouseout="enableall(this.id)" onmouseover="disableother(this.id)" style="width:150px !important;" >
                            <option value="0" selected>--Select--</option>
                            {% for crtl in criterialist %}
                            <option value="{{crtl}}"  {% if crtl == criteria %}selected="selected"{% endif %}>
                                    {% if crtl == 'YTD' %}
                                             {{crtl}}
                                    {% elif crtl == 'MTD' %}
                                            {{ crtl}}
                                    {% elif crtl == 'QTD' %}
                                            {{ crtl}}
                                    {% elif crtl == 'HTD' %}
                                            {{ crtl}}
                                   {% else %}
                                   Last {{ crtl }} Days
                                        {% endif %}
                            </option>
                            {% endfor %}

                        </select>
                             <input type="hidden" name="varience_check2" id="varience_check3" value='{{varience_checked}}'>
                             <input type="hidden" name="tabname" id="cuml" value="cuml">
                         </form>






<div id="maindata1" class="col-lg-12" >{% include "LeadApplication/genericview.html" %}</div>
</div>

<!--<div id="Cumulative" class="tabcontent">-->
<!--  <h3>Cumulativejhkjhjkhkjhkj</h3>-->
<!--    <form id="myform55" method="POST" action="http://192.168.1.27:8000/" name="myform" autocomplete="off">-->
<!--                     {%csrf_token%}-->
<!--                        <select class=" form-control col-lg-4" name="criteria" id="selecttime3" onchange="this.form.submit()" onmouseout="enableall(this.id)" onmouseover="disableother(this.id)" style="width:150px !important;" >-->
<!--                            <option value="0" selected>&#45;&#45;Select&#45;&#45;</option>-->
<!--                            {% for crtl in criterialist %}-->
<!--                            <option value="{{crtl}}"  {% if crtl == criteria %}selected="selected"{% endif %}>-->
<!--                                    {% if crtl == 'YTD' %}-->
<!--                                             {{crtl}}-->
<!--                                    {% elif crtl == 'MTD' %}-->
<!--                                            {{ crtl}}-->
<!--                                    {% elif crtl == 'QTD' %}-->
<!--                                            {{ crtl}}-->
<!--                                    {% elif crtl == 'HTD' %}-->
<!--                                            {{ crtl}}-->
<!--                                   {% else %}-->
<!--                                   Last {{ crtl }} Days-->
<!--                                        {% endif %}-->
<!--                            </option>-->
<!--                            {% endfor %}-->

<!--                        </select>-->
<!--                             <input type="hidden" name="varience_check2" id="varience_check33" value="off">-->
<!--                         </form>-->
<!--</div>-->

<!--<div id="Varience" class="tabcontent">-->
<!--  <h3>Varience</h3>-->
<!--  <p>Tokyo is the capital of Japan.</p>-->
<!--</div>-->
<!--<div id="MTD" class="tabcontent">-->
<!--  <h3>MTD</h3>-->
<!--  <p>Tokyo is the capital of Japan.</p>-->
<!--</div>-->
<!--    <div id="90" class="tabcontent">-->
<!--  <h3>90 days back</h3>-->
<!--  <p>Tokyo is the capital of Japan.</p>-->
<!--</div>-->
<!--    <div id="60" class="tabcontent">-->
<!--  <h3>60 days back</h3>-->
<!--  <p>Tokyo is the capital of Japan.</p>-->
<!--</div>-->
<!--    <div id="30" class="tabcontent">-->
<!--  <h3>30 days back </h3>-->
<!--  <p>Tokyo is the capital of Japan.</p>-->
<!--</div>-->
<!--    <div id="15" class="tabcontent">-->
<!--  <h3>15</h3>-->
<!--  <p>Tokyo is the capital of Japan.</p>-->
<!--</div>-->
</div>













</section>


<script type="text/javascript">
$(document).ready(function(){
var v_checked = $('#varience_checked').val();
if (v_checked == 'off')
{

    $('#firstpage').show();
    $("#secondpage").hide();
    }
    else
    {
     $('#firstpage').hide();
    $("#secondpage").show();
    }



var thecriteria = $('#thecriteria').val();
document.getElementById('Generic').style.display = "block";
var tabname1 = $('#thetabname').val();
if(tabname1 == 'cuml'){
                var element = document.getElementById('Cum');
                element.classList.add("active");
                $('#selecttime').show();
                $('#selectdays').hide();
                $('#cuml').val(tabname1);
        }
   if(tabname1 =='gener')
        {
                var element = document.getElementById('Gen');
                element.classList.add("active");
                $('#selectdays').show();
                $('#selecttime').hide();
    }
    if(tabname1 == 'var')
         {
                var element = document.getElementById('Var');
                element.classList.add("active");
                $('#selectdays').hide();
                $('#selecttime').show();
                var x = document.getElementById("selecttime");
                x.options[1].disabled=true;
                x.options[1].style.backgroundColor='#e9e9e9';
                $('#cuml').val(tabname1);
    }

if(thecriteria == 'YTD' || thecriteria == 'MTD' || thecriteria == 'QTD' || thecriteria == 'HTD')
{
    $('#selecttime').show();
    $('#selectdays').hide();
}
else
{
    $('#selecttime').hide();
    $('#selectdays').show();
}




});

function openTab(evt, cityName,gc) {

  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";


   if(gc == 'g')
   {
   $('#selecttime').hide();
   $('#selectdays').show();
   }
   if(gc == 'c')
   {
   $('#selectdays').hide();
   $('#selecttime').show();
   $('#cuml').val('cuml');
   }
   if(gc =='v')
   {
    $('#selectdays').hide();
   $('#selecttime').show();
   $('#cuml').val('var');
   }

showvarience(gc);


}



   function showvarience(arg)
{
    var checkedstatus = arg;//document.getElementById(arg).checked;
    if(checkedstatus == 'v')
    {
        document.getElementById('varience_check2').value='on';
        document.getElementById('varience_check3').value='on';
        var x = document.getElementById("selecttime");
        x.options[1].disabled=true;
        x.options[1].style.backgroundColor='#e9e9e9';
        //$('#selectdays').hide();
    }
    else
    {
        document.getElementById('varience_check2').value='off';
        document.getElementById('varience_check3').value='off';
        var y = document.getElementById("selecttime");
        y.options[1].disabled=false;
        y.options[1].style.backgroundColor='#fff';
        //$('#selectdays').show();
    }


}
</script>


{% block js_block %}


{% endblock js_block %}


{% endblock %}



