{% extends 'LeadApplication/base.html' %}
{% load static %}

{% block content %}
<style>
    #success_msg
    {
      position:absolute;
      display:none;
      margin-top:-280px;
      right:-40px;
      z-index:99999;
    }
  .label
  {
        margin-top:-15px;
        position:absolute;
        margin-left:-20px;
  }


</style>

{% load static %}
{% include "LeadApplication/double_range_slider.html" %}

<section class="">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">

                             <div class="row">

                                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                  <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                                  <li class="breadcrumb-item active">Lead Analytics</li>
                                 </div>
                                    <div class="col-xl-5 col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="input-group search-bar">
                                                <input type="text" id="searchText" onKeyup="searchword(this.value)"  class="form-control" placeholder="Search Course...">
                                                <div class="input-group-append search-btn">
                                                    <span class="input-group-text">
                                                        <a href="javascript:;" onclick="getChart()"><i class="fa fa-search"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        <div class="freesearchdiv" id="freesearchdiv" style="width:380px; height:100px; border:1px solid black; overflow-y: scroll; ">

                                        </div>
                                     </div>
                            </div>
                    </ol>
                </nav>
            </div>
        </section>

        <section class="course-breadcrumb" id="course-breadcrumb">
            <div class="container" >
                <!--<h2 class="text-center text-white open-sans">All Courses</h2>-->
                <div class="row" >
<!--                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>-->
                    <div class="col-xl-12 col-lg-12 col-md-10 col-sm-12 col-12">
                        <div class="course-filter-border" >
                            <form id="myform" method="POST" action="/Leadanalytics/lead_analytics/" name="myform" autocomplete="off">
                                {%csrf_token%}
                            <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" >
                                        <label for="listcountry">Select  Country </label>
                                            <div class="form-group course-filter-select">
                                                <select class="" id="listcountry" multiple="multiple" >
                                                         {% for country in countries %}
                                                          <option value="{{ country }}"  {% if country in all_country_prefered  %} selected {% endif %} >{{ country }}</option>
                                                         {%  endfor %}
                                                </select>
                                                <input type="hidden" name="selectedCountryList" id="selectedCountryList">
                                            </div>
                                    </div>

                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" >
                                            <label for="listtechnology">Select  Technology </label>
                                            <div class="form-group course-filter-select">
                                                <select class="form-control target" id="listtechnology" multiple="multiple">
                                                         {% for course in courses %}
                                                          <option value="{{ course }}" {% if course in all_technology_prefered %} selected {% endif %} >{{ course }}</option>
                                                        {%  endfor %}
                                                </select>
                                                <input type="hidden" name="selectedTechnologyList" id="selectedTechnologyList">
                                            </div>
                                        </div>

                                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12"  >
                                             <label for="fromMonths">From Month:</label>
                                            <input name="fromMonth" id="fromMonths" class="monthYearPicker form-control"  placeholder="Select Month Year" />
                                        </div>
                                         <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12"  >
                                             <label for="toMonths">To Month :</label>
                                            <input name="toMonth" id="toMonths" class="monthYearPicker form-control"  placeholder="Select Month Year" />
                                              <input type="hidden" class="target" id="frommonth" name="frommonth"   >
                                              <input type="hidden" class="target" id="tomonth" name="tomonth"  >
                                             <input type="hidden" class="target" id="fromyear" name="fromyear"   >
                                             <input type="hidden" class="target" id="toyear" name="toyear"   >

                                        </div>


                                       <div class="col-xl-1 col-lg-1 col-md-5 col-sm-6 col-12">
                                           <label style="visibility:hidden;">Press</label>
<!--                                           <input type="button" class="targetbuttons btn btn-warning" value="Submit" >-->
                                       </div>
                            </div>
<!--                            <div class="row">-->
<!--                                <div class="col-xl-5 col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                                        <div class="input-group search-bar">-->
<!--                                            <input type="text" id="searchText2" onKeyup="searchword(this.value)"  class="form-control" placeholder="Search Course...">-->
<!--                                            <div class="input-group-append search-btn">-->
<!--                                                <span class="input-group-text">-->
<!--                                                    <a href="javascript:;" onclick="getChart11()"><i class="fa fa-search"></i></a>-->
<!--                                                </span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    <div class="freesearchdiv" id="freesearchdiv2" style="width:380px; height:100px; border:1px solid black; overflow-y: scroll; "></div>-->
<!--                                 </div>-->

<!--                            </div>-->
<!--                                <div class="row">-->
<!--                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">-->
<!--                                           <input type="text" name="preference" id="preference" list="exampleList" placeholder="Search Preference"  class="form-control" value="{{ prefname }}">-->
<!--                                            <datalist id="exampleList" >-->
<!--                                                {% for preference in preference %}-->
<!--                                                    <option value="{{ preference }}" >-->
<!--                                                {% endfor %}-->

<!--                                            </datalist>-->

<!--                                        </div>-->
<!--                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">-->
<!--                                        <input type="text" id="newpreference" placeholder="Add New Preference" class="form-control"/>-->
<!--                                    </div>-->
<!--                                        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-12">-->
<!--                                           <input type="button" onClick="setPreference()" class="btn btn-warning" value="save preference" >-->
<!--                                            <a class="btn btn-warning" href="{% url 'LeadApplication:lead_analytics' 'leads' %}">Reset</a>-->
<!--                                        </div>-->


<!--                                </div>-->
                                <div class="row">
                                   <div class="alert alert-success alert-dismissible fade show" id="success_msg" role="alert" >
                                          <strong > </strong><span class="success_msg_body">Preference Saved Successfully.</span>
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
                </div>
            </div>
        </section>

         <section id="training-schedule" class="training-bg">
            <div class="right-bg">

                <div class="container">
                        <hr class="mt-0 mb-4">
                            <h3 class="source-sans text-center"></h3>
        <!--                <div class="title-bottom-border">-->
        <!--                    <div></div>-->
        <!--                </div>-->


                        <div id="freesearchgraph">
                            <div class="row" id="graphdiv4" >

                            </div>
                        </div>

                        <div id="accordion">
                        <div class="card curriculum-card faq-body-1">
                            <div class="card-header faq-card cursor-pointer text-uppercase targetbutton" id="headingEight">
                                <div data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseOne" >
                                    <h6 class="float-right mb-0 pr-2"><i class="fa fa-plus-circle font-20"></i></h6>
                                    <h6 class="mb-0"><div class="desc" id="desc">Lead By Geography</div></h6>
                                </div>
                            </div>

                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                <div class="card-body faq-body">


                                    <div class="row">
                                            <div class="form-group form-check col-lg-2">

                                            </div>
                                            <div class="form-group form-check col-lg-8">

                                            </div>
                                            <div class="form-group form-check col-lg-2">
                                                 <a class="btn btn-success csvclass" href="{% url 'LeadApplication:download_csv' 'Country'  %}">Download CSV</a>
<!--                                                 <input type="button" class="form-check-input  btn btn-success"  value="Download Excel" onclick="downloadcsv('Country')"  ><br>-->

                                            </div>
                                        </div>




                                    <div class="row" id="graphdiv">
                                        <div class="col-lg-6 col-md-6" >
                                            {{div2 | safe}}
                                        </div>
                                        <div class="col-lg-6 col-md-6 text:center" >
                                            {{ tabularformat }}
                                        </div>
                                    </div>

                                    <p class="mb-0"></p>


                                </div>
                            </div>

                           <div class="card curriculum-card faq-body-1">
                                <div class="card-header faq-card cursor-pointer text-uppercase targetbutton" id="headingTwo">
                                    <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                        <h6 class="float-right mb-0 pr-2"><i class="fa fa-plus-circle font-20"></i></h6>
                                        <h6 class="mb-0">Leads By Timeline</h6>
                                    </div>
                                </div>

                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body faq-body">
                                        <div class="row">
                                            <div class="form-group form-check col-lg-2">
                                                            <input type="radio" class="form-check-input targetbutton" name="samename1" id="linecharttimeline" >
                                                            <label class="form-check-label" for="linecharttimeline">Line Chart</label>
                                            </div>
                                            <div class="form-group form-check col-lg-8">
                                                            <input type="radio" class="form-check-input targetbutton" name="samename1" id="barcharttimeline" checked>
                                                            <label class="form-check-label" for="barcharttimeline">Bar Chart</label>
                                            </div>
                                            <div class="form-group form-check col-lg-2">
                                                <a class="btn btn-success csvclass" href="{% url 'LeadApplication:download_csv' 'Month'  %}">Download CSV</a>
<!--                                                 <input type="button" class="form-check-input  btn btn-success targetbutton"  value="Download Excel" onclick="downloadcsv('Month')"  ><br>-->

                                            </div>
                                        </div>
                                        <div class="row" id="graphdiv2">
                                        <div class="col-lg-6 col-md-6" >
                                            {{div3 | safe}}
                                        </div>
                                        <div class="col-lg-6 col-md-6 text:center" >
                                            {{ tabularformat }}
                                        </div>
                                    </div>
                                        <p class="mb-0">

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card curriculum-card faq-body-1">
                                <div class="card-header faq-card cursor-pointer text-uppercase targetbutton" id="headingThree">
                                    <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                        <h6 class="float-right mb-0 pr-2"><i class="fa fa-plus-circle font-20"></i></h6>
                                        <h6 class="mb-0">Leads By Sources</h6>
                                    </div>
                                </div>

                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body faq-body">


                                        <div class="row">
                                            <div class="form-group form-check col-lg-2">
                                                            <input type="radio" class="form-check-input targetbutton" name="samename" id="linechartsource" checked>
                                                            <label class="form-check-label" for="linechartsource">Line Chart</label>
                                            </div>
                                            <div class="form-group form-check col-lg-8">
                                                            <input type="radio" class="form-check-input targetbutton" name="samename" id="barchartsource">
                                                            <label class="form-check-label" for="barchartsource">Bar Chart</label>
                                            </div>
                                            <div class="form-group form-check col-lg-2">
                                                 <a class="btn btn-success csvclass" href="{% url 'LeadApplication:download_csv' 'Source'  %}">Download CSV</a>
<!--                                                <input type="button" class="form-check-input  btn btn-success "  value="Download Excel" onclick="downloadcsv('Source')"  >-->

                                            </div>
                                        </div>

                                        <div class="row" id="graphdiv3">
                                            <div class="col-lg-6 col-md-6" >
                                                {{div4 | safe}}
                                            </div>
                                        <div class="col-lg-6 col-md-6 text:center" >
                                                {{ tabularformat }}
                                        </div>
                                    </div>
                                        <p class="mb-0">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
                <div class="container">

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="clearfix">
                                <h4 class="source-sans orange-color mb-3">Lead Analytics Result</h4>
                                <div class="row">
                                <div id="" class="col-lg-6">
                                   <label>Leads by Months</label>
                                    {{div | safe}}

                                </div>

                                <div  class="col-lg-6" >
                                 <label>Leads by Country</label>
                                 {{div1 | safe}}

                                </div>
                                </div>

                                <div class="desc1" id="desc1"></div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>



<script>

function hideSearchDiv()
{

    $( "#graphdiv4" ).empty();
    $( "#searchText" ).val('');



}


$(function() {
	$('.monthYearPicker').datepicker({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		dateFormat: 'MM yy'
	}).focus(function() {
		var thisCalendar = $(this);
		$('.ui-datepicker-calendar').detach();
		$('.ui-datepicker-close').click(function() {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                thisCalendar.datepicker('setDate', new Date(year, month, 1));

                var focusedId = thisCalendar.attr('id');

                var selectedmonth = parseInt(month)+1;
                var selectedyear = parseInt(year);
                if(focusedId == 'fromMonths')
                    {
                    $("#frommonth").val(selectedmonth);
                    $("#fromyear").val(selectedyear);
                    }
                else
                    {
                    $("#tomonth").val(selectedmonth);
                    $("#toyear").val(selectedyear);
                    }
                        });
                    });

});

 $(function () {

            $('#listcountry').multiselect({
                includeSelectAllOption: true
            });
             $('#listtechnology').multiselect({
                includeSelectAllOption: true
            });
             $('#listmonth').multiselect({
                includeSelectAllOption: true
            });
            $('.targetbutton').on("click",function () {
                chartoption = "";
                var currentAccordionId = $(this).attr('id');
               if(currentAccordionId == 'headingThree' || currentAccordionId=='linechartsource')
               {
                 chartoption = 'linechartsource';
               }
               if(currentAccordionId == 'barchartsource')
               {
                chartoption = 'barchartsource';
               }
               if(currentAccordionId == 'headingTwo' || currentAccordionId=='barcharttimeline')
               {
                 chartoption = 'barcharttimeline';
               }
               if(currentAccordionId == 'linecharttimeline')
               {
                chartoption = 'linecharttimeline';
               }



                var country_dropdown = $("#listcountry option:selected");
                var country_selected = "";
                country_dropdown.each(function () { country_selected += $(this).text() +"_"; });
                var technology_dropdown = $("#listtechnology option:selected");
                var technology_selected = "";
                technology_dropdown.each(function () { technology_selected += $(this).text() +"_"; });
                $('#selectedCountryList').val(country_selected);
                $('#selectedTechnologyList').val(technology_selected);

                if(country_selected == '' || technology_selected == '')
                    {
                        $('#success_msg').addClass('alert-warning');
                        $('.success_msg_body').text('Country & Technology both are compulsary');
                        $("#success_msg").fadeIn("slow");
                        $("#success_msg").delay(5000).fadeOut("slow");
                        return false;
                    }
                 if($('#toyear').val()<$('#fromyear').val())
                     {
                        document.getElementById('fromMonths').value='';
                        document.getElementById('toMonths').value='';

                        $('#success_msg').addClass('alert-warning');
                        $('.success_msg_body').text('Years should be in increasing order');
                        $("#success_msg").fadeIn("slow");
                        $("#success_msg").delay(5000).fadeOut("slow");
                        return false;
                     }
               $.ajax({
                           type:'POST',
                           url:'/Leadanalytics/fun_select_parameters/'+currentAccordionId,
                           data:{
                                country:    country_selected,
                                course:     technology_selected,
                                fromMonth:  $('#frommonth').val(),
                                toMonth:    $('#tomonth').val(),
                                fromYear:   $('#fromyear').val(),
                                toYear:     $('#toyear').val(),
                                chartoptions : chartoption,
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                           success:function(msg)
                                   {

                                    if(currentAccordionId == 'headingEight')
                                        {
                                            $("#graphdiv").html(msg);
                                            if(msg=='Sorry No Leads Found')
                                                {
                                                    $(".csvclass").hide();
                                                }
                                        }
                                    else if(currentAccordionId == 'headingTwo' || currentAccordionId == 'linecharttimeline' || currentAccordionId == 'barcharttimeline' )
                                        {
                                            $("#graphdiv2").html(msg);
                                            if(msg=='Sorry No Leads Found')
                                                {
                                                    $(".csvclass").hide();
                                                }
                                        }
                                    else
                                        {
                                            $("#graphdiv3").html(msg);
                                            if(msg=='Sorry No Leads Found')
                                                {
                                                    $(".csvclass").hide();
                                                }
                                        }
                                   }
                      });

                    });
  });


</script>
<script>
            $(".collapse").on("shown.bs.collapse", function () {
                $(this).prev().css({"background-color": "#e1f1f4", "color": "#0761b7"});
                $(this).prev().find('div > h6 > i').removeClass('fa-plus-circle');
                $(this).prev().find('div > h6 > i').addClass('fa-minus-circle');
            });

            $(".collapse").on("hide.bs.collapse", function () {
                $(".collapse").prev().css({"background-color": "#fff", "color": "#000"});
                $(".collapse").prev().find('div > h6 > i').removeClass('fa-minus-circle');
                $(".collapse").prev().find('div > h6 > i').addClass('fa-plus-circle');
            });









$(document).on('change', '#preference', function(){

    var options = $('datalist')[0].options;

    for (var i=0;i<options.length;i++){
       if (options[i].value == $(this).val())
         {

         var changed_preference = $(this).val();

         break;
         }
    }


window.location.replace('/Leadanalytics/lead_analytics/'+changed_preference);

});





</script>

<!--<script src="{% static 'LeadApplication\\js\\customjs.js' %}"></script>-->
<!--    {% block javascript %}{% endblock %}-->


{% endblock %}
