{% load static %}
{% include "heads.html" %}
<section class="login-page-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 offset-md-1">
                    <div class="login-box-shadow">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-12 pr-sm-0">
                                <div class="clearfix">
                                <div class="social-login-box">
                                    <a href="{% url 'LeadApplication:homepage' %}"><img class="img-fluid" src="{% static 'LeadApplication\\images\\logo-login.png' %}" alt="Login"></a>
                                    <p class="mt-4 mb-4 text-white">
                                        Login using social media to get quick access.
                                    </p>
                                    <div class="facebook"><i class="fa fa-facebook"></i> Signin With Facebook</div>
                                    <div class="facebook google"><i class="fa fa-google"></i> Signin With Google</div>
                                    <div class="facebook linkdin mb-5"><i class="fa fa-linkedin"></i> Signin With Linkedin</div>
                                </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12 pl-sm-0">
                                <div class="login-user-box">
                                    <div class="clearfix login-show">
                                        <h3 class="text-center">Login to your account</h3>
                                        <p class="text-center">
                                            Don’t have an account? <a class="blue-color cursor-pointer user-signup">Sign Up Free!</a>
                                        </p>
                                        <form class="row" action="{% url 'LeadApplication:readLoginInputs' %}" method="POST">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                                                <input type="email" name="username" class="form-control login-input" placeholder="Enter Email">
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                                                <input type="password" name="password" class="form-control login-input" placeholder="Password">
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                                                    <label class="form-check-label blue-color float-right cursor-pointer forgot-password">Forgot Password?</label>
                                                </div>
                                                <button type="submit" class="btn btn-primary w-100 text-center mt-3">Login With Email</button>
                                            </div>                                                
                                        </form>
                                    </div>
                                    <ul class="messages">
                                            {% if messages %}
                                        {% for message in messages %}
                                        <div>
                                            <strong>{{message|safe}}</strong>
                                            <p></p>
                                        </div>
                                        {% endfor %}
                                                  {%endif%}
                    
                                        </ul>
                                    <div class="clearfix recover-password">
                                        <h3 class="text-left">Recover your password</h3>
                                        <p class="text-left">
                                            Fill in your e-mail address below and we will send you an email with further instructions.
                                        </p>
                                        <form class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                                                <input type="email" class="form-control login-input" placeholder="Email Address">
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                                                <button type="submit" class="btn btn-primary w-100 text-center mt-3">Generate OTP</button>
                                                <h6 class="mt-4 mb-0"><a class="blue-color cursor-pointer user-login">Already have an account?</a></h6>
                                                <h6 class="mt-3 mb-0"><a class="blue-color cursor-pointer user-signup">Don’t have an account?</a></h6>
                                            </div>                                                
                                        </form>
                                    </div>
                                    <div class="clearfix signup-hide">
                                        <h3 class="text-center">Sign up for free!</h3>
                                         
                                         
                                         
                                        <form class="row" method="POST" >
                                            {% csrf_token %}
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                                                <input type="text" class="form-control login-input mb-0" placeholder="Name">
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                                                <input type="number" class="form-control login-input mb-0" placeholder="Contact No">
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                                                <input type="email" class="form-control login-input mb-0" placeholder="Email Address">
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                                <input type="text" class="form-control login-input mb-0" placeholder="Password">
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                                <input type="text" class="form-control login-input mb-0" placeholder="Confirm Password">
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <p class="text-center">
                                                    I agree to the <a class="blue-color">privacy policy</a> and <a class="blue-color">terms of service</a>.
                                                </p>
                                                <button type="submit" class="btn btn-primary w-100 text-center mt-1">Sign Up With Email</button>
                                                <h6 class="mt-4 mb-0 text-center"><a class="blue-color cursor-pointer user-login">Already have an account?</a></h6>                                                    
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% include "footerjs.html" %}
<script type="text/javascript" src="{% static 'LeadApplication\\js\\bootstrap-4-multi-dropdown\\js\\bootstrap-4-navbar.js' %}"></script>
<script type="text/javascript" src="{% static 'LeadApplication\\js\\light-box\\html5lightbox.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".signup-hide").hide();
        $(".recover-password").hide();

        $(".user-signup").click(function () {
            $(".signup-hide").fadeIn(500);
            $(".login-show").fadeOut(500);                    
            $(".recover-password").fadeOut(500);
        });
        $(".user-login").click(function () {
            $(".login-show").fadeIn(500);
            $(".signup-hide").fadeOut(500);
            $(".recover-password").fadeOut(500);
        });
        $(".forgot-password").click(function () {
            $(".login-show").fadeOut(500);
            $(".signup-hide").fadeOut(500);
            $(".recover-password").fadeIn(500);
        });
    });
</script>
