{% load static %}
<section class="slider">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <!--<ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'LeadApplication\\images\\slide\\1.jpg' %}" class="d-block w-100" alt="BISP">
                    <div class="carousel-caption d-none d-md-block">
                        <!--ul class="top-courses">
                            <li class="title">Top Courses</li>
                            <li><a class="hvr-shutter-out-vertical">HFM</a></li>
                            <li><a class="hvr-shutter-out-vertical">Salesforce Lightning</a></li>
                            <li><a class="hvr-shutter-out-vertical">Machine Learning</a></li>
                            <li><a class="hvr-shutter-out-vertical">Salesforce Wave analytics</a></li>
                            <li><a class="hvr-shutter-out-vertical">Infomatica Developer Track</a></li>
                        </ul-->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'LeadApplication\\images\\slide\\1.jpg' %}" class="d-block w-100" alt="BISP">
                    <div class="carousel-caption d-none d-md-block">
                        <!--ul class="top-courses">
                            <li class="title">Top Courses</li>
                            <li><a class="hvr-shutter-out-vertical">HFM</a></li>
                            <li><a class="hvr-shutter-out-vertical">Salesforce Lightning</a></li>
                            <li><a class="hvr-shutter-out-vertical">Machine Learning</a></li>
                            <li><a class="hvr-shutter-out-vertical">Salesforce Wave analytics</a></li>
                            <li><a class="hvr-shutter-out-vertical">Infomatica Developer Track</a></li>
                        </ul-->
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="next-icon" aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="next-icon" aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <!--section class="offer-bg fixed-menu-offer">
            <div id="close" class="offer-close">X</div>
            <div class="container">                
                <ul id="example">
                    Double Delight Offer - Flat 10% Off | Offer Ending In: 
                    <li><span class="days">00</span><p class="days_text">D</p></li>
                    <li class="seperator">:</li>
                    <li><span class="hours">00</span><p class="hours_text">H</p></li>
                    <li class="seperator">:</li>
                    <li><span class="minutes">00</span><p class="minutes_text">M</p></li>
                    <li class="seperator">:</li>
                    <li><span class="seconds">00</span><p class="seconds_text">S</p></li>
                </ul>
            </div>
        </section-->