{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="course-breadcrumb">
        <div class="container">
            <!--<h2 class="text-center text-white open-sans">All Courses</h2>-->
            <div class="row">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
                    <div class="course-filter-border">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4 col-12">
                                <div class="form-group course-filter-select">
                                    <select class="form-control">
                                        <option value="">Select Technology </option>
                                        <option value="1">Java</option>
                                        <option value="2">Hadoop</option>
                                        <option value="3">ERP</option>
                                        <option value="4">EPM</option>
                                        <option value="7">CRM</option>
                                        <option value="5">Visualization</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4 col-12">
                                <div class="form-group course-filter-select">
                                    <select class="form-control">
                                        <option value="">Select Country</option>
                                        <option value="1">India </option>
                                        <option value="2">USA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-12">
                                <div class="reset"><a class="hvr-shutter-out-vertical" href="">Reset</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            </div>
        </div>
    </section>
{% endblock %}