{% extends 'LeadApplication/base.html' %}
{% load static %}
<style type="text/css">
        #wrapper {
            width: 800px;
            margin: 0 auto;
            color: #333;
            font-family: Tahoma, Verdana, sans-serif;
            line-height: 1.5;
            font-size: 14px;
        }

        .demo {
            margin: 30px 0;
        }

        .date-picker-wrapper .month-wrapper table .day.lalala {
            background-color: orange;
        }

        .options {
            display: none;
            border-left: 6px solid #8ae;
            padding: 10px;
            font-size: 12px;
            line-height: 1.4;
            background-color: #eee;
            border-radius: 4px;
        }

        .date-picker-wrapper.date-range-picker19 .day.first-date-selected {
            background-color: red !important;
        }

        .date-picker-wrapper.date-range-picker19 .day.last-date-selected {
            background-color: orange !important;
        }
    </style>
{% block content %}
<div id="wrapper">
<h2>Date range picker demo is here ...</h2>
  Default settings: <input class="form-control" id="date-range0" size="40" value="">
                <a href="#" class="show-option">Show Config</a>
<!--                <pre class="options">{}</pre>-->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'LeadApplication\\js\\datepicker\\jquery.daterangepicker.js' %}"></script>
<script>
    	$('#date-range0').dateRangePicker(
	{
	}).on('datepicker-first-date-selected', function(event, obj)
	{
		/* This event will be triggered when first date is selected */
		console.log('first-date-selected',obj);
		// obj will be something like this:
		// {
		// 		date1: (Date object of the earlier date)
		// }
	})
	.on('datepicker-change',function(event,obj)
	{
		/* This event will be triggered when second date is selected */
		console.log('change',obj);
		// obj will be something like this:
		// {
		// 		date1: (Date object of the earlier date),
		// 		date2: (Date object of the later date),
		//	 	value: "2013-06-05 to 2013-06-07"
		// }
	})
	.on('datepicker-apply',function(event,obj)
	{
		/* This event will be triggered when user clicks on the apply button */
		console.log('apply',obj);
	})
	.on('datepicker-close',function()
	{
		/* This event will be triggered before date range picker close animation */
		console.log('before close');
		//alert($('#date-range0').val());
	})
	.on('datepicker-closed',function()
	{
		/* This event will be triggered after date range picker close animation */
		console.log('after close');
		alert($('#date-range0').val());
	})
	.on('datepicker-open',function()
	{
		/* This event will be triggered before date range picker open animation */
		console.log('before open');
	})
	.on('datepicker-opened',function()
	{
		/* This event will be triggered after date range picker open animation */
		console.log('after open');
	});



    </script>

    <script>
        $(function () {
            $('a.show-option').click(function (evt) {
                evt.preventDefault();
                $(this).siblings('.options').slideToggle();
            });
        })
    </script>
</div>
{% endblock %}