{% extends 'marketing/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}
{{ block.super }}

{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="{%static 'images/favicon.ico'%}"/>
{% endblock extralinks %}

<div class="main_container ml-5 mr-5">
  <div class="row marl">

    <div class="filter_row list_filter_row row marl col-md-12 mb-2">
      <div class="">
        <div class="card">
          <div class="card-body">
            <form id="leads_filter" action="" method="POST">
              <div class="card-body ">
                <div class="card-title">Filter</div>
                <div class="row marl">
                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Name</label>
                      <input type="text" class="form-control" placeholder="Contact Name" name="contact_name"
                        value="{{request.POST.contact_name}}">
                    </div>
                  </div>
                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="text" class="form-control" placeholder="Contact Email" name="contact_email"
                        value="{{request.POST.contact_email}}">
                    </div>
                  </div>

                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Position</label>
                      <select name="contact_position" class="id_tag" class="assigned_users_ form-control">
                          <option value="">select</option>
                          {% for contact in contacts %}
                          <option value="{{contact.position}}" {% if contact.position|slugify == request.POST.position %} selected="" {% endif %}>
                          {{contact.position}}</option>
                          {% endfor %}
                        </select>
<!--                      <input type="text" class="form-control" placeholder="Position" name="contact_position"-->
<!--                        value="{{request.POST.position}}">-->
                    </div>
                  </div>
                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Company Name</label>
                      <select name="contact_company_name" class="id_tag" class="assigned_users_ form-control">
                        <option value="">select</option>
                        {% for contact in contacts %}
                        <option value="{{contact.company_name}}" {% if contact.company_name|slugify == request.POST.contact_company_name %} selected=""
                          {% endif %}>
                          {{contact.company_name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <input type="hidden" name="tab_status" id="tab_status">
                  <div class="filter_col col-2">
                    <div class="form-group buttons_row">
                      <button class="btn btn-primary save" type="submit">Search</button>
                      <a href="" class="btn btn-default clear" onclick="window.location.reload">Clear</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="table_container_row no_mar_top">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-right">
              <span class="float-left">Contacts - {{ contacts|length }}</span>
              <span class="filter_toggle">
                <a href="#" class="primary_btn"><i class="fa fa-filter"></i></a>
              </span>
              <a href="{% url 'marketing:contact_list_new' %}" class="primary_btn">Add New Contact List</a>
              <a class="primary_btn" onclick="exportTableToCSV('Contacts.csv')" style="color:white;">Export all Contacts</a>
            </div>
            <div class="table-responsive table-bordered ">
              <table class="table">
                {% if contacts %}
                <thead>
                  <tr>
                    <th class="text-center" width="5%">S. No</th>
                    <th class="text-center" width="13%">Contact Name</th>
                    <th class="text-center" width="13%">Email</th>
                    <th class="text-center" width="13%">Company</th>
                    <th class="text-center" width="13%">Position</th>
                    <th class="text-center" width="13%">Related Connection</th>
                    {% if request.user.role == "ADMIN"  or request.user.is_superuser %}
                      <th class="text-center" width="13%">User Account</th>
                    {% endif %}
                    <th class="text-center" width="13%">Actions</th>
                  </tr>
                </thead>
                {% endif %}
                <tbody>
                  {% if per_page %}
                  {% paginate per_page contacts %}
                  {% else%}
                  {% paginate 10 contacts %}
                  {% endif %}
                  {% for contact in contacts %}
                  <tr style="text-align:center;">
                    <td scope="row" class="text-center">{{ forloop.counter }}</td>
                    <td><a href="{% url 'marketing:contact_detail' contact.id %}">{{ contact.name }} {{ contact.last_name }}</td>
                    <td class="text-center">{{ contact.email }}</td>
                    <td class="text-center">{{ contact.company_name }}</td>
                    <td class="text-center">{{ contact.position }}</td>
                    <td>
                      {% for contact_list in contact.contact_list.all %}
                      <span> <a
                          href="{% url 'marketing:contact_list_detail' contact_list.id %}">{{contact_list.name}}</a>
                      </span>
                      {% endfor %}
                      {% if request.user.role == "ADMIN"  or request.user.is_superuser %}
                        <td>{{ contact.created_by.first_name }} {{contact.created_by.last_name }}</td>
                      {% endif %}
                    <td class="actions text-center">
                      <a href="{% url 'marketing:edit_contact' contact.id %}" class="btn btn-success edit edit_contact"
                        data-other-contacts-lists='{{contact.contact_list.all|length}}'><i class="fas fa-edit"></i></a>
                      <a href="{% url 'marketing:delete_contact' contact.id %}"
                        class="btn btn-danger delete remove_account"
                        data-other-contacts-lists='{{contact.contact_list.all|length}}'><i
                          class="fas fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  {% empty %}
                  <tr style="text-align:center;">
                    <td colspan="6">No records found!</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="marl row text-center mt-5">
        {% show_pages %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
<script>
  $(function () {
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();

    });
    $('.id_tag').select2();

    $("a[rel='page']").click(function (e) {
      e.preventDefault();
      $('#leads_filter').attr("action", $(this).attr("href"));
      $('#leads_filter').submit();
    });

     var opt = {};
    $(".id_tag > option").each(function () {
        if(opt[$(this).text()]) {
            $(this).remove();
        } else {
            opt[$(this).text()] = $(this).val();
        }
    });

    $(".remove_account").click(function (e) {
      e.preventDefault()
      url = $(this).attr('href')
      var contact_lists = parseInt($(this).attr('data-other-contacts-lists'));
      if (contact_lists > 1) {
        if (!confirm('Are you sure you want to delete? this contact exists in other contact lists, deleting this will delete this contact from other contact lists too!'))
          return;
        window.location = $(this).attr('href');
      } else {
        if (!confirm('Are you sure you want to delete?'))
          return;
        window.location = $(this).attr('href');
      }
    })

    $(".edit_contact").click(function (e) {
      e.preventDefault()
      url = $(this).attr('href')
      console.log(url)
      var contact_lists = parseInt($(this).attr('data-other-contacts-lists'));
      console.log(contact_lists);
      if (contact_lists > 1) {
        if (!confirm('Are you sure you want to edit? this contact exists in other contact lists, editing this will change this contact information in other contact lists too!'))
          return;
        window.location = $(this).attr('href');
      } else {
        window.location = $(this).attr('href');
      }
    })
  })

function downloadCSV(csv, filename) {
  var csvFile;
  var downloadLink;

  csvFile = new Blob([csv], {
    type: "text/csv"
  });

  downloadLink = document.createElement("a");
  downloadLink.download = filename;
  downloadLink.href = window.URL.createObjectURL(csvFile);

  downloadLink.style.display = "none";

  document.body.appendChild(downloadLink);

  downloadLink.click();
}

function exportTableToCSV(filename) {
  var csv = [];
  var rows = document.querySelectorAll("table tr");

  for (var i = 0; i < rows.length; i++) {
    var row = [],
      cols = rows[i].querySelectorAll("td, th");
    for (var j = 0; j < cols.length; j++)
      row.push(cols[j].innerText);

    csv.push(row.join(","));
  }
  //download csv file
  downloadCSV(csv.join("\n"), filename);

}

</script>
{% endblock js_block %}