{% extends 'marketing/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}
{{ block.super }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-5">
    <li class="breadcrumb-item"><a href="{% url 'marketing:contact_lists' %}">Contact Lists</a></li>
    <li class="breadcrumb-item active">{{contact_list.name}}</li>
  </ol>
</nav>
<div class="main_container ml-5 mr-5">
  <div class="row marl">
    <div class="filter_row list_filter_row row marl col-md-12 mb-2">
      <div class="">
        <div class="card">
          <div class="card-body">
            <form id="leads_filter" action="" method="POST">
              <div class="card-body ">
                <div class="card-title">Filters</div>
                <div class="row marl">
                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Name</label>
                      <input type="text" class="form-control" placeholder="Name" name="name"
                        value="{{request.POST.name}}">
                    </div>
                  </div>
                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="text" class="form-control" placeholder="Email" name="email"
                        value="{{request.POST.email}}">
                    </div>
                  </div>
                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Company Name</label>
                      <input type="text" class="form-control" placeholder="Company Name" name="company_name"
                        value="{{request.POST.company_name}}">
                    </div>
                  </div>

                   <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Position</label>
                      <input type="text" class="form-control" placeholder="Position" name="position"
                        value="{{request.POST.position}}">
                    </div>
                  </div>
                  <input type="hidden" name="tab_status" id="tab_status">
                  <div class="filter_col col-2">
                    <div class="form-group buttons_row">
                      <button class="btn btn-primary save" type="submit">Search</button>
                      <a href="" class="btn btn-default clear" onclick="window.location.reload">Clear</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="table_container_row no_mar_top">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-right">
              <span class="float-left">{{ contact_list.name }} - {{ contacts_list|length }}</span>
              {% if contact_list.failed_contacts.all|length > 0 %}
              <a href="{% url 'marketing:failed_contact_list_detail' contact_list.id %}" class="primary_btn">Failed
                Contacts</a>
              {% endif %}
              <span class="filter_toggle">
                <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
              </span>
              <a href="{% url 'marketing:contact_list_new' %}" class="primary_btn">Add New Contact List</a>
            </div>
            <div class="table-responsive table-bordered ">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center" width="5%">ID</th>
                    <th class="text-center" width="20%">Contact Name</th>
                    <th class="text-center" width="20%">Email</th>
                     <th class="text-center" width="20%">Company Name</th>
                     <th class="text-center" width="20%">Position</th>

                    <th width="10%">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <span><b>Tags : </b></span>
                    {% for tag in contact_list.tags.all %}
                    <span class="text-left color{{forloop.counter}} tag_class_cl" id="list_tag" data-link="{{tag.id}}"
                      style="cursor: pointer;">{{tag.name}}</span>
                    {% empty %}
                    <span class="text-left">No Tags</span>
                    {% endfor %}
                  </tr>
                  {% if per_page %}
                  {% paginate per_page contacts_list %}
                  {% else%}
                  {% paginate 10 contacts_list %}
                  {% endif %}
                  {% for contact in contacts_list %}
                  <tr style="text-align:center;">
                    <td scope="row" class="text-center">{{ forloop.counter }}</td>
                    <td> <a href="{% url 'marketing:contact_detail' contact.id %}" target="_blank">{{ contact.name }} {{contact.last_name}}</a> </td>
                    <td class="text-center"> <a href="{% url 'marketing:contact_detail' contact.id %}">{{ contact.email }}</a> </td>
                    <td class="text-center">{{contact.company_name}}</td>
                    <td class="text-center">{{contact.position }}</td>
                    <td class="actions" class="text-center">
                      <a href="{% url 'marketing:edit_contact' contact.id %}?from_contact={{contact_list.id}}"
                        class="btn btn-success edit edit_contact"
                        data-other-contacts-lists='{{contact.contact_list.all|length}}'><i class="fas fa-edit"></i></a>
                      <!-- <a href="/contacts/1/edit/" class="btn btn-info duplicate"><i class="fas fa-copy"></i></a> -->
                      <a href="{% url 'marketing:delete_contact' contact.id %}?from_contact={{contact_list.id}}"
                        class="btn btn-danger delete remove_account"
                        data-other-contacts-lists='{{contact.contact_list.all|length}}'><i class="fas fa-trash"></i></a>


                    </td>
                  </tr>
                  {% empty %}
                  <tr style="text-align:center;">
                    <td colspan="6">No records found!</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="marl row text-center mt-5">
    {% show_pages %}
  </div>
</div>
{% endblock %}

{% block js_block %}
<script>
  $(function () {
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();

    });
    $('#id_tag').select2();

    // $(".remove_account").click(function (e) {
    //   e.preventDefault()
    //   url = $(this).attr('href')
    //   if (!confirm('Are you sure you want to delete?'))
    //     return;
    //   window.location = $(this).attr('href')
    // })

    $(".remove_account").click(function (e) {
      e.preventDefault()
      url = $(this).attr('href')
      var contact_lists = parseInt($(this).attr('data-other-contacts-lists'));
      if (contact_lists > 1) {
        if (!confirm('Are you sure you want to delete? this contact exists in other contact lists, deleting this will delete this contact from other contact lists too!'))
          return;
        window.location = $(this).attr('href');
      } else {
        if (!confirm('Are you sure you want to delete?'))
          return;
        window.location = $(this).attr('href');
      }
    })

    $(".edit_contact").click(function (e) {
      e.preventDefault()
      url = $(this).attr('href')
      console.log(url)
      var contact_lists = parseInt($(this).attr('data-other-contacts-lists'));
      console.log(contact_lists);
      if (contact_lists > 1) {
        if (!confirm('Are you sure you want to edit? this contact exists in other contact lists, editing this will change this contact information in other contact lists too!'))
          return;
        window.location = $(this).attr('href');
      } else {
        window.location = $(this).attr('href');
      }
    })

    $("a[rel='page']").click(function (e) {
      e.preventDefault();
      $('#leads_filter').attr("action", $(this).attr("href"));
      $('#leads_filter').submit();
    });
  })
</script>
{% endblock js_block %}