{% extends 'marketing/base.html' %}
{% load staticfiles %}
{% block content %}
{{ block.super }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-5">
    <li class="breadcrumb-item"><a href="{% url 'marketing:contact_lists' %}">Event Details</a></li>
    <li class="breadcrumb-item active"></li>
  </ol>
</nav>
{{ event_lists.title }}<br>
{{ event_lists.user.username }}
{% endblock %}
{% block js_block %}
<script>

</script>
{% endblock js_block %}