{% extends 'marketing/base.html' %}
{% load staticfiles %}

{% block content %}
{{ block.super }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-5">
    <li class="breadcrumb-item"><a href="{% url 'marketing:calendar' %}">Calendar</a></li>

  </ol>
</nav>
<div class="main_container ml-5 mr-5">
  <div class="row marl">
    <div class="filter_row list_filter_row row marl col-md-12 mb-2">
      <div class="">
        <div class="card">
          <div class="card-body">
            <form id="leads_filter" action="" method="POST">

            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="table_container_row no_mar_top">
        <div class="card">
          <div class="card-body">

            <div class="table-responsive table-bordered">
              <table class="table">
                <thead>
                  <tr>
                    <th width="5%">ID</th>
                    <th width="20%">Title</th>
                    <th width="20%">Description</th>
                     <th width="20%">User Name</th>
                     <th width="20%">Start Time</th>
                        <th width="20%">End Time</th>


                  </tr>
                </thead>
                <tbody>


                  <tr style="text-align:center;">

                    <td>{{obj_event.id}}</td>
                    <td>{{obj_event.title}}</td>
                    <td>{{obj_event.description}}</td>
                      <td>{{obj_event.user_id}}</td>
                      <td>{{obj_event.start_time}}</td>
                      <td>{{obj_event.end_time}}</td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="marl row text-center mt-5">

  </div>
</div>
{% endblock %}
