{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}
    <script src="{% static 'myapp\\js\\jquery.min.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="icon" href="{% static 'myapp\\images\\favicon.ico' %}" type="image">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'myapp/css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'myapp/css/icomoon.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'myapp/css/magnific-popup.css' %}">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="{% static 'myapp/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/owl.theme.default.min.css' %}">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="{% static 'myapp/css/flexslider.css' %}">

    <!-- Pricing -->
    <link rel="stylesheet" href="{% static 'myapp/css/pricing.css' %}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">

    <!-- modal class-->
    <link rel="stylesheet" href="{% static 'myapp/css/modal.css' %}">


    <!--slider-->
    <link type="text/css" rel="stylesheet" href="{% static 'myapp/css/thumbnail-slider.css' %}">
    <!-- Modernizr JS -->

    <![endif]-->
    <title>{% block title %}Bisp Site{% endblock %}</title>

    <style>
​
    </style>
</head>
<body>

<nav class="fh5co-nav">
    <!-- top bar -->
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right">
                    <p class="site">
                        <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                        &nbsp; &nbsp;
                        {% load staticfiles %}
                        <img src="{% static 'myapp\\images\\india.png' %}" alt="INDIA" width="18" height="20">
                        +91 975-275-3753,&nbsp; &nbsp;
                        {% load staticfiles %}
                        <img src="{% static 'myapp\\images\\us.png' %}" alt="USA" width="20" height="18">
                        +1 786-629-6893 &nbsp;
                    </p>

                    <ul class="fh5co-social">
                        <li><a target="_blank" href="https://www.facebook.com/bisptrainings"><i
                                class="icon-facebook2"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/bisptrainings"><i
                                class="icon-twitter2"></i></a></li>
                        <li><a target="_blank" href="https://plus.google.com/103407180337522767784"><i
                                class="icon-google"></i></a></li>
                        <li><a target="_blank" href="https://in.linkedin.com/company/bisp-trainings"><i
                                class="icon-linkedin2"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- top bar ends -->
    <!-- navigatio  menu-->
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo">

                        {% load staticfiles %}
                        <a href="http://127.0.0.1:8000"><img src="{% static 'myapp\\images\\logo.png' %}" alt="BISP Trainings" width="120px" height="60px"></a>


                    </div>
                </div>

                <div class="col-xs-10 text-right menu-1" style="margin:15px 0 0 0">
                    <ul>

                        <li class="active"><a href="{% url 'myapp:userhome' %}">Home</a></li>

                        <li class="active"><a href="{% url 'myapp:technology' %}">Get Charts</a></li>

                         <li class="active"><a href="{% url 'myapp:predictive_analysis' %}">Predictive Analysis</a></li>



                         <li class="active"><a href="{% url 'myapp:time_series_analysis' %}">Time Series Analysis</a></li>

                           <li class="active"><a href="{% url 'myapp:forecasting' %}">Forecasting</a></li>

                         <li class="active"><a href="{% url 'myapp:leadanalytics' %}">Lead Analytics</a></li>




                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- navigation ends-->
</nav>

{% block content %}
{% endblock %}



<footer id="fh5co-footer" role="contentinfo"
        style="background-image: url('{%static 'myapp//images//img_bg_4.JPG' %}')" ;>
    <div class="overlay"></div>
    <div class="container">
        <div class="row row-pb-md">
            {% load static %}
            <div class="col-md-4 fh5co-widget"><img src="{%static 'myapp//images//goldpartner.jpg'%}" height="100"
                                                    width="250"></div>
            <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
                <h3>Learning</h3>
                <ul class="fh5co-footer-links">
                    <li><a href="about.php">About Us</a></li>
                    <li><a href="why_bisp.php">Why BISP</a></li>
                    <li><a href="refund_policy.php">Refund Policy</a></li>
                    <li><a href="disclaimer.php">Disclaimer</a></li>
                    <li><a href="opportunity-analytics.php">Opportunity Analytics</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
                <h3>Useful Links</h3>
                <ul class="fh5co-footer-links">
                    <li><a href="usefullinks_f.php">Our Trainers</a></li>
                    <li><a href="client-and-partners.php">Client and Partners</a></li>
                    <li><a href="faq.php">FAQ</a></li>
                    <li><a href="contact.php">Contact</a></li>
                    <li><a href="image-gallery.php">Our Team</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
                <h3>Our Blog</h3>
                <ul class="fh5co-footer-links">
                    <li><a href="index.php">bisptrainings</a></li>
                    <li><a href="https://learnhyperion.wordpress.com">Hyperian guru</a></li>
                    <li><a href="http://learnodi.blogspot.com">Learn ODI</a></li>
                    <li><a href="https://learnplanning.wordpress.com">Learn planning</a></li>

                </ul>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
                <h3>&nbsp;</h3>
                <ul class="fh5co-footer-links">
                    <li><a href="http://essbaseguru-amit.blogspot.com">Essbase guru</a></li>
                    <li><a href="https://learnsqlquery.wordpress.com">Learn sql query</a></li>
                    <li><a href="blog.php">-> read more</a></li>
                </ul>
            </div>
            <div class="col-md-12 text-center">
                <small class="block">Copyright © BISP Trainings. All Rights Reserved. Developed by <a
                        href="http://www.bispsolutions.com/" target="_blank" style="color:white;">BISP SOLUTIONS</a>.
                    Digital Marketing Partner - <a href="http://www.digiwoos.com/" target="_blank" style="color:white;">DIGIWOOS</a>
                </small>
            </div>
        </div>
    </div>
</footer>


</body>
</html>