{% extends 'myapp/base.html' %}
{% block content %}
<html lang="en">

<head>

</head>


<body>


<div id="fh5co-pricing">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <form id="myform" method="post" name="myform">

                    <div class="col-lg-3 col-md-3">
                        <h3> Select Category</h3>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        {%csrf_token%}
                        <select id="Category" name="catagery_id">
                              <option value="">Select</option>
                            {% for Category in Category %}
                               {% if Category.Category == ca.Category %}
                                   <option value="{{ Category.Category }}" selected>{{Category.Category}}
                                   </option>
                               {% else%}
                                  <option value="{{ Category.Category }}">{{ Category.Category}}
                                  </option>
                               {% endif %}



                            {% endfor %}
                        </select>
                    </div>
                    <ul class="messages">
                        {% for message in messages %}
                        <p
                                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                        {% endfor %}
                    </ul>
                    <div class="col-lg-3 col-md-3">

                    </div>


                </form>
            </div>
        </div>

        <br>

        <div id="div1">
            <h4 class="col-md-offset-3">Please select the technology from the list to get a graph on different
                criteria</h4>
            <img src="data:image/png;base64,{{ graphic|safe }}" style="height:100%; width:100%;" title="">

        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#Category").on("change",function(){
  action_url = '/myapp/cluster/'+$(this).val()
  $('#myform').attr('action', action_url);
  $('#myform').submit()
})

</script>


</body>
{% endblock %}
</html>