
{% extends 'myapp/base.html' %}
{% block content %}
<html lang="en">

<head>

    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.css" type="text/css"/>

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.js"></script>

 {{ script | safe }}
     {{ script1 | safe }}

     {{ script3 | safe }}
     {{ script4 | safe }}
    {{ script5 | safe }}

</head>




<body>


<div id="fh5co-pricing">

    <div class="container">




        <div id="div">

            <div class="row">

 <div class="col-lg-12 col-md-12">
                <form  id="myform" method="post" name="myform">

<div class="col-lg-3 col-md-3">
                        <h3> Select Category</h3>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        {%csrf_token%}
                        <select id="Category" name="catagery_id">
                              <option value="">Select</option>
                            {% for Category in Category %}
                               {% if Category.Category == category_name.Category %}
                                   <option value="{{ Category.Category }}" selected>{{Category.Category}}
                                   </option>
                               {% else%}
                                  <option value="{{ Category.Category }}">{{ Category.Category}}
                                  </option>
                               {% endif %}



                            {% endfor %}
                        </select>
                    </div>


                    <div class="col-lg-3 col-md-3">

                    </div>

                    <div class="col-lg-3 col-md-3 pull-right" align="right">
                        <a href="{% url 'myapp:pdf' %}" class="btn btn-info btn-sm"><strong>Download All</strong></a>
                    </div>
                </form>
            </div>

                <div class="col-md-6">

                   {{div | safe}}
                    <a href="{% url 'myapp:Technology' %}" class="btn btn-info btn-sm"><strong>Detail view</strong></a>

                </div>

                <div class="col-md-6">

                    {{div1 | safe}}
                     <a href="{% url 'myapp:Location' %}" class="btn btn-info btn-sm"><strong>Detail view</strong></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{div3 | safe}}
                     <a href="{% url 'myapp:Experience' %}" class="btn btn-info btn-sm"><strong>Detail view</strong></a>
                </div>


                <div class="col-md-6">
                    {{div4 | safe}}
                     <a href="{% url 'myapp:Company' %}" class="btn btn-info btn-sm"><strong>Detail view</strong></a>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                   {{div5 | safe}}
                     <a href="{% url 'myapp:Salary' %}" class="btn btn-info btn-sm"><strong>Detail view</strong></a>
                </div>
            </div>

        </div>
    </div>

</div>
<script>
     $("#Category").on("change",function(){
  action_url = '/myapp/dashboard/'+$(this).val()
  $('#myform').attr('action', action_url);
  $('#myform').submit()
})

</script>

</body>
{% endblock %}
</html>