<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
{% extends 'myapp/base.html' %}
{% block content %}
<body>


<div id="fh5co-pricing">

    <div class="container">
        <div class="row">
 <div class="col-lg-12 col-md-12">
                <form id="myform" method="post" name="myform">

                    <div class="col-lg-3 col-md-3">
                        <h3> Select Category</h3>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        {%csrf_token%}
                        <select id="Category" name="catagery_id">
                              <option value="">Select</option>
                            {% for Category in Category %}
                               {% if Category.Category == category_name.Category %}
                                   <option value="{{ Category.Category }}" selected>{{Category.Category}}
                                   </option>
                               {% else%}
                                  <option value="{{ Category.Category }}">{{ Category.Category}}
                                  </option>
                               {% endif %}



                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-3">

                    </div>


                </form>
            </div>
        </div>

        <br>

        <div id="div1">
        <div class="row">

            <h3 class="text-justify">This is the Forecasting gives a prediction on the basis of past data..where the blue line shows the actual month of data and orange line shows the prediction of upcoming month..In this we Implemented ARIMA Model</h3>

            <div class="col-md-12">
               <img src="data:image/png;base64,{{ graphic|safe }}"
                                            style="height:100%; width:100%;" title="">

            </div>


        </div>

        <div class="row">


        </div>

        </div>

    </div>
</div>

</div>
<script>
  $("#Category").on("change",function(){
  action_url = '/myapp/Prediction/'+$(this).val()
  $('#myform').attr('action', action_url);
  $('#myform').submit()
})
</script>
{% endblock %}
</body>
</html>