{% extends 'marketing/base.html' %}
{% load static %}
{% block content %}



<div class="fh5co-info">

    <div class="container">
        <h2 class=" text-center animate-box"> Opportunity Analytics </h2>

        <form name="myform" id="myform" method="post" >
            <div class="row">
                <!-- Default unchecked -->
                <div class="col-lg-3 col-md-3 col-xl-3 custom-control custom-radio">
                    <input type="radio" class="custom-control-input" value="opportunitys" name="opportunity" id="opportunities" checked>
                    <label class="custom-control-label" for="opportunities">opportunities</label>
                </div>
                <div class="col-lg-3 col-md-3 col-xl-3 custom-control custom-radio">
                    <input type="radio" class="custom-control-input" value="predective_analysis" name="opportunity" id="predective_analysis">
                    <label class="custom-control-label" for="predective_analysis">Predective Analysis</label>
                </div>
                <div class="col-lg-3 col-md-3 col-xl-3 custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="opportunity" value="time_series_analysis" id="time_series_analysis">
                    <label class="custom-control-label" for="time_series_analysis">Time Series Analysis</label>
                </div>
                <div class="col-lg-3 col-md-3 col-xl-3 custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="opportunity" value="forecasting" id="forecasting">
                    <label class="custom-control-label" for="forecasting">Forecasting </label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xl-3 ">
                    <select class="browser-default custom-select" id="category" name="category">
                        <option selected>Select Category</option>
                        {% for category in category_list %}
                        <option value="{{ category }}" {% if category == selected_category %}selected="selected"{% endif %}>{{category}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        </form>



        <!--        from here your canvas charts begins-->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xl-6">
                <canvas id="myChart" width="480" height="400"></canvas>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6">
                <canvas id="myChartLocationwise" width="480" height="400"></canvas>
            </div>

        </div>

    </div>


</div>
<script>
    $("#category").on("change",function(){
         action_url = '/myapp/dashboard/'+$(this).val();
         $('#myform').attr('action', action_url);
         $('#myform').submit();




 });

</script>

<script>
     var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels:['{{selected_category}}'] ,
    datasets: [{
      label: ' Number of Opening',
      data: ['{{numberofopening}}'],
      backgroundColor: [
        'rgba(000,111,111,55)',],
      borderWidth: 8
    }]
  },
  options: {
    responsive: false,
    legend: {
        display: false
    },

    scales: {
      xAxes: [{
      scaleLabel: {
      display:true,
      labelString:'Opening in {{current_month}}',
      fontSize:20,
      fontColor:'blue',
      },
      gridLines: {
        zeroLineWidth: 2,
        zeroLineColor: "black",
      },
        barPercentage: 0.5,
        maxBarThickness: 30,

        ticks: {
          maxRotation: 90,
          minRotation: 80
        }
      }],
      yAxes: [{
     gridLines: {
        zeroLineWidth: 2,
        zeroLineColor: "black",
      },
         scaleLabel: {
            display: true,
            fontSize: 16,
            fontColor: 'black',
            fontStyle: "bold",
            labelString: '{{ selected_category}} opening',
          },
        ticks: {
          beginAtZero: true,
        fontStyle: "bold",
        fontColor: "black",
        }

      }]

    }
  }
});
//locationwise opening chart
 var ctx = document.getElementById("myChartLocationwise");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels:{{locationlist|safe}} ,
    datasets: [{
      label: 'Number of Opening',
      data: {{locationopening|safe}},
      backgroundColor:{{ colorlocation|safe }} ,
      borderWidth: 1
    }]
  },
  options: {
    responsive: false,
    legend: {
        display: false
    },


    scales: {
      xAxes: [{
      scaleLabel: {
      display:true,
      labelString:'location List ',
      fontSize:20,
      fontColor:'blue',
      },
      gridLines: {
        zeroLineWidth: 2,
        zeroLineColor: "black",
      },
        barPercentage: 0.5,
        maxBarThickness: 30,

        ticks: {
          maxRotation: 90,
          minRotation: 80
        }
      }],
      yAxes: [{
     gridLines: {
        zeroLineWidth: 2,
        zeroLineColor: "black",
      },
         scaleLabel: {
            display: true,
            fontSize: 16,
            fontColor: 'black',
            fontStyle: "bold",
            labelString: '{{ selected_category}} opening',
          },
        ticks: {
          beginAtZero: true,
        fontStyle: "bold",
        fontColor: "black",
        }

      }]

    }
  }
});
</script>

{% endblock %}
