<!DOCTYPE html>
<html lang="en">
<head>
	 {% load staticfiles %}
    <script src="{% static 'myapp\\js\\jquery.min.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="icon" href="{% static 'myapp\\images\\favicon.ico' %}" type="image">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'myapp/css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'myapp/css/icomoon.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'myapp/css/magnific-popup.css' %}">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="{% static 'myapp/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/owl.theme.default.min.css' %}">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="{% static 'myapp/css/flexslider.css' %}">

    <!-- Pricing -->
    <link rel="stylesheet" href="{% static 'myapp/css/pricing.css' %}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">

    <!-- modal class-->
    <link rel="stylesheet" href="{% static 'myapp/css/modal.css' %}">


    <!--slider-->
    <link type="text/css" rel="stylesheet" href="{% static 'myapp/css/thumbnail-slider.css' %}">
    <!-- Modernizr JS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>

{% block content %}
<body class="bg-success">
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <form action="/myapp/home/" method="post" name="form" target="_top" onchange="form.submit()" >
	<div class="fh5co-info">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="col-md-12">
					<div class="hero__content__inner" id='navConverter'>
						<h1 class="hero__title col-md-offset-1">Select the country for the desired Opportunity Analytics </h1>
						<h1 class="hero__title"></h1>
						<div class="col-md-offset-5">

						<button type="submit" class="btn btn-primary" name="country" value="India">India</button>
						<button type="submit" class="btn btn-primary" name="country" value="US">USA</button>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </form>


{% endblock %}
</body>
</html>