
{% extends 'myapp/base.html' %}
{% block content %}
<html lang="en">

<head>

    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.css" type="text/css"/>

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.js"></script>

 {{ script | safe }}
     {{ script1 | safe }}

     {{ script2 | safe }}
     {{ script3 | safe }}
     {{ script4 | safe }}
     {{ script5 | safe }}

</head>




<body>


<div id="fh5co-pricing">

    <div class="container">




        <div id="div">

            <div class="row">

 <div class="col-lg-12 col-md-12">
                <form  id="myform" method="post" name="myform">

<div class="col-lg-12 col-md-12">
                        <h3 > Lead analytics based on Country, Technology and Datewise  </h3>
                    </div>



                    <div class="col-lg-3 col-md-3">
                        <select >
                            <option>Jan</option>
                            <option>Feb</option>
                            <option>Mar</option>
                            <option>Apr</option>
                            <option>May</option>
                            <option>Jun</option>
                            <option>Jul</option>
                            <option>Aug</option>
                            <option>Sep</option>
                            <option>Oct</option>
                            <option>Nov</option>
                            <option>Dec</option>


                        </select>
                    </div>

                    <div class="col-lg-3 col-md-3 pull-right" align="right">

                    </div>
                </form>
            </div>

                <div class="col-md-6">

                   {{div | safe}}


                </div>

                <div class="col-md-6">

                    {{div1 | safe}}

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{div2 | safe}}

                </div>

                <div class="col-md-6">
                    {{div3 | safe}}

                </div>


            </div>



            <div class="row">

                <div class="col-md-6">
                    {{ div4 | safe }}

                </div>
                <div class="col-md-6">
                    {{div5 | safe}}

                </div>


            </div>

        </div>
    </div>

</div>
<script>
     $("#Category").on("change",function(){
  action_url = '/dashboard/'+$(this).val()
  $('#myform').attr('action', action_url);
  $('#myform').submit()
})

</script>

</body>
{% endblock %}
</html>