<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login BISP</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{%static 'myapp/images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/main.css'%}">
<!--===============================================================================================-->
</head>
<body  >


	<div class="limiter" >
		<div class="container-login100 img-responsive" style="background-image: url('{%static 'myapp//images//im.jpg' %}'); background-size:cover;";>
			<div class="wrap-login100"  style="border-color:black;">
				<form class="login100-form validate-form" method="post" id="myform" name="myform" action="/userlogin/">
					<!--<span class="login100-form-title p-b-26">-->
						<!--Welcome-->
					<!--</span>-->
					<span class="login100-form-title p-b-48">
						{% load staticfiles %}
                        <img src="{% static 'myapp\\images\\logo.png' %}" alt="BISP Trainings" width="150px" height="60px">
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="user" required>
						<span class="focus-input100" data-placeholder=""></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass" required>
						<span class="focus-input100" data-placeholder=""></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Login
							</button>
						</div>
						  <ul class="messages">
                        {% if messages %}
                    {% for message in messages %}
                    <div>
                        <strong>{{message|safe}}</strong>
                        <p></p>
                    </div>
                    {% endfor %}
							  {%endif%}

                    </ul>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
                          username:guest/
							password:guest123

						</span>

						<a class="txt2" href="#">

						</a>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'myapp/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'myapp/vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'myapp/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'myapp/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'myapp/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'myapp/vendor/daterangepicker/moment.min.js'%}"></script>
	<script src="{%static 'myapp/vendor/daterangepicker/daterangepicker.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'myapp/vendor/countdowntime/countdowntime.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'myapp/js/main.js'%}"></script>

</body>
</html>