<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <title>Opportunity Analyticks</title>
    <title>November 2019</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

    <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;

                position: fixed;




            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .header1 {
                font-size: 20px;
                font-weight: 50;
                text-align: left;
                color: #a4d7e0;
            }
            p{
            border-radius:250px;
            }

            .title {
                font-size: 22px;
                font-weight: 100;
                 background-color:#bbbbbb;

               /* text-align: right;*/
               padding: 10px 20px 0px 20px;
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }


    </style>
</head>
<body>
<div class='wrapper'>
    <div class="header">
        <p class='title'>Job Opportunity Reports
            {{Charts_id}} </p>


    </div>
    <div><p align="left">February-2019</p></div>
    <div>
        <div class='details'>
            <img src="..\\media\\opportunity-data\\Technology.png" heigth="500" width="300"/>
            <img src="..\\media\\opportunity-data\\Location.png" heigth="500" width="300"/><br><br>
            <img src="..\\media\\opportunity-data\\Experience.png" heigth="500" width="300"/>
            <img src="..\\media\\opportunity-data\\Company.png" heigth="500" width="300"/><br><br>
            <img src="..\\media\\opportunity-data\\Salary.png" heigth="500" width="300"/>


            <hr class='hrItem'/>
        </div>
    </div>
</div>
</body>
</html>