<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BISP SITE</title>
</head>
{% extends 'myapp/base.html' %}
{% block content %}
<body>
<div id="fh5co-pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../media/prediction.png" height="500" width="550">


            </div>

            <div class="col-md-6">
                <h3 align="center">Tabular View</h3>
                {{  table|safe }}

                   <div class="col-md-4">
                     <a download href="../media/new_prediction.csv">
                    <button class="btn btn-primary" type="download">Download CSV</button>
                </a>
                     </div>
                     <div class="col-md-4">
                  <a download href="../media/prediction.png">
                    <button class="btn btn-secondary" type="download">Download Image</button>
                </a>
                     </div>


                    </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html></title>
</head>
<body>

</body>
</html>