<html>


 <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css" type="text/css" />

 <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
{{ script | safe }}
<body>
<div>
    {{div | safe}}
    bgbnbnn
</div>
</body>
</html>