<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
{% extends 'myapp/base.html' %}
{% block content %}
<body>


<div id="fh5co-pricing">

    <div class="container">
        <div class="row">
   <div class="col-lg-12 col-md-12">
                <form id="myform" method="post" name="myform">

                    <div class="col-lg-3 col-md-3">
                        <h3> Select Category</h3>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        {%csrf_token%}
                        <select id="Category" name="catagery_id">
                              <option value="">Select</option>
                            {% for Category in Category %}
                               {% if Category.Category == category_name.Category %}
                                   <option value="{{ Category.Category }}" selected>{{Category.Category}}
                                   </option>
                               {% else%}
                                  <option value="{{ Category.Category }}">{{ Category.Category}}
                                  </option>
                               {% endif %}



                            {% endfor %}
                        </select>
                    </div>
                    <ul class="messages">
                        {% for message in messages %}
                        <p
                                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                        {% endfor %}
                    </ul>
                    <div class="col-lg-3 col-md-3">

                    </div>


                </form>
            </div>
        </div>

        <br>

        <div id="div1">
        <div class="row">

            <h3 class="text-justify">This is a Predictive Analysis for different technologies where the red dots showing actual Experience and Salary and blue line shows the prediction of Experience and Salary.In this we Implemented Linear Regression </h3>

            <div class="col-md-6">

           <img src="data:image/png;base64,{{ graphic|safe }}" style="height:100%; width:100%;" title="">

            </div>

            <div class="col-md-6">
                <img src="data:image/png;base64,{{ graphic1|safe }}" style="height:100%; width:100%;" title="">
            </div>


        </div>

 <div class="row">
            <div class="col-md-6">
               <img src="data:image/png;base64,{{ graphic2|safe }}" style="height:100%; width:100%;" title="">
            </div>


            <div class="col-md-6">
               <img src="data:image/png;base64,{{ graphic3|safe }}" style="height:100%; width:100%;" title="">
            </div>

        </div>


             <div class="row">
            <div class="col-md-6">
               <img src="data:image/png;base64,{{ graphic4|safe }}" style="height:100%; width:100%;" title="">
            </div>


            <div class="col-md-6">
               <img src="data:image/png;base64,{{ graphic5|safe }}" style="height:100%; width:100%;" title="">
            </div>

        </div>

              <div class="row">
            <div class="col-md-6">
               <img src="data:image/png;base64,{{ graphic6|safe }}" style="height:100%; width:100%;" title="">
            </div>
                   <div class="col-md-6">

                   </div>
<h4>Linear Regression Based On Experience And Salary..Its Shows Whenever Experience Is increases Salary also will Increases</h4>
        </div>

    </div>
</div>

</div>
<script>
 $("#Category").on("change",function(){
  action_url = '/myapp/regression/'+$(this).val()
  $('#myform').attr('action', action_url);
  $('#myform').submit()
})
</script>
{% endblock %}
</body>
</html>