<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BISP SITE</title>
</head>
{% extends 'myapp/base.html' %}
{% block content %}
<body>
<div id="fh5co-pricing">

    <div class="container">

        <div class="row">
            <div class="col-md-3" align="center">
                <h3 align="center">Summary View</h3>
                {{ technology_table|safe }}

            </div>


            <div class="col-md-9">
                <h3 align="center">Detail View</h3>
                {{ technologydetail|safe }}

            </div>
        </div>

    </div>
</div>
</div>
</div>
</body>
{% endblock %}
</html>