<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
{% extends 'myapp/base.html' %}
{% block content %}
<body>


<div id="fh5co-pricing">

    <div class="container">
        <div class="row">
   <div class="col-lg-12 col-md-12">
                <form id="myform" method="post" name="myform">

                    <div class="col-lg-3 col-md-3">
                        <h3> Select Category</h3>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        {%csrf_token%}
                        <select id="Category" name="catagery_id">
                              <option value="">Select</option>
                            {% for Category in Category %}
                               {% if Category.Category == category_name.Category %}
                                   <option value="{{ Category.Category }}" selected>{{Category.Category}}
                                   </option>
                               {% else%}
                                  <option value="{{ Category.Category }}">{{ Category.Category}}
                                  </option>
                               {% endif %}



                            {% endfor %}
                        </select>
                    </div>
                    <ul class="messages">
                        {% for message in messages %}
                        <p
                                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                        {% endfor %}
                    </ul>
                    <div class="col-lg-3 col-md-3">

                    </div>


                </form>
            </div>
        </div>

        <br>

        <div id="div1">
        <div class="row">

            <h3 class="text-justify">This is the Time-Series Analysis which shows month over month opening on the basis of technology,location,experience,company,salary.
                </h3>

            <div class="col-md-6">
                <a href="/Technology/"><img src="data:image/png;base64,{{ graphic|safe }}"
                                            style="height:100%; width:100%;" title=""> </a>

            </div>

            <div class="col-md-6">
                <a href="/Location/"> <img src="data:image/png;base64,{{ graphic1|safe }}"
                                           style="height:100%; width:100%;" title=""></a>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <a href="/Experience/"> <img src="data:image/png;base64,{{ graphic2|safe }}"
                                             style="height:100%; width:100%;" title=""></a>
            </div>


            <div class="col-md-6">
                <a href="/Company/"><img src="data:image/png;base64,{{ graphic3|safe }}"
                                         style="height:100%; width:100%;" title=""></a>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="/Salary/"> <img src="data:image/png;base64,{{ graphic4|safe }}"
                                         style="height:100%; width:100%;" title=""></a>
            </div>
        </div>

    </div>
</div>

</div>
<script>
   $("#Category").on("change",function(){
  action_url = '/myapp/timeanalysis/'+$(this).val()
  $('#myform').attr('action', action_url);
  $('#myform').submit()
})
</script>
{% endblock %}
</body>
</html>