{% extends 'myapp/base.html' %}
{% block content %}
<div class="fh5co-info">
    <div class="container">

        <hr>

        <div class="d-flex p-3 bg-secondary text-white">
            <form method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="col-md-12 text-center">
                    <label>Upload A file</label>
                    <p class="text-center">Only accepts CSV Files ('Order of the CSV should be
                        Category,Technology,Location,Experience,Company,Salary,Opening')</p>
                    <p>The Format of CSV File should be</p>
                    <img src="../media/visual.png" height="8%" width="100%">
                    <br>
                    <div class="col-md-6 "><input class="btn btn-dark" type="file" name="file" accept=".csv" ></div>
                    {% if messages %}
                    {% for message in messages %}
                    <div>
                        <strong>{{message|safe}}</strong>
                        <p>{{count}}  Total Records Available in database</p>
                    </div>
                    {% endfor %}
                    {%else%}
                    {{order}}
                    <div class="col-md-6">
                        <button class="btn btn-dark" type="submit">Upload</button>
                    </div>
                    <ul class="messages">
                        {% for message in messages %}
                        <li
                      {{ message|safe }}></li>

                        {% endfor %}
                    </ul>

                </div>
            </form>
        </div>


        {%endif%}
    </div>
    <br>
</div>

{% endblock %}