{% extends 'myapp/base.html' %}
{% block content %}

<div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">

                </div>

                <div class="col-xs-10 text-right menu-1" style="margin:15px 0 0 0">
                    <ul>

                        <p class="active"><a href="{% url 'myapp:upload' %}">Upload File</a></p>




                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="fh5co-info">
    <div class="container">
        <h2 class=" text-center animate-box"> Opportunity Analytics </h2>

        <div class="row">
            <div class="col-lg-12 col-md-12  animate-box">
                {% load staticfiles %}
                <img src="{% static 'myapp\\images\\trends.jpg' %}" class="img-responsive back"
                     style="height:80%; width:100%; background-size:cover;">
            </div>


        </div>

    </div>
</div>
{% endblock %}
