{% extends 'registration/base.html' %}
{% block content %}
<div class="login_block">
  <div class="login_form_block">
    <div class="card-title">
      <center>
        <h2 class="welcome">Forgot Password </h2>
      </center>

    </div>
    <form method="post">
      <div class="form-group">
        <input type="text" class="form-control" id="exampleinputmail" placeholder="Email" name="email" value="{{request.POST.email}}">
      </div>
      <span class="error">{{ form.email.errors }}</span>
      {% csrf_token %}
      <center><button type="submit" class="btn btn-danger">Submit</button></center>
      <div class="col-sm-10 form-group text-center forgot" style="margin-top: 10px;">
        Already Have An Account? <a href="{% url 'common:home' %}">Login</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}