{% extends 'registration/base.html' %}
{% block content %}
<div class="ow marl justify-content-center login_row">
  <div class="login_block">
    <div class="login_form_block">
      <div class="welcome">BISP LMS</div>
      <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
      </p>
      <p>
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
      </p>
      <p class="text-center">
        <a href="/">Login</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}