{% extends 'root.html' %}

{% block main_menu %}
<ul class="navbar-nav mr-auto">
  <!-- add submenu for contacts-->
  <div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      style="box-shadow: none; color: #657b88">
      Lead Analytics
    </button>
    <div class="dropdown-menu mt-2">
      <a class="dropdown-item contact-list" id="common-dashboard" href="http://192.168.1.27:8000/">Dashboard</a>
      <a class="dropdown-item contact-list" id="filuploads" href="{% url 'LeadApplication:analytics_dashboard' %}">Lead Analytics</a>
    </div>
  </div>
<!--  <li class="nav-item"></li>-->
<!--  <li class="nav-item"><a class="nav-link" id="marketing-dashboard" href="{% url 'marketing:dashboard' %}">Linkedin</a></li>-->
  <li class="nav-item mt-2 contact_class" id="contact">
  <div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      style="box-shadow: none; color: #657b88">
      Smart Connect
    </button>
    <div class="dropdown-menu mt-2">
      <a class="nav-link" id="marketing-dashboard" href="{% url 'marketing:dashboard' %}">Dashboard</a>
      <a class="dropdown-item contact-list" id="contact-list" href="{% url 'marketing:contact_lists' %}" >Contacts List</a>

      <a class="dropdown-item contacts" id="contacts" href="{% url 'marketing:contacts_list' %}" >Contacts</a>
      <a class="nav-link" id="filupload" href="{% url 'marketing:basic_upload' %}">Pdf Upload</a>

    </div>
  </div>
</li>
<!--  <li class="nav-item"></li>-->
<!--  <li class="nav-item"><a class="nav-link" id="filuploads" href="{% url 'LeadApplication:lead_analytics' 'leads' %}">Lead Analytics</a></li>-->
<!--  <li class="nav-item"></li>-->

  <li class="nav-item"><a href="{% url 'myapp:index' %}" >Opportunity Analytics</a></li>
</ul>
{% endblock %}





{% comment %}


{% extends 'root.html' %}
{% load staticfiles %}
{% load compress %}
{% load thumbnail %}
{% block main_menu %}
<!-- <ul class="navbar-nav mr-auto">
</ul> -->
{% endblock %}
{% block header %}

{% endblock header %}

{% block content %}
<div class="side_menu">
  <!-- <div class="logo_block"> -->
  <!-- <a href="#">Django <span class="green_color text-uppercase">Crm</span></a> -->
  <div class="dropdown">
    <a class="dropdown-toggle navbar-brand mt-2 ml-3" href="#" role="button" id="dropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      style="color:#000; font-weight: 800; font-size: 1.5em;">
      BISP <span class="green_color text-uppercase" style="color:#7ae847">LMS</span>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="/">Sales</a>
      <a class="dropdown-item" href="{% url 'marketing:dashboard' %}">Marketing</a>
    </div>
  </div>
  <!-- </div> -->
  <div class="profile_block">
    <ul>

      <li data-toggle="tooltip" data-placement="bottom" title="{{request.user}}">
        <a href="#" class="profile_pic">
          <!-- <img src="https://lh3.googleusercontent.com/-6gBVCn2WaAk/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd7EWo94Fj0ep0DQa3tDjddczFC3g/s96-c-mo/photo.jpg" alt="profile picture"> -->
          {% if not request.user.profile_pic %}
          <img src="{% static 'images/user.png' %}" alt="Micro profile pic">
          {% else %}
          {% thumbnail request.user.profile_pic "25x25" as im %}
          <img src="{{ im.url }}">
          {% endthumbnail %}
          {% endif %}
        </a>
      </li>

      <li data-toggle="tooltip" data-placement="bottom" title="Users">
        <a href="{% url 'common:users_list' %}" class="sky_blue box"><i class="fas fa-users"></i>
        </a>
      </li>
      <li data-toggle="tooltip" data-placement="bottom" title="Change Password">
        <a href="{% url 'common:change_password' %}" class="red box"><i class="fas fa-key"></i></a>
      </li>
      <li data-toggle="tooltip" data-placement="bottom" title="Profile">
        <a href="{% url 'common:profile' %}" class="green box"><i class="fas fa-user"></i></a>
      </li>
      <li data-toggle="tooltip" data-placement="bottom" title="Logout">
        <a href="{% url 'common:logout' %}" class="purple box"><i class="fas fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </div>
  <div class="menu_block">
    <ul class="main_menu">
      <li class="parent_menu">
        <a href="{% url 'marketing:contact_lists' %}" class="red"><i class="far fa-address-book"></i>Contacts</a>
        <ul class="submenu">
          <li><a href="{% url 'marketing:contacts_list' %}" class="yellow"><i class="fas fa-bars"></i>All Contacts</a>
          </li>
          <li><a href="{% url 'marketing:contact_list_new' %}" class="yellow"><i class="far fa-plus-square"></i>Create
              Contact</a></li>
        </ul>
      </li>


    </ul>
  </div>

</div>

{% endblock %}

{% endcomment %}