{% load staticfiles %}

<html>
<head>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <title>The page you're looking for could not be found (404)</title>
  <link href="{% static 'css/403.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{%static 'images/favicon.ico'%}"/>
</head>

<body>
  <h1>
    404
  </h1>
  <div class="container">
    <h3>The page you're looking for could not be found.</h3>
    <hr />
    <p>Make sure the address is correct and that the page hasn't moved.</p>
    <p>Please contact your administrator if you think this is a mistake.</p>
    GO back Home<a href="/"> LMS Home</a>
  </div>
</body>
</html>
