{% load staticfiles %}
{% load compress %}

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BISP LMS</title>
    <!-- Bootstrap core CSS -->
      <link rel="icon" type="image/png" href="{%static 'images/favicon.ico'%}"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <!-- Custom styling plus plugins -->
    {% compress css %}
    <link href="{% static 'css/main.scss' %}" type="text/x-scss" rel="stylesheet">
    {% endcompress %}
    {% block extralinks %}{% endblock %}
  </head>
  <body class="login_register_body">
    <div class="container">
      <div class="row marl justify-content-center login_row">
        <div class="col-md-6 col-lg-6 col-xl-4">
          <div class="login_block">
            <div class="login_form_block">
              <div class="welcome">Forgot Password?</div>
              <form method="POST" action="">
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
                </div>
                <div class="forgot">Back to login <a href="{% url "common:login" %}">Click Here?</a></div>
                <button type="submit" class="btn btn-danger">Reset Password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>