<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BISP LMS</title>
    <!-- Bootstrap core CSS -->
      <link rel="icon" type="image/png" href="{%static 'images/favicon.ico'%}"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <!-- Custom styling plus plugins -->
    {% load sass_tags %}
      <link href="{% sass_src 'E:\\analytyics_leads_opportunity_pdf\\bispenv\\Django-CRM-master\\static\css\main.scss' %}" rel="stylesheet">
     <link href="{% sass_src 'E:\\analytyics_leads_opportunity_pdf\\bispenv\\Django-CRM-master\\static\\css\\mention.scss' %}" rel="stylesheet">


    {% block extralinks %}{% endblock %}
</head>
<body class="login_register_body">
<div class="container">
    <div class="row marl justify-content-center login_row">
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="login_block">
                <div class="login_form_block">
                    <div class="welcome">BISP LMS</div>
                    <form method="POST" action="">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email"
                                   name="email">
                            <span class="error">{{form.email.errors}}</span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Password" name="password">
                            <span class="error">{{form.password.errors}}</span>
                        </div>
                        <div class="forgot">Forgot Password <a href="{% url 'common:password_reset' %}">Click Here?</a>
                        </div>
                        {% if error %}
                        <p class="error">{{ message }}</p>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-12">
                        <button type="submit" class="btn btn-danger">Login</button>
                            </div>
<!--                             <div class="col-lg-8">-->


<!--                        <a href="{% url 'myapp:index' %}" class="btn btn-primary">Opportunity Analytics</a>-->
<!--                             </div>-->
                        </div>
                        &nbsp;
                        {% if ENABLE_GOOGLE_LOGIN and GP_CLIENT_SECRET and GP_CLIENT_ID %}
                        <a href="{% url 'common:google_login' %}" class="btn btn-primary">Google Login</a>
                        {% endif %}
                    </form>
                    <div class="credentials">
                        <span class="heading">Test credentials to Login</span>
                        <span>Email: <b>support@bisptrainings.com</b></span><br>
                        <span>Password:<b>bisp@123</b></span>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
